#container-subscriber{
    padding-top: 150px;
    width: 90%;
    margin: 0 auto;
    overflow: hidden;
}
#container-subscriber .indication-area{
   width: 100%;
   display: flex;
    justify-content: flex-end;
    align-items: center;
    color: rgb(43, 42, 42);
    font-weight: 400;
    font-size: max(10px, 1.5vw);
    margin-bottom: 30px;
    margin-top: 30px;
}

#container-subscriber .indication-area a{
    display: none;
}
.greeting-subscriber{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.greeting-subscriber > p{
    flex: 1;
    font-size: 2rem;
    font-weight: bold;
    color: #1C1E29;
    list-style: 2rem;
}
.greeting-subscriber > p > span{
    position: relative;
    padding-left: 10px;
}
.greeting-subscriber > p > span::before{
    content: '';
     padding: 3px;
     left: 0;
     top: 0;
    height: 90%;
    background: linear-gradient(97deg, rgba(61, 159, 235, 1) 0%, rgba(42, 85, 159, 1) 43%, rgba(33, 47, 120, 0.969625350140056) 91%);
    position: absolute;

}
.user__link-btn{
    text-align: center;
    background-color: white;
    font-size: 0.8rem;
    border: 2px solid #2A57A1;
    padding:5px 10px;
    border-radius: 30px ;
    color: #1C1E29;
    max-width: 300px;

}
@media(max-width: 600px){
    .user__link-btn{
        display: none;
    }
    #container-subscriber .indication-area{
        justify-content: space-between;
    }
    
    #container-subscriber .indication-area a{
        display: block;
        color: #1C1E29;
        border-bottom: 1px solid #1C1E29;
    }
    

}


/*Navegação painel usuario*/

.user-account-options{
    display: flex;
    width: 100%;
    margin: 30px auto;
    gap: 10px;
    flex-wrap: wrap;
    color: #1C1E29;
   
    
    
}

.user-account-options > .user-account-option{
   
    width: 10vw;
    height: 10vw;
    min-width: 100px;
    min-height: 100px;
    display: flex;
    align-items: center;    
    justify-content: center;
    flex-direction: column;
    border: 2px solid #1c1e295b;
    color: #1C1E29;
    box-sizing: border-box;  
}
@media (max-width){

}
.user-account-options > .user-account-option > div {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.user-account-options > .user-account-option > div > i{
    font-size: max(15px, 2vw);  
} 
.user-account-options > .user-account-option > div > span{
    font-size: max(10px, 1vw);
    padding: 5px;
    text-align: center;
  
}
.user-account-option{

    cursor: pointer;
}
.user-account-option:hover{
    background: linear-gradient(97deg, rgba(61, 159, 235, 1) 0%, rgba(42, 85, 159, 1) 43%, rgba(33, 47, 120, 0.969625350140056) 91%);
    color: white;
    border-color: transparent;

   
}
.user__error-status{
    display: flex;
    min-height: 150px;
    flex-wrap: wrap;
    ;
}
.user__container{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
  
    margin-top: 2vw;
    
}
.user__error-status{
    flex: 1;
    display: flex;
    align-items: center;
    gap: 20px;
}
.user__error-status strong{
    font-size: max(14px, 1vw);
}
.user__error-status div:nth-child(3){
    font-size: max(14px, 1vw);
}
.user__error-status div:nth-child(2){
    background: linear-gradient(97deg, rgba(61, 159, 235, 1) 0%, rgba(42, 85, 159, 1) 43%, rgba(33, 47, 120, 0.969625350140056) 91%);
    padding: 5px 10px;
    border-radius: 30px;
    font-size:  max(14px, 1.4vw);
    color: white;
    font-weight: 600;
}
.user__updated-information {
    width: 50%;
    margin-top: 2vw;
   
}
.user__updated-information h5{
    font-size: max(14px, 1.5vw);
}
.user__updated-information ul{
   
    margin: 0;
    padding: 0;
    padding: 10px;
    margin-bottom: 10px;
}
.user__updated-information > ul > li{
    list-style: none;
    display: flex;
    align-items: center;
    height: auto;
    padding: 10px;
   
}
.user__updated-information > ul > li:nth-child(2){
    border-top: 1px solid #1C1E29;
   
}

.user__updated-information__date{
    font-size: max(14px, 1.2vw);
    display: block;
    padding: 10px;
   
    

}
.user__updated-information__content{
   border-left: 1px solid #1C1E29;
   padding: 10px;
 
  
}
.user__updated-information__content h1{
    font-size: max(14px, 1vw);
   
}
.user__updated-information__content p{
    font-size: max(14px, 0.8vw);
}
.user__aling-btn{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.user__announcement{
    width: 100%;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #333;
    margin-top: 70px;
    color: white;
    margin-bottom: 70px;

}
.user__announcement p{
    text-align: center;
}
.user__error-btn{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    text-align: right;
    font-size: max(14px, 1vw);
    
    
}
.user__error-btn2{
    display: none;
    display: flex;
    flex-direction: column;
   
}
.user__error-btn2 p{
    font-size: 1rem;
    margin-bottom: 20px;
}


@media (max-width: 850px){
    .user__error-btn{
        display: none;
    }
    .user__error-btn2{
        display: block;
    }

}
