#dash-container{
    background: linear-gradient(97deg, rgba(61, 159, 235, 1) 0%, rgba(42, 85, 159, 1) 43%, rgba(33, 47, 120, 0.969625350140056) 91%);
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 150000;
    padding-top: 30px;
    padding-bottom: 30px;
   
}
.dash-container__content{
    width: 90%;
    margin: 0 auto;
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: space-between;
}
.dash__logo img{
    width: 10vw;
    min-width: 100px;
}
.dash__user{
    position: relative;
   
}
.menu__dash{
    background-color: rgba(0, 0, 0, 0.63);
    position: absolute;
    right: 0;
    width: 100%;
    height: 0;
    overflow: hidden;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    display: flex;
    transition: all ease 0.5s;
  

}
.menu__dash a{
    color: white;
    font-size: max(14px, 1vw);
    padding-bottom: 10px;

}

.dash__user .fa-bell{
    margin-right: 20px;
    color: white;
    font-size: max(14px, 2vw);

   
}
.dash__user  .fa-user{
    color: white;
    font-size: max(14px, 2vw);
    cursor: pointer;
}
.dash__user:hover .menu__dash{
    height: 100px;
}