.Btn-wite{
    background-color: white;
    color: rgb(49, 49, 51);
    width: 100%;
    max-width: 140px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 30px;
   font-size: 0.8rem;
}