.input_-dashboard {
    display: flex;
    flex-direction: column;
}
.input_-dashboard input{
   
    border: none;
    font-size: max(14px, 1.5vw);
    padding: 1vw;
    width: 95%;
    background-color: #d4d1d1;
    color: rgba(49, 49, 49, 0.774);
    cursor: pointer;
}
.input_-dashboard label{
    color: #1C1E29;
    font-size: max(14px, 1.5vw);
    padding-bottom: 10px;
    margin-left: 10px;
    padding-top: 10px;
}