#dashboard-nav{
    width: 90%;
}

.dashboard-nav__nav ul{
    display: flex;
    padding: 0;
    border-bottom: 1px solid #86878D;
    margin-top: 50px;
    justify-content: space-between;
    margin-bottom: 50px;
    z-index:0;
    flex-wrap: wrap;
    gap: 10px;
}

.dashboard-nav__nav > ul > li{
    flex: 1;
    color:#86878D ;
    list-style: none;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 0.7rem;
    min-width: 200px;
    max-width: 200px;
    text-align: left;
    padding-bottom: 10px;
    z-index: 20;
    cursor: pointer;
}
.nav-active{
  position: relative;
    background: linear-gradient(97deg, rgba(61, 159, 235, 1) 0%, rgba(42, 85, 159, 1) 43%, rgba(33, 47, 120, 0.969625350140056) 91%);
 padding-bottom: 5px;

}

