#container_load{
    width: 100%;
    height: 100vh;
    background-color: #1C1E29 ;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}
.load__content{
    overflow: hidden;
    /* border-left-color:  #2B58A2; */
    width: 70px;
    height: 70px;
    border-radius: 50%;
    animation: spin 1s linear infinite;
    background: linear-gradient(97deg, rgba(61, 159, 235, 1) 0%, rgba(42, 85, 159, 1) 43%, rgba(33, 47, 120, 0.969625350140056) 91%);

}
.spiner-center{
    background-color: #1C1E29 ;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    transform: scale(0.8);
}
.spiner__salutation{
    color: white;
    text-align: center;
    margin-bottom: 30px;
    animation: txtFadein 2s;
}
.spiner-txt{
    margin-top: 30px;
    color: white;
    animation: txtFadein 7s;
    position: relative;
}
.spiner-time{
    transition: all ease 0.5s;
}
.txt-final-load{
    color: white;
    position: absolute;
    top: 51%;
    transition: all ease 0.5s;
    opacity: 0;
}
.spiner-ico-coroa{
    width: 50px;
    height: 50px;
    position: absolute;
    opacity: 0;
    transition: all ease 0.5s;
}
@keyframes spin{
    to { transform: rotate(360deg);}
}
@keyframes txtFadein {
    0%   { opacity: 0; }
    25%  { opacity: 0; }
    75%   { opacity: 0; }
    100% { opacity: 1; }
    /* from { opacity: 0; }
    to { opacity: 1; } Padrão */
}
