.button-red{
    background-color: #D7263D;
    border-radius: 30px;
    padding-left: 1.5rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-right: 1.5rem;
    color: white;
    cursor: pointer;    
}