.overlay{
    background: rgba(24,24,28,.9);
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 9999;

    display: flex;
    justify-content: center;
    align-items: center;
}

.container{
    background: white;
    width: 100%;
    max-width: 400px;
    padding: 2rem 3rem;
    margin: 1rem;
    border-radius: 5px;
    box-shadow: 0 0 60px rgba(0,0,0,.05);
    text-align: center;
    position: relative;
}

.container p{
    font-size: 1rem;
    margin-top: .25rem;
}

.container button{
    position: absolute;
    right: 0;
    top: 0;
    background: transparent;
    border: 0;

    color: #333;
    cursor: pointer;
}
