.button-icon{
    background: linear-gradient(97deg, rgba(61, 159, 235, 1) 0%, rgba(42, 85, 159, 1) 43%, rgba(33, 47, 120, 0.969625350140056) 91%);
    padding: 1px;
    border-radius: 20px;
    
}
.button-icon button{
    background-color: #1C1E29;
    padding: 0.5rem;
    border-radius: 20px;
    color: white;
    font-size: 0.8rem;
    cursor: pointer;
}

.button-icon.danger{
    background: linear-gradient(97deg, rgb(235, 61, 61) 0%, rgb(159, 42, 42) 43%, rgba(120, 33, 33, 0.97) 91%);   
}
.button-icon button.danger{
    background-color: #ededed !important;
    color: #333;
}