.movieRow{
    position: relative;
    width: 100%;
    max-width: 83.33%;
    margin: 0 auto;
    
}
.movieRow--left, .movieRow--rigth{
    position: absolute;
    display: flex;
    height: 100%;
    cursor: pointer;
    color: white;
    z-index: 99999999;
}
.movieRow--left i, .movieRow--rigth i{
    width: 30px;
    height: 30px;   
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid white;
    border-radius: 50%;
}
.movieRow--left{
    left: -40px;
    width:40px;
    background-color:#1C1E29;
    align-items: center;
    justify-content: flex-start;
}
.movieRow--rigth{
    right: 0;
    width: 70px;
    align-items: center;
    justify-content: flex-end;
    background: rgb(28,30,41);
background: linear-gradient(90deg, rgba(28,30,41,0) 0%, rgba(28,30,41,0.6671043417366946) 25%, rgba(28,30,41,0.8155637254901961) 35%, rgba(28,30,41,1) 57%);
}
.movieRow--listarea{
   transition: all ease 1s;
   width: 100%;
   overflow-x: hidden;

}
.movieRow--list{
    display: flex;
    transition: all ease 1s;
   
}
.movieRow--item{
    background-color: rebeccapurple;
    flex: 1;
    min-width: 200px;
   
    height: auto;
   transform: scale(0.9);
}
.movieRow--item img{
    width: 100%;
}
.progress-schedule{
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
}
.schedule{
    width: 5px;
    height: 3px;
    padding: 2px;
    margin-right: 5px;
    z-index: 99999999999999;
}