#container_load{
    width: 100%;
    height: 100vh;
    background-color: #1C1E29 ;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99999999999999;
    overflow: hidden;
}
.load__content{
    overflow: hidden;
    /* border-left-color:  #2B58A2; */
    width: 70px;
    height: 70px;
    border-radius: 50%;
    animation: spin 1s linear infinite;
    background: linear-gradient(97deg, rgba(61, 159, 235, 1) 0%, rgba(42, 85, 159, 1) 43%, rgba(33, 47, 120, 0.969625350140056) 91%);

}
.spiner-center{
    background-color: #1C1E29 ;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    transform: scale(0.8);
}

@keyframes spin{
    to { transform: rotate(360deg);}
}