#box-questao{
    margin-bottom: max(10px, 1vw);
   transition: all ease 0.5s;
}


.pergunta{
    padding-top: max(8px, 0.8vw);
    padding-bottom: max(8px, 0.8vw);
    padding-left: 30px;
    padding-right: 20px;
    color: #2c2d38 ;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    font-size: 1.2rem;
    background-color: white;
    transition: all ease 0.5s;
}


.pergunta i{
    transition: all ease 0.5s;
}
.resposta{
    overflow: hidden;
    transition: all ease 1s;
    font-size: 0.8rem;
    padding-left: 30px;
    padding-right: 30px;
    line-height: 1.5;
    color: #2c2d38 ;
    background-color: white;
    max-height: 0;   
}

.resposta p{
   padding-top: 10px;
   padding-bottom: 10px;
}
.rotateico span{
    font-weight: 600;

}
.rotateico i{
    transform: rotate(45deg);
    
}

