.catalogContainer{
  width: 100%;

}
.container_page_catalogo{
    width: 90%;
    margin: 0 auto;
    padding-top: 100px;
}
.select-category{
    display: flex;
    align-items: center;
    margin-top: 70px;
    margin-bottom: 70px;
    h3{
        color: white;
        font-size: 2.5rem;
        margin-right: 40px;
        margin-left: 10px;
        position: relative;
        padding-left: 10px;
        &::before{
            content: '';
            width: 5px;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
            background: linear-gradient(97deg, rgba(61, 159, 235, 1) 0%, rgba(42, 85, 159, 1) 43%, rgba(33, 47, 120, 0.969625350140056) 91%);

        }
    }
    .go-back-catalogo{
        display: flex;
        align-items: center;
        i{
            color: white;
            width: 30px;
            height: 30px;
            display: flex;
            align-items: center;
            justify-content: center;
            border: 2px solid white;
            border-radius: 50%;
            cursor: pointer;
        }
    }
    select{
        height: 35px;
        background-color: black;
        color: white;
        padding: 5px;
        align-items: center;
        border: 2px solid white;
        border-radius: 2rem;
        outline: none;
    }
}
.catalog_main{
    width: 100%;
   margin-bottom: 100px;
}
.movie-list-ex{
    display: flex;
    flex-wrap: wrap;
}
.movie-list-ex_card{
    width: 100%;
    max-width: 200px;
    min-width: 200px;
    height: 300px;
    position: relative;
    transform: scale(0.9);
    transition: all ease 0.5s;
    cursor: pointer;
    img{
        top: 0;
        left: 0;
        width: 100%;
        position: absolute;
    }
    &:hover{
        transform: scale(1);
    }
}
