.container-category-page{
    width: 100%;
    margin: 0 auto;
    overflow: hidden;
    padding-bottom: 100px;
}
.banner__category{
   width: 100%;
   height: 90vh;
   margin: auto; 
   display: flex;
   align-items: flex-end;
   position: relative;
   z-index: 0;
   overflow: hidden;
   
   img{
       position: absolute;
       width: 100%;
   }
   
}
.category-info{
    color: white;
    z-index: 10;
    width: 100%;
    max-width: 83.33%;
    margin: 0 auto;
   
    span{
        font-size: 1.2rem;
    }
    
    .title-category{
        margin-top: 20px;
        display: flex;
        align-items: center;
        a{
            color: white;
        }
        .category__get-out{
            width: 30px;
            height: 30px;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 50%;
            border: 2px solid white;
            margin-right: 10px;
        }

        h1{
           margin: 0;
            padding-left: 10px;
           position: relative;
           font-size: 1.5rem;
            &::before{
                content: '';
                width: 5px;
                height: 100%;
                position: absolute;
                background: linear-gradient(97deg, rgba(61, 159, 235, 1) 0%, rgba(42, 85, 159, 1) 43%, rgba(33, 47, 120, 0.969625350140056) 91%);
                top: 0;
                left: 0;
            }
        }
       
    }
    .category__description{
        
        max-width: 50%;
        padding-top: 20px;
        p{
            font-weight: lighter;
            font-size: 0.9rem;
        }
     }
   
}
.category__main{
    width: 100%;
    max-width: 83.33%;
    padding-top: 30px;
    margin: 0px auto;
    nav{
        ul{
            display: flex;
            li{
                margin-right: 30px;
                list-style: none;
                text-align: center;
                color: white;
                text-transform: uppercase;
                cursor: pointer;
                padding-bottom: 5px;
                font-size: 1.2rem;
            }
        }
    }
}

.active-category{
    position: relative;
    &::before{
        content: '';
        width: 100%;
        height: 5px;
        background: linear-gradient(97deg, rgba(61, 159, 235, 1) 0%, rgba(42, 85, 159, 1) 43%, rgba(33, 47, 120, 0.969625350140056) 91%);
        position: absolute;
        bottom: 0;
    }
}
.content-category-abas{
    width: 100%;
    max-width: 83.33%;
    margin: 30px auto;
    min-height: 250px;
    position: relative;
  
}
.active-category-aba{
   z-index: 1;
   opacity: 1;
}

.in-production{
    background-color: rgb(146, 143, 143);
}
.content-aba-txt{
    padding-top: 30px;
    
    p{
        color: white;
        font-size: 1rem;
        
    }
    .container-btn-category{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 30px;
        
    }
    
}
.indication-movie{
    margin-top: 40px;
   span{
       color: white;
       font-size: 1rem;
   }
    
}