#checkout-container2{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(230, 224, 224);
}

.content-checkout{
    width: 100%;
    max-width: 700px;
    padding: 10px;

}
.secure-payment{ 
    width: 100%;
    text-align: left;
    font-size: 1.5rem;
}

.option-payment{
    display: flex;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    max-width: 350px;
    background-color: white;
    padding: 10px;
    border-radius: 10px;
    margin-top: 10px;
}