#container-teste{
    width: 100%;
    height: 100vh;
    background-color: $bkg;
    padding-top: 100px;
}
.container_carrosel{
    width: 100%;
    max-width: 83.33%;
    margin: 0 auto;
    min-height: 300px;
    overflow: hidden;
    position: relative;
    display: flex;
    flex-direction: column;
    transition: all ease 0.5s;
}
.carrosel{
    width: 100%;
    height: 300px;
    display: flex;
    transition: all ease 0.5s;
   
}
.card{
    flex: 1;
    min-width: 200px;
    background-color: rgb(131, 131, 131);
    margin: 10px;
    position: relative;
}
.hover-movie{
    position: absolute;
    top: 0;
    left: 0;
    width: 125%;
    height: 100%;
    background-color: brown;
    opacity: 0;
    transition: all ease 0.5s;
    &:hover{
        opacity: 1;
        top: -10px;
        left: 30px;
        z-index: 9999999;
    }
}
.btn-slider-left, .btn-slider-right{
    position: absolute;
   display: flex;
   align-items: center;
   justify-content: center;
   height: 100%;
   border: none;
   color: white;
   cursor: pointer;
   i{
       border-radius: 50%;
       border: 2px solid white;
   }
}
.btn-slider-left{
    left: 10px;
    background-color: $bkg;
    padding: 10px;
    // display: none;
}
.btn-slider-right{
    background-color: $bkg;
    right: 0;
    width: 50px;
    box-shadow: -14px 3px 19px 7px #1C1E29;
}
