#container-dashboard{
    width: 100%;
   background-color: white;
    margin: 0 auto;
    height: 100%;
    overflow: hidden;
    font-family: $font-txt !important;
}
#container-dashboard  footer{
    background-color: $bkg;
}
.gradient-border{
    background-color: $bkg;
}
.container-dashboard__top{
    padding-top: 120px;
    width: 90%;
    max-width: 1000px;
    margin: 0 auto;
        h3{
            color: white;
        }
    
}
.user__plan{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 60px;
    border-bottom: 1px solid white;
    gap: 10px;
    a{
        color: white;
        border-bottom: 1px solid white;
    }
  
}
.info-current-plan-date{
    font-size: 0.8rem;
}
.lex-item{
    flex: 1;
    max-width: 250px;
    min-width: 250px;
}
.renew_payment{
    display: flex;
    flex-direction: column;
    gap: 10px;
    h3{
        padding-top: 30px;
        padding-bottom: 15px;
        margin: 0;
    }
    span{
        color: white;
        margin: 0;
        padding: 0;
    }
    button{
        width: 100%;
        max-width: 150px;
        padding: 0.3rem;
        border-radius: 4px;
        cursor: pointer;
    }
    p{
        margin: 0;
        padding: 0;
        font-size: 0.8rem;
        color: white;
    }
    a{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        max-width: 250px;
        border: 1px solid white;
        padding: 0.2rem;
        font-size: 0.8rem;
    }
}
.change-plan{
    font-family: $font-txt;
    display: flex;
    flex-direction: column;
   justify-content: flex-end;
    h3{
        text-align: center;
        color: white;
        font-size: 1.5rem;
    }
   p{
       text-align: center;
       color: white;
   }
   
}
.dashboard__main-content{
    padding-bottom: 300px;
    height: 100%;
    min-height: 100vh;
    ul{
        margin: 0;
        padding: 0;
        position: relative;
        li{
            position: absolute;
            list-style: none;
            width: 100%;
            height: 100%;
            background-color: yellow;
            opacity: 0;
            z-index: 0;
            transition: 0.5s;
        }
    }
}
.active-tab-user{
    opacity: 1 !important;
    z-index: 1 !important;
}

.crad__current-plan{
    width: 100%;
    max-width: 250px;
    margin: 5px;
    border-radius: 6px;
    background: linear-gradient(97deg, rgba(61, 159, 235, 1) 0%, rgba(42, 85, 159, 1) 43%, rgba(33, 47, 120, 0.969625350140056) 91%);
    padding: 0.4rem;
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-family: $font-txt;
    color: white;
    
    .current-plan-price{
        display: flex;
        justify-content: space-between;
        font-size: 1.2rem;
        align-items: center;
    }
    .current-plan-price span:nth-child(2){
        font-size: 0.8rem;
    }
    .current_plan{
        font-size: 0.8rem;
    }
}

/*Dashboard ADM*/
.container__dashboard-adm{

    font-family: $font-txt;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    background-color: $bkg;
    display: flex;
    flex-wrap: wrap;
    .input_-dashboard{
        min-width: 50%;
        display: flex;
        align-items: center;
    }
   
    input{
       width: 100%;
       max-width: 560px;
        
        
    }
}
body{
    background-color: $bkg;
}
.containerAdm{
   background-color: $bkg;
   height: 100%;
   width: 100%;
  
   .adm-content{
       width: 90%;
       height: 100%;
      
       max-width: 1000px;
       margin: 0 auto;
   }
}
.container_nav_control{
   font-family: $font-txt;
   text-transform: uppercase;
        margin: 0 auto;
    ul{
        display: flex;
        flex-wrap: wrap;
        margin: 0;
        padding-top: 150px;
        padding-left: 0;
        padding-bottom: 5px;
        justify-content: space-between;
        border-bottom: 1px solid white;
        gap: 10px;
        li{
            flex: 1;
            min-width: 200px;
            max-width: 200px;
            list-style: none;
            margin: 0;
            color: white;
            cursor: pointer;
            font-size: 0.8rem;
        }
    }
}
.content-adm_abas{
    
    width: 100%;
    height: 100%;
    
}
    
#contral_abas{
   
    padding-left: 0;
    margin: 0;
    width: 100%;
    height: 50vh;
    position: relative;
   
    li{
        list-style: none;
        position: absolute;
        width: 100%;
        height: 100%;
        opacity: 0;
        z-index: 0;
        transition: 1s;
    }
}
.adm-active{
    opacity: 1 !important;
    z-index: 1 !important;
    
}

/*Forma de pagamento*/
#container__change-payment{
    font-family: $font-txt;
    z-index: 2;
}
.change-payment__content{
    padding-top: 80px;
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
    position: relative;
    h3{
        color: white;
    }
    p{
        color: white;
    }
    
}
.container-btn-pass4{
    position: relative;
    z-index: 3;
}
.container-modal-imgs{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 70%;
    overflow-y: scroll;
    margin-top: 30px;
   

    .container-img-galery{
        flex:1;
        min-width: 9rem;
        cursor: pointer;
        transform: scale(0.9);
        transition: all ease 0.5s;
        position: relative;
        &:hover{
            transform: scale(1);
        }
        div{
            position: absolute;
            background-color: transparent;
            width: 100%;
            height: 100%;
            top: 0;
            transition: all ease 0.5s;
            display: flex;
            align-items: center;
            justify-content: center;
            i{
                color: transparent;
                transition: all ease 0.5s;
            }
            &:hover{
                background-color: rgba(0, 0, 0, 0.507);
            }
            &:hover i{
                color: white;
            }
        }
       
    }
}
.change-payment__content-modal{
    position: fixed;
    background-color: white;
    padding-top: 150px;
    padding-left: 10px;
    padding-right: 10px;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    width: 0;
    z-index: 9000;
    transition: 0.2s;
    opacity: 0;
    // overflow: auto ;
    .btn-close-modal{
        position: absolute;
        right: 10px;
        top: 100px;
        color: black;
        font-size: 2rem;
        cursor: pointer;
    
    }
    .content-modal{
      display: flex;
      gap: 10px;
      flex-direction: column;
      button{
        background: linear-gradient(97deg, rgba(61, 159, 235, 1) 0%, rgba(42, 85, 159, 1) 43%, rgba(33, 47, 120, 0.969625350140056) 91%);
          max-width: 190px;
          color: white;
          padding: 8px;
          font-size: max(10px, 0.8rem );
      }
      input{
          font-size:  max(10px, 0.8rem ) ;
          color: rgb(124, 119, 119);
      }
  }
}


.login-social-network{
    position: fixed;
    top: 40%;
    left: 35%;
    margin-left: auto;
    display: flex;
    flex-direction: column;
    padding-top: 50px;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
    background-color: #ffffff;
    box-shadow: 2px 4px 8px 3px rgba(0,0,0,0.24);
    border-radius: 6px;
    transform: scale(0);
    transition: all ease 0.2s;
    .border-social-blue{
        background: linear-gradient(97deg, rgba(61, 159, 235, 1) 0%, rgba(42, 85, 159, 1) 43%, rgba(33, 47, 120, 0.969625350140056) 91%);
        border-radius: 2rem;
        padding: 3px;
        display: flex;
        margin-bottom: 10px;
        min-width: 200px;
    }
    &:hover{
        transform: scale(1);
    }
    .close{
        position: absolute;
        right: 10px;
        top: 5px;
        color: rgba(42, 85, 159, 1);
        font-size: 2rem;
        cursor: pointer;
    }
    .title{
        margin-bottom: 20px;
        font-size: 0.8rem;
    }
   
    button{
        width: 100%;
        padding: 0.5rem;
        background-color: white;
        border-radius: 2rem;
        position: relative;
        color: #8181819d;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        &:disabled{
            cursor: not-allowed;
        }
        i{
            position: absolute;
            left: 15px;
            font-size: 1.5rem;
           
        }
    }
}

.active-modal-social{
    transform: scale(1);
}
.state-bond{
    position: absolute;
    right: 10px;
}
.state-bond-gren{
    position: absolute;
    right: 10px;
    color: rgb(36, 228, 36);
}