/*TELA INICIAL DA DASHBOARD DO ADMINISTRADOR*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.adm-home-screen{
    background-color: white;
   width: 100%;
    padding-top: 150px;
    position: absolute;
}
.adm-home-screen__container{
    width: 90%;
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 20px;
}
.adm-home-screen__container-flex{
    display: flex;
    align-items: center;
    gap: 10px;
}
.adm-home-screen__container-flex-item{
    flex: 1;
}
.btn-adm-hom-scren{
    border: 2px solid #3273be;
    padding: 10px;
    width: 100%;
    max-width: 250px;
    font-size: 0.8rem;
    display: flex;
    align-items: center;
    justify-content: center;
    color: $bkg;
    border-radius: 30px;
    

}
.aline-flexend{
    display: flex;
    justify-content: flex-end;
}
.txt-1{
    font-size: min(16px, 3vw);
}
.txt-2{
    font-size: min(14px, 2vw);
}
.txt-3{
    font-size: min(10px, 1vw);
}
.flex1{
    flex: 1;
}
.min-width-100{
    min-width: 100px;
}
.title-1{
    font-size: min(30px, 5vw);
}
.title-2{
    font-size: min(20px, 5vw);
    font-weight: bold;
    
}
.uppercase{
    text-transform: uppercase;
}
.color-txt{
    color: $bkg;
    
}
.bold{
    font-weight: 600;
}
.flex-row{
    display: flex;
    flex-direction: row;
}
.flex-colum{
    display: flex;
    flex-direction: column;
}
.aling-itens{
    align-items: center;
}
.aling-itens__flex-end{
    align-items: flex-end;
}
.justify-content__flex-end{
    justify-content: flex-end;
}
.gap-10{
    gap: 10px;
}
.gap-20{
    gap: 20px;
}
.gap-30{
    gap: 50px
}
.txt-aling-rigth{
    text-align: right;
}
.txt-aling-center{
    text-align: center;
}
.margin-top-40{
    margin-top: 40px;
}
.border-left-1{
    border-left: 1px solid $bkg;
}
.pading-left-10{
    padding-left: 10px;
}
.blue-left-border{
    position: relative;
    padding-left: 10px;

    &::before{
        content: '';
        width: 5px;
        height: 100%;
        background: linear-gradient(97deg, rgba(61, 159, 235, 1) 0%, rgba(42, 85, 159, 1) 43%, rgba(33, 47, 120, 0.969625350140056) 91%);
        position: absolute;
        left: 0;
    }
}
.nav-dash-adm{
    box-sizing: border-box;
    width: 100px;
    height: 100px;
    border: 2px solid #1c1e2991;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    justify-content: center;
    text-align: center;
    cursor: pointer;
    i{
        font-size: 50px;
        color: $bkg;
    }
   span{
       font-size: 8px;
   }
   img{
       width: 40px;
   }
}
.nav-dash-adm:hover{
    
    border: none ;
    color: white;
    background: linear-gradient(97deg, rgba(61, 159, 235, 1) 0%, rgba(42, 85, 159, 1) 43%, rgba(33, 47, 120, 0.969625350140056) 91%);
}


.container__status{
   
    display: flex;
    justify-content: space-between;
    gap: 20px;
    width: 90%;
    margin: 0 auto;
    padding-top: 70px;
    .container__status-content{
       
       display: flex;
       flex-direction: column;
        .container__status-content__title{
            min-height: 50px;
            display: flex;
            gap: 10px;
            align-items: center;
            color: $bkg;
            justify-content: space-between;
            margin-bottom: 30px;
            h3{
                font-size: min(16px, 3vw);
            }
            div{
                background: linear-gradient(97deg, rgba(61, 159, 235, 1) 0%, rgba(42, 85, 159, 1) 43%, rgba(33, 47, 120, 0.969625350140056) 91%);
                color: white;
                padding: 5px 10px;
                border-radius: 30px;
            }
            span{
                font-size: min(10px, 1vw);
                max-width: 200px;
            }
          
        }
        button{
          background-image: url(../../assets/imagens/botão1.png);
          background-repeat: no-repeat;
          background-size: 100% 100%;
          background-color: transparent;
            padding: 5px 10px;
          margin: 0 auto;
          cursor: pointer;
          font-size: 0.8rem;
        }
        .container__status-content__info{
            display: flex;
            align-items: center;
            padding-bottom: 10px;
            padding-top: 10px;
            height: 80px;
            
            max-width: 500px;
            div:nth-child(1){
               
                font-size: min(10px, 1vw);
                padding: 5px;
                min-width: 100px;
            }
            div:nth-child(2){
               padding-left: 10px;
               border-left: 2px solid $bkg;
                h5{
                    font-size: min(14px, 2vw);
                }
               span{
                font-size: min(14px, 1vw);
               }
            }
        }
    }
}
.border-top-status{
    border-top: 2px solid $bkg;
}
.container-tools__adm{
    width: 90%;
    
    margin: 70px auto;
    h5{
        margin-top: 20px;
        margin-bottom: 20px;
    }
    .tools__adm{
        margin-left: 20px;
    }
}

/*seção inserção midia*/
#container__insert-media{
    position: absolute;
    width: 100%;
    min-height: 100vh;
  
    background-color: white;
}
.insert-media__salutation{
    padding-top: 150px;
    width: 90%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    span{
        font-size: 40px;
        font-weight: 600;
        color: $bkg;
    }

}
.insert-media__btn-group{
    display: flex;
    gap: 20px;
    .btn__go-back-midias{
        background: linear-gradient(97deg, rgba(61, 159, 235, 1) 0%, rgba(42, 85, 159, 1) 43%, rgba(33, 47, 120, 0.969625350140056) 91%);
        
        padding:10px;
        cursor: pointer;
        color: white;
    }
}
.option__insert-media{
    width: 90%;
    
    margin: 30px auto;
    display: flex;
    flex-direction: column;
    gap: 10px;
    p{
        margin-bottom: 30px;
    }
}

/*seção add filme**/
.add__traler{
    width: 100%;
}
.btn__add__traler{
    background: linear-gradient(97deg, rgba(61, 159, 235, 1) 0%, rgba(42, 85, 159, 1) 43%, rgba(33, 47, 120, 0.969625350140056) 91%);
    width: 100%;
    max-width: 150px;
    text-align: center;
    color:white;
    padding: 5px 10px;
    cursor: pointer;
    margin-bottom: 30px;
    margin-top: 10px;
}

.container__list-trailer{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}
// GAS
.list-trailer__item{
    flex: 1;
    min-width: 250px;
    max-width: 300px;
   div{
       display: flex;
       flex-direction: column;
       gap: 5px;
       margin-bottom: 10px;
       input{
          border: none;
          background-color: rgba(51, 51, 51, 0.212);
          padding: 8px;
       }
   }
   button{
       max-width: 150px;
   }
}
#container__add-movie-ndash{
    background-color: rgb(255, 255, 255);
    padding-top: 150px;
    button{
        cursor: pointer;
    }
}
.content_add-movie{
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
    h5{
        color: $bkg;
    }
    form{
        font-family: $font-txt;
        display: flex;
        flex-wrap: wrap;
        gap: 20px;
        .adm_agroup-input{
            display: flex;
            flex-direction: column;
            gap: 10px;
            width: 100%;
            max-width: 30%;
            input{
                border: none;
                padding: 0.3rem;
                width: 97%;
                background-color: #e2dddd;
                
            }
            label{
                padding-left: 10px;
                color: $bkg;
                font-size: 0.8rem;
            }
            select{
                padding: 5px;
                border: none;
                border-radius: 20px;
                cursor: pointer;
                color: rgb(51, 48, 48);
            }
            button{
                background-color: #D3D3D3;
                width: 100%;
                max-width: 150px;
                padding: 5px;
            }
            
        }
        .adm_agroup-txt-area{
            display: flex;
            flex-direction: column;
            min-width: 100%;
            gap: 15px;
            label{
                color: $bkg;
                font-size: 0.8rem;

            }
            textarea{
               width: 100%;
               border-radius: 10px;
               padding: 0.3rem;
               background-color: #e2dddd;
               border: none;
            }
        }
    }
}
.container-btn__add-muvie{
    width: 100%;
    padding-top: 25px;
    padding-bottom: 25px;
    margin-top: 20px;
    display: flex;
    justify-content: flex-end;
    gap: 20px;
}
.btn__add-muvie{
    border-radius: 20px;
    padding: 6px 10px;
    font-family: $font-txt;
    cursor: pointer;
}
.btn__add-muvie:nth-child(2){
    background: linear-gradient(97deg, rgba(61, 159, 235, 1) 0%, rgba(42, 85, 159, 1) 43%, rgba(33, 47, 120, 0.969625350140056) 91%);
    color: white;
    
   
}
.input-checkbox{
    color: $bkg;
    
}
.add-movie__salutation{
    padding-bottom: 30px;
    padding-top: 30px;
    display: flex;
    justify-content: space-between;
   
}
/*seção de filmes cadastrados*/
/*Movie aprove*/
.ver-filme-link{
    color: $bkg;
    transition: all 0.2s;
    border-bottom: 3px solid transparent;
}
.ver-filme-link:hover{
    border-color: $bkg;
    box-sizing: border-box;
}
#container__movie-aprove{
    padding-top: 150px;
    background-color: white;
    position: absolute;
    width: 100%;
    padding-bottom: 70px;
}
.container-muvie-aprove{
    width: 90%;
    max-width: 1000px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    gap: 10px;
    flex-wrap: wrap;
    
    .card-muvie-aprove{
        flex: 1;
        min-width: 230px;
        max-width: 230px;
        height: 290px;
        background-color: #333;
        padding: 10px;
        color: white;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        padding-bottom: 10px;
        font-family: $font-txt;
    }
}
.btn__delete-movie{
 width: 100%;
 display: flex;
 padding: 10px;
    button{
        margin: 0 auto;
        padding: 5px 10px;
        background-color: rgba(51, 51, 51, 0.39);
        color: #333;
    }
}
.indicate-aprove{
    width: 100%;
    font-family: $font-txt;

}

.aprove-btn-group{
    font-family: $font-txt;
    width: 100%;
    display: flex;
    gap: 15px;

    
}
.approval-condition{
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
    padding-top: 10px;
    padding-bottom: 10px;
    color: $bkg;
}
.salutation__catalogo{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
    margin-bottom: 70px;
    span{
        font-size: 40px;
        font-weight: 600;
        color: $bkg;
        
    }
    .salutation__catalogo__go-back{
        background-image: url(../../assets/imagens/botão1.png);
        background-size: 100% 100%;
        background-repeat: no-repeat;
        background-position: center;
        padding: 5px 10px;
        min-width: 100px;
        text-align: center;
        color: $bkg;
    }
}

/*COnfiguração de catalogo*/
#conatainer-congfig-catalog{
    position: absolute;
    background-color: white;
    width: 100%;
    padding-top: 150px;
}
.saudation__config{
    width: 100%;
    max-width: 1000px;
    margin: 30px auto;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    span{
        font-size: 40px;
        font-weight: 600;
        color: $bkg;
    }
    p{
        font-size: 0.8rem;
        margin-top: 15px;
    }
}
.config-catalogo{
    width: 100%;
    max-width: 1000px;
    margin: 50px auto;
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    .config__genero-categoraia{
        flex: 1;
        padding: 20px;
        min-width: 100%;
        background-color: rgb(236, 236, 236);
        height: 300px;
        overflow-x: hidden;
        overflow-y: auto ;
        .config__input-add{
            display: flex;
            justify-content: space-between;
            margin-bottom: 30px;
            margin-top: 10px;
            button{
                padding: 10px;
            }
        }
    }

}
.config__item{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 5px;
    margin-top: 5px;
    padding: 10PX;
    border: 1px solid #333;
    button{
        padding: 10px;
        cursor: pointer;
        background-color: white;
        border: 1px solid blue;
    }
   
}

.indicate-area{
   width: 100%;
   text-align: right;
   color: $bkg;
   margin-bottom: 30px;
}
// enserir podcast
#container__insertPodcast{
    background-color: white;
    width: 100%;
    position: absolute;
    padding-top: 150px;
}
.insert-podcast__content{
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
}
.podcast__content__salutation{
    display: flex;
    align-items: center;
    justify-content: space-between;
    span{
       font-weight: 600;
       color: #333;
       font-size: 40px;
    }
    p{
        margin-top: 10px;
        color: rgb(129, 128, 128);
    }
}
.container_input-inser-podcast{
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
    margin-top: 70px;
    display: flex;
    flex-wrap: wrap;
    h4{
        min-width: 100%;
        margin-bottom: 30px;
        color: #333;
    }
    .podcast-txt-area{
        min-width: 100%;
        margin: 5px;
        textarea{
            width: 99%;
            min-height: 100px;
        }
    }
}
.group-input-label{
    display: flex;
    flex: 1;
    flex-direction: column;
    gap: 5px;
    margin: 5px;
    min-width: 400px;
    input{
       height: 40px;
       padding-left: 10px;
    }
    label{
        color: rgb(99, 98, 98);
    }
  
    
}
.podcast__categoria-check-box{
    min-width: 100%;
    margin-top: 10px;
    display: flex;
    flex-wrap: wrap;
    .group-checkbox-podcast{
        margin-right: 15px;
        padding: 10px;
        input {
            margin-right: 10px;
            cursor: pointer;
        }
    }
}
.podcas-image{
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
    padding: 5px;
    display: flex;
    flex-wrap: wrap;
    h4{
        min-width: 100%;
        margin-bottom: 10px;
        margin-top: 20px;
        padding-left: 5px;
    }
}
.img-podcast-type{
    margin: 5px;
    flex: 1;
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    padding: 10px;
    gap: 10px;
    span{
        font-size: max(10px, 0.8rem );
        margin-bottom: 5px;
    }
    input{
        padding: 5px;
    }
    button{
        cursor: pointer;
        background-color: #2a6596;
        color: white;
        padding: 8px;
        text-transform: uppercase;
        font-size: 0.8rem;
    }
}
.group__btn-save-podcast{
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
    display: flex;
    justify-content: flex-end;
    margin-top: 30px;
    padding-bottom: 70px;
    padding-right: 10px;
    button{
       width: 150px;
       padding: 10px;
       border-radius: 30px;
       cursor: pointer;
       background-color: rgb(235, 232, 232);
       margin-right: 10px;
    }
}
.nav-config-catalogo{
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    ul{
        display: flex;
        border-bottom: 3px solid rgba(105, 105, 105, 0.685);
        justify-content: center;
        padding: 10px;
        li{
            list-style: none;
            a{
                padding: 10px 15px; 
                color: $bkg;
                text-transform: uppercase;
                transition: all 1s;
                &:hover{
                    text-decoration: underline;
                }
            }
        }
    }
}
// add parceiro
#add-partner{
    background-color: white;
  
    width: 100%;
   position: absolute;
   padding-top: 150px;
}
.contente-partner{
    width: 100%;
    max-width: 83.33333333%;
    margin: 0 auto;

    span{
        font-size: 2rem;
        position: relative;
        padding-left: 10px;
        &::before{
            content: '';
            width: 5px;
            height: 100%;
            position: absolute;
            background: linear-gradient(97deg, rgba(61, 159, 235, 1) 0%, #2a559f 43%, rgba(33, 47, 120, 0.969625350140056) 91%);
            left: 0;
        }
    }
    .select-user-level{
        margin-top: 30px;
        margin-bottom: 30px;
        padding: 5px;
        color: #878a91  ;
        border: 2px solid #999999 ;
        background-color: white;
        border-radius: 6px;
        cursor: pointer;

    }
    
}
.user-data{
    div{
        margin-bottom: 20px;
        display: flex;
        flex-direction: column;
        label{
            margin-bottom: 5px;
            padding-left: 10px;
        }
        input{
            padding: 8px;
            border-radius: 6px;
            border:1px solid #dadada ;
        }
    }
}
.container-user-data{
    width: 100%;
    max-width: 700px;
    border: 2px solid #dadada;
    padding: 10px;
    border-radius: 6px;
}
.group-btn-user-partiner{
    display: flex;
    margin-top: 30px;
    padding-bottom: 100px;
  
}
.btn-partiner-blue,
.btn-partiner-wite{
    padding: 8px 15px;
    cursor: pointer;
}


.btn-partiner-blue{
    background: linear-gradient(97deg, rgba(61, 159, 235, 1) 0%, #2a559f 43%, rgba(33, 47, 120, 0.969625350140056) 91%);
    color: white;
    border-radius: 2rem;
}
.btn-partiner-wite{
    background-color: white;
    width: 100%;
    border-radius: 2rem;
   color: #333;
}
.border-gradient{
    background: linear-gradient(97deg, rgba(61, 159, 235, 1) 0%, #2a559f 43%, rgba(33, 47, 120, 0.969625350140056) 91%);
   width: 100px;
   display: flex;
   padding: 2px;
   border-radius: 2rem;
   margin-right: 15px;
}

#container-list-partiner{
    padding-top: 150px;
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: white;
}
.content-list-partiner{
    width: 100%;
    max-width: 83.33333333%;
    margin: 0 auto;
    span{
        position: relative;
        font-size: 2rem;
        padding-left: 10px;
       
        &::before{
            position: absolute;
            content: '';
            width: 5px;
            height: 100%;
            background: linear-gradient(97deg, rgba(61, 159, 235, 1) 0%, #2a559f 43%, rgba(33, 47, 120, 0.969625350140056) 91%);
            left: 0;
        }
    }
    div{
        display: flex;
        align-items: center;
        justify-content: space-between;
        a{
            color: #878a91;
        }
        .btn-add-new-partiner{
            font-size: 2rem;
            background: linear-gradient(97deg, rgba(61, 159, 235, 1) 0%, #2a559f 43%, rgba(33, 47, 120, 0.969625350140056) 91%);
            width: 40px;
            height: 40px;
            padding: 2px;
            border-radius: 50%;
            margin-left: 10px;
            div{
                width: 100%;
                height: 100%;
                background-color: white;
                display: flex;
                align-items: center;
                justify-content: center;
                border-radius: 50%; 
                padding-bottom: 3px;
                color: #27357C;
            }
        }
    }

}
.partiner-table{
    width: 100%;
    border-collapse: collapse;
    margin-top: 30px;
   
    tr{
       text-align: left;
      
       th,td{
           padding: 8px;
           border: 1px solid #dddddd;
            text-align: left;
          
       }
       
      
    }
    tr:nth-child(even) {
        background-color: #f7f5f5;
      }
}
.delite-partiner{
    padding-left: 20px !important;
    width: 30px;
    border: none;
    color: #27357C;
    cursor: pointer;
}
.btn-list-partiner{
    width: 100%;
    margin-top: 30px;
    a{
        border: 2px solid #27357C;
        padding: 5px 20px;
        border-radius: 30px;
        color: #27357C !important;
    }
   
}
// btns
.btn-block-movie{
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
     color: brown;
     background-color: white;
     i{

         font-size: 2rem;
         cursor: pointer;
     }
}
.unlock-movie{
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    color: green;
    background-color: white;
    i{
        font-size: 2rem;
        cursor: pointer;
    }

}