#contatiner-description{
    height: auto;
   overflow: hidden;
   
    
}
.audio-control{
    position: fixed;
    top: 40%;
    right: 0px;
    z-index: 1000000;
    cursor: pointer;
    color: white;
    font-size: max(14px, 2vw);
    opacity: 0.5;
    padding: 7px;
    background-color: $bkg;
    border-radius: 5px 0px 0px 5px;

}
#mudo{
    width: 100%;
    min-width: 600px;
}
.bkg__vimeo{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
    overflow: hidden;
   position: absolute ;
}
.description__banner{
   
    box-sizing: border-box;
    position: relative;
    z-index: 1000;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding-bottom: 50px;
    gap: 10px;
    height: 100vh;
    width: 90%;
    margin: 0 auto;
    div > span{
      
        font-size: max(15px, 1vw);
        
    }

    font-family: $font-txt;
    color: white;
    h1{
        font-size: max(25px, 3vw) ;
    }
    h1::before{
        content: "";
        width: 5px;
        height: 100%;
        background: linear-gradient(97deg, rgba(61, 159, 235, 1) 0%, rgba(42, 85, 159, 1) 43%, rgba(33, 47, 120, 0.969625350140056) 91%);
        padding: 3px;
        margin-right: 10px;

    }

   .shortSynopsis{
       width: 100%;
       height: auto;
       max-width: 440px;
       font-size: max(14px, 1vw);
       font-weight: 400;
   }
}
.group-buttons{
    display: flex;
    gap: 20px;
    margin-top: 2rem;
}
.expirationDate{
    font-size: 0.8rem;
    margin-top: 1rem;
}

/*Navegação abas*/
.nav-abas{
    display: flex;
    flex-direction: column;
    position: relative;
    z-index: 2000;
    width: 90%;
    margin: 30px auto;
    padding-bottom: 30px;
    margin-bottom: -20px;
    font-family: $font-txt;
    color: white;
    min-height: 300px;
    ul{
        display: flex;
        margin: 0;
        padding: 0;
        gap: 10px;
        li{
            list-style: none;
            padding: 0.4rem;
            cursor: pointer;
            text-align: center;
            font-size: max(14px, 1vw);
        }
        .active-abas{
            position: relative;
        }
        .active-abas::before{
            content: '';
            width: 100%;
            height: 6px;
            position: absolute;
            bottom: 0;
            left: 0;
    background: linear-gradient(97deg, rgba(61, 159, 235, 1) 0%, rgba(42, 85, 159, 1) 43%, rgba(33, 47, 120, 0.969625350140056) 91%);
            
            

        }
    }
    
}
.nav-abas-container-content{
    position: relative;
    height: auto;
    
   
    
  
}
.nav-abas-content h5{
    width: 100%;
    padding-left: 10px;
    font-size: max(10px, 1vw);
  

}

.colum-txt{
    columns: 300px 3;
    padding: 10px;
    line-height: 1.5;
    font-weight: lighter;
    font-size: max(14px, 1vw);
}
.edit-txt-sinopese{
    font-size: max(14px, 1vw);
    padding: 10px;
}

@media (max-width: 700px){
    .colum-txt{
        columns: 100px 2;
    }
}
@media(max-width: 350px){
    .colum-txt{
        columns: 100px 1;
    }
}
.img-border-blue{
    padding: 0.5vw 1vw;
    background-color: transparent;
    background-image: url(../../assets/imagens/botão1.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    font-size: max(14px, 1.5vw);
    color: white;
    cursor: pointer;
    
}

// carrossel de filmes relacionados

.goback-btn-description{
    display: flex;
    align-items: center;
    .btn-dv{
        width: 30px;
        height: 30px;
        border-radius: 50%;
        margin-right: 10px;
       border: 2px solid rgba(255, 255, 255, 0.808);
       background-color: transparent;
       display: flex;
       align-items: center;
       justify-content: center;
       color: white;
       padding-right: 3px;
       padding-top: 2px;
       i{
           padding-left: 2px;
           padding-bottom: 2px;
       }
    }
}
.movie-relacionado{
    width: 90%;
    margin: 0 auto;
    h4{
        color: white;
    }
}
.assinale-listing{
    i{
        margin-right: 10px;
    }
}
.trailer-extra{
    width: 100%;
    .content__trailer{
       width: 100%;
       max-width: 400px;
       position: relative;
       cursor: pointer;
       margin-top: 30px;
        img{
            width: 100%;
        }
        p{
            background-color: rgba(15, 10, 22, 0.616);
            padding: 10px;
            position: absolute;
            width: 100%;
            bottom: 0;
        }
    }
   

}