.container-erro{
    width: 100%;
    overflow: hidden;   
    background-color: white;
    display: flex;
    justify-content: flex-end;
    padding: 20px;
    img{
        position: fixed;
        width: 50%;
        left: -200px;
        top: 30px;
    }
    .erro_content{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        width: 100%;
        max-width: 500px;
        height: 100vh;
        h3{
            color: $bkg;
            font-size: 4rem;
        }
        p{
            font-size: 1.3rem;
            margin-top: 30px;
        }
        .btn-erro{
            background: linear-gradient(97deg, rgba(61, 159, 235, 1) 0%, rgba(42, 85, 159, 1) 43%, rgba(33, 47, 120, 0.969625350140056) 91%);
            color: white;
           padding: 10px;
            width: 200px;
            border-radius: 2rem;
            margin-top: 30px;

        }
    }
   .container-img{
       width: 100%;
       max-width: 50%;
       height: 100vh;
       position: relative;
       overflow: hidden;
      
   }
}

.container_privacy-poticy{
    min-height: 100vh;
    background-color: white;
    padding-top: 180px;
    padding-bottom: 100px;
    .content_privacy{
        max-width: 83.33333333%;  
        margin: 0 auto;
        width: 100%;
        h1{
            color: #333;
            margin: 0;
        }
        h2{
            color:  #333;
            margin-bottom: 40px;
        }
        p{
            font-size: 1.2rem;
        }
        .btn-politica{
          padding: 5px 20px;
         
           background: linear-gradient(97deg, rgba(61, 159, 235, 1) 0%, rgba(42, 85, 159, 1) 43%, rgba(33, 47, 120, 0.969625350140056) 91%);
            
           border-radius: 2rem;
            color: white;
            
        }
    }
    .privacy_footer{
        background-color: $bkg;
        margin-top: 70px;
    }
}