footer{
     padding-bottom: 50px;
     overflow: hidden;
      
}
.footer_content {
    width: 90%;
    max-width: 70%;
    margin: 80px auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-family: $font-txt;
   
 
}

.conteudo-left-footer{
    display: flex;
   
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 10px;
   
}



.footer_card {
    display: flex;
    flex-direction: column;
    text-align: center;
    min-width: 150px;
    margin-left: 10px;
    margin-right: 30px;
    a {
        color: rgb(204, 200, 200);
        font-size: 1.2rem;
        font-weight: lighter;
        padding: 1px;

    }
}


.footer_logo {
    width: 100%;
    margin-top: 6rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    
    img {
        width: 1.2rem;
        margin-bottom: 10px;
        overflow: hidden;
    }
}

.copyricht {
    p {
        text-align: center;
        color: $txt-wite;
        font-size: 0.8rem;
        opacity: 0.8;
        font-weight: lighter;
    }
}

.lg_destaque {
    color: #4a7ddb;
    font-weight: bolder;
    
    
}

.efect-gradient{
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgb(28,30,41);
    background: linear-gradient(180deg, rgba(28,30,41,1) 0%, rgba(28,30,41,0) 20%);
}
.efect-gradient2{
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgb(28,30,41);
    background: linear-gradient(0deg, rgba(28,30,41,1) 0%, rgba(28,30,41,0) 20%);
}

.gradient-border {
    position: relative;
    width: 100%;
    height: max(15px, 1vw);
    background: rgb(44,95,156);
    background: linear-gradient(267deg, rgba(44,95,156,1) 9%, rgba(28,29,80,1) 58%, rgba(35,56,99,1) 78%, rgba(44,95,156,1) 93%);
    margin-bottom: 2.5rem;
}
.footer_card1 {
    display: flex;
    align-items: center;
    justify-content: center;
    color: $txt-wite;
    // padding-left: 30px;
    // padding-right: 30px;
    padding-bottom: 15px;
    img{
        width: 12rem;
    }
}

@media(min-width: 600px){
    .footer_content {
        flex-direction: row;
        justify-content: center;
        align-items: flex-start;
    }
    .conteudo-left-footer{
        flex-direction: row;
         align-items: flex-start;
    }
    .footer_card {
        flex: 1;
        text-align: left;
        a{
            font-size: 1rem;
            margin-bottom: 5px;
        }
    }
    .footer_card1 {
        display: flex;
        align-items: center;
        justify-content: center;
       
        color: $txt-wite;
        padding-left: 50px;
        padding-right: 50px;
        // img{
        //     width: 12rem;
        // }
    }
}