.container-header {
    width: 90%;
    margin: 0 auto;
    display: flex;
    padding-top: 10px;
    padding-bottom: 10px;
    align-items: center;
    justify-content: space-between;
    z-index: 2000;
    font-family: $font-txt;
}
@media (max-width: 477px){
    .cut-img-nav{
        overflow: hidden;
        width: 3rem;
        margin-left: 20px;
    }
}

header {
    width: 100%;
    height: 8rem;
    position: absolute;
    z-index: 2000;
    margin: 0 auto;
    background: rgb(28,30,41);
    background: linear-gradient(180deg, rgba(28,30,41,0.9808298319327731) 10%, rgba(28,30,41,0.8295693277310925) 45%, rgba(28,30,41,0) 100%);
}
.logo-header {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 8px;
    img{
       width: 11rem;
    }
}
@media (max-width: 835px){
    .nav-font-size a{
        font-size: 0.7rem;
    }
}
@media (min-width: 835px){
    .nav-font-size a{
        font-size: 0.8rem;
    }
}
.header_content-left {
    display: flex;
    align-items: center;
    gap: 20px;
  
    nav {
        ul {
            display: flex;
            align-items: center;
            padding: 0px;
         
           
            li {
                list-style: none;
                padding-left: 0px !important;
                margin-left: 10px;
                padding: 10px;
                a {
                    font-family: $font-txt;
                    color: $txt-wite;
                   font-size: max(14px, 1vw);
                  
                   
                }
            }
        }
    }
}

.container_not {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: max(20px, 1.5vw);
    color: white;
    cursor: pointer;
    .busca, .sino{
        margin-right: 40px;
    }
}

/*
  
}*/
.drop-user{
    position: relative;
    display: flex; 
    flex-direction: column;
    z-index: 6;
    .fa-sort-up{
        position: absolute;
        right: 15px;
        bottom: -20px;
        transform: rotate(180deg);
        transition: 0.5s;
        
        
    }
    &:hover  .fa-sort-up{
        transform: rotate(0deg);
       
    }
    .fa-user {
        color: #3660ad;
        border: 2px solid #3660ad;
        padding: 10px;
        border-radius: 50%;
        background-color: white;
        z-index: -1;
    }
}
.drop-user:hover .menu-user{
    height: auto;
    opacity: 1 ;
  
}
.menu-user{
    overflow: hidden;
    z-index: 0;
    opacity: 0;
    top: 60px;
    left: -80px;
    width: auto;
    height: 0px;
    display: flex;
    z-index: -1 !important;
    background-color: #1c1e29ea;
    position: absolute;
    transition: 0.5s;
    flex-direction: column;
    padding: 10px;
   
//    .menu-seur__perfil-link{
//        display: flex;
//        align-items: center;
//        justify-content: center;
//        border-bottom: 1px solid white;
//        a{
//            transition: 0.5s;
//            color: rgb(165, 10, 10);
//            border-bottom: 1px solid transparent;
//           &:hover{
//             border-bottom: 1px solid white;
//           }
//        }
//    }
    // .menu-seur__perfil{
    //     display: flex;
    //     align-items: center;
    //     font-size: 2rem;
    //     justify-content: space-around;
        
    // }
    .menu-seur__perfil-acess-acont{
        display: flex;
        gap: 10px;

        flex-direction: column;
        font-size: max(14px, 1vw);
        justify-content: center;
        
        a{
            color: white;
            transition: 0.5s;
            border-bottom: 1px solid transparent;
            &:hover{
                border-bottom: 1px solid white;

            }
        }
    }
}
@media(max-width: 785px) {
    .container_not {
        justify-content: flex-end;
    }
    .header_content-left {
        nav {
            display: none;
        }
    }
    .logo-header {
        margin-left: 20px;
    }
    // .fa-bell {
    //     display: none;
    // }
    .container-header {
        padding: 10px;
    }
    .fa-bars {
        color: white;
        font-size: 2rem;
        cursor: pointer;
    }
    .sino,
    .busca{
        display: none;
    }
}

@media(min-width: 785px) {

    .fa-bars {
        display: none;
    }
}