    #container-home {
        position: relative;
        background-color: $bkg;
        height: 100%;
        min-height: 100vh;
        overflow: hidden;
    }
    
    .efect {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        background: rgb(28, 30, 41);
        background: linear-gradient(180deg, rgba(28, 30, 41, 0.03405112044817926) 22%, rgba(28, 30, 41, 1) 91%);
    }
    
    .container_banner_home {
        position: relative;
        height: 100vh;
        background-image: url(https://www.giromarilia.com.br/img/news/duas-coroas_1575925408.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        display: flex;
        flex-direction: column;
        justify-content: center;
       
    }
    @media(max-width: 600px){
        .container_banner_home{
            height: 85vh;
        }
    }
    
    .content_baner_home {
        width: 100%;
        // max-width: 1100px;
        margin: 0 auto;
    }
    
    .userName {
        position: relative;
        line-height: 4rem;
        
    }
    
    .userName::before {
        content: "";
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
        height: 0.3rem;
        background: linear-gradient(97deg, rgba(61, 159, 235, 1) 0%, rgba(42, 85, 159, 1) 43%, rgba(33, 47, 120, 0.969625350140056) 91%);
    }
    
    // @media (max-width: 600px){
    //     .banner_home_txt {
    //         p{
    //             font-size: 1.5rem;
    //         }
    //     }
    // }
    // @media (min-width: 600px){
    //     .banner_home_txt {
    //         p{
    //             font-size: 2rem;
    //         }
    //     }
        
    // }
    .banner_home_txt {
        position: relative;
        z-index: 5;
        filter: blur(0px);
        p {
            position: relative;
            padding: 0;
            margin: 0;
            color: $txt-wite;
            font-weight: 600;
            font-size: 2.5rem;
            line-height: 3rem;
        }
        width: 100%;
        max-width: 83.33%;
        margin: 0 auto;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        font-family: $font-txt;
    
        padding-top: 100px;
        .btn-wite {
            margin-top: 20px;
            background-color: white;
            text-align: center;
            color: $bkg;
            border-radius: 2rem;
            max-width: 15rem;
            cursor: pointer;
            padding: 0.8rem;
            font-size: max(14px, 1vw);
            
        }
    }
    
   
    .container-category{
        max-width: 83.33%;  
        margin: 20px;
        width: 100%;
       margin: 0px auto;
       h4{
           color: white;
           padding-left: 20px;
           font-weight: 400;
           text-transform: uppercase;
           font-size: 1.2rem;
       }
        .container-category__content{
            // max-width: 1000px;
  
            .container-category__item{
                background-color: #333;
                transition: all ease 0.5s;
                display: flex;
                transform: scale(0.9);
                position: relative; 
                cursor: pointer;
                width: 100%;
                min-width: 200px !important;
                max-width: 250px !important;
                
                span{
                    color: white;
                    width: 100%;
                    height: 50px;
                    padding-left: 20px;
                    position: absolute;
                    bottom: 0;
                    display: flex;
                    align-items: center;
                    font-size: 1.3rem;
                    z-index: 99999;
                    
                }
                span::before{
                    content: '';
                    position: absolute;
                    width: 5px;
                    height: 50px;
                     background: linear-gradient(97deg, rgba(61, 159, 235, 1) 0%, rgba(42, 85, 159, 1) 43%, rgba(33, 47, 120, 0.969625350140056) 91%);
        
                    left: 10px;

                }
               img{
                 width: 100%;
                
                  
               }

            }
        }
       
    }

   
    /*control carrocel list movie*/
    .direction-control {
        position: absolute;
        top: 50%;
        color: white;
        cursor: pointer;
        width: 35px;
        height: 35px;
        border: 1px solid rgba(255, 255, 255, 0.658);
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        opacity: 0;
        transition: all ease 0.5s;
    }
    .control-left{
        left: 50px;
       
    }
    .control-rigth{
        right: 50px;
    }

    .container_home {
        width: 90%;
        margin: 70px auto;
        font-family: $font-txt;
        color: $txt-wite;
    }
    
    .container_continue {
        width: 100%;
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        gap: 10px;
        margin-top: 20px;
    }
    
    .div_left {
        cursor: pointer;
        width: 100%;
        max-width: 200px;
        height: 150px;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        i {
            color: rgba(255, 255, 255, 0.849);
            font-size: 1.5rem;
        }
        img{
            position: absolute;
            width: 100%;
            height: 100%;
            
        }
    }
    
    .div_rigth {
        
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 10px;
        .div_rigth1 {
            position: relative;
            margin-bottom: 20px;
            h4 {
                margin: 0;
                padding: 0;
                font-size: 0.9rem;
                margin-left: 10px;
            }
            span {
                font-size: 0.7rem;
                margin-left: 10px;
            }
           
        }
        .div_rigth1::before {
            content: "";
            width: 4px;
            height: 100%;
            background: linear-gradient(97deg, rgba(61, 159, 235, 1) 0%, rgba(42, 85, 159, 1) 43%, rgba(33, 47, 120, 0.969625350140056) 91%);
            ;
            position: absolute;
        }
        .didv_rigth2 {
            font-size: 0.7rem;
        }
        .container_like {
            display: flex;
            gap: 10px;
            i {
                border: 1px solid rgba(255, 255, 255, 0.521);
                border-radius: 50%;
                padding: 7px;
                font-size: 0.8rem;
            }
        }
    }

    /// imagem carrosel categoria//
   
    
    
   
    .jj{
       padding-bottom: 50px;
       width: 100%;
       max-width: 500px;
       margin: 0 auto;
    }
    /////////////// pop-up video 
    .pop-up-video{
        position: fixed;
        z-index: 999999999;
        width: 100vw;
        height: 100vh;
        background-color: #1c1e29bb;
        top: 0;
        left: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        display: none;
     
        .close-pop-up{
          position: absolute;
          top: 0;
          width: 100%;
          background-color: $bkg;
          height: 70px;
         display: flex;
         align-items: center;
         justify-content: center;
         color: white;
         cursor: pointer;
         -webkit-box-shadow: -1px 6px 18px 0px rgba(28,30,41,1);
-moz-box-shadow: -1px 6px 18px 0px rgba(28,30,41,1);
box-shadow: -1px 6px 18px 0px rgba(28,30,41,1);
            
           
        }
        .pop-up-video__content{
            width: 100%;
            max-width: 500px;
            height: auto;
            margin: 0 auto;
            -webkit-box-shadow: 0px 2px 22px 0px rgba(28,30,41,1);
            -moz-box-shadow: 0px 2px 22px 0px rgba(28,30,41,1);
            box-shadow: 0px 2px 22px 0px rgba(28,30,41,1);
           
        }
    }
     /*Categorias*/
  