@import './landing.scss';
@import './normalize.scss';
@import './foter.scss';
@import './login.scss';
@import './register.scss';
@import './planos.scss';
@import './checkout.scss';
@import './quest.scss';
@import './header.scss';
@import './home.scss';
@import './description.scss';
@import './play.scss';
@import './dashboard.scss';
@import './panel.scss';
@import './pod-cast.scss';
@import './listMovie.scss';
@import './listing.scss';
@import './navmobile.scss';
@import './Return-nav-dash.scss';
@import './dashboard-adm.scss';
@import './catalogo.scss';
@import './category.scss';
@import './erro.scss';
@import './crs.scss';

body {
    height: 100%;
    font-family: $font-txt !important;
}
html{
    font-family: $font-txt !important;
}

fieldset {
    border: none;
}

button{
    border: none;
}
button:focus{
    outline: 0px auto -webkit-focus-ring-color;
    outline-offset: 0px;
    
}


/*Estilo geral dos componentes*/


/*Cabeçalho topo*/


/*--------------------------------*/

// @media(max-width: 2000px) {
//     html {
//         font-size: 130%;
//     }
// }

// @media(max-width: 720px) {
//     html {
//         font-size: 110%;
//     }
// }

@media (max-width: 600px){
    html{
        font-size: 70%;
    }
}
@media screen and (max-width: 900px) and (min-width: 600px){
    html{
        font-size: 80%;
    }

}
@media screen and (max-width: 1200px) and (min-width: 900px){
    html{
        font-size: 95%;
    }

}
@media screen and (max-width: 1500px) and (min-width: 1200px){
    html{
        font-size: 100%;
    }

}
// @media (max-width: 1800px){
//     
// }
// @media (max-width: 2400px){
//     html{
//         font-size: 80%;
//     }
// }
// @media (max-width: 3000px){
//     html{
//         font-size: 90%;
//     }
// }
// @media (max-width: 3600px){
//     html{
//         font-size: 100%;
//     }
// }


// pagina em desenvlvimento.
#pagina-em-dev{
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  width: 100vw;
  height: 100vh;
  h1{
      margin: 0;
      padding: 0;
      box-sizing: border-box;
  }
}