@import './variable.scss';

/* cabeçalho*/

#container_landing {
    background-color: $bkg;
    overflow: hidden;
}
.efect__top{
    position: absolute;
    top: 0;
    width: 100%;
    height: 50vh;
    background: rgb(28,30,41);
    background: linear-gradient(0deg, rgba(28,30,41,0.47102591036414565) 0%, rgba(28,30,41,0.9444152661064426) 80%);
}
.efect__bottom{
    position: absolute;
    z-index: 0;
    bottom: 0px;
    width: 100%;
    height: 50vh;
    background: rgb(28,30,41);
    background: linear-gradient(180deg, rgba(28,30,41,0.47102591036414565) 0%, rgb(28, 30, 41) 80%);
}
.header_container {
    position: relative;
    height: 100vh;
    font-display: flex;
    position: relative;
    z-index: 1;
    overflow: hidden;
    background-image: url(../../assets/imagens/Asset.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
   
}

.btn {
    z-index: 5;
    border: none;
    color: white;
    background: linear-gradient(97deg, rgba(61, 159, 235, 1) 0%, rgba(42, 85, 159, 1) 43%, rgba(33, 47, 120, 0.969625350140056) 91%);
    cursor: pointer;
    transition: 1s;
    
}

.btn span {
    
    display: inline-block;
    position: relative;
    transition: 0.5s;
    color: white;
    font-size: 1rem;
}

// .btn span:after {
//     content: '\00bb';
//     position: absolute;
//     opacity: 0;
//     top: 0;
//     right: -20px;
//     transition: 0.5s;
// }

// .btn:hover span {
//     padding-right: 25px;
// }

.btn:hover span:after {
    opacity: 1;
    right: 0;
}

.btn:focus {
    outline: thin dotted;
    outline: 0px auto -webkit-focus-ring-color;
    outline-offset: 0px;
}

input:focus {
    outline: thin dotted;
    outline: 0px auto -webkit-focus-ring-color;
    outline-offset: 0px;
}

.logo {
    position: relative;
    
    max-width: 91.666666663%;  
    margin: 20px;
    width: 100%;
   
    display: flex;
    align-items: center;
    justify-content: space-between; 
    z-index: 7;
    img {
        width: 10rem;
    }
    .btn_entrar {
       
        padding: 0.4rem 0.7rem;
        align-items: center;
        justify-content: center;
        background: linear-gradient(97deg, rgba(61, 159, 235, 1) 0%, rgba(42, 85, 159, 1) 43%, rgba(33, 47, 120, 0.969625350140056) 91%);
        border-radius: 2rem;
        font-size: 0.9rem;
        font-family: $font-txt;
        color: white  ;
        text-transform: uppercase;
        font-weight: 600;
    }
    
}

@media (min-width: 500px){
    .logo {
        justify-content: center;
        .btn_entrar {
            position: absolute;
            right: 0px;
            padding: 0.3rem 0.6rem;

        }
    }

}

.call-to-action {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
   
    height: 100%;
    h1 {
        font-size: 2.5rem;
        color: white;
        margin-bottom: 0px;
        font-family: $font-txt;
        font-weight: 400;
        z-index: 5;
        line-height: 3rem;
    }
    p {
        font-size: 0.9rem;
        color: white;
        font-weight: 300;
        z-index: 5;
        line-height: 2rem;
    }
}

.call-input-group {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 5px;
    input {
        width: 100%;
        border: none;
        border-radius: 2rem;
        font-family: $font-txt;
        font-weight: 300;
        z-index: 5;
        padding: 10px;
        font-size: 0.8rem;
    }
    .btn {
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 2rem;
        border: none;
        font-family: $font-txt;
        font-weight: 300;
        font-size: 1rem;
        min-width: 150px;
        padding: 8px 15px;
        height: 100%;
        margin-top: 10px;
        
    }
}

.main_cads {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    max-width: 60rem;
    margin:  auto;
    gap: 10px;  
}

main {
    -webkit-box-shadow: -2px -8px 30px 0px rgba(28,30,41,1);
-moz-box-shadow: -2px -8px 30px 0px rgba(28,30,41,1);
box-shadow: -2px -8px 30px 0px rgba(28,30,41,1);
   
   padding-top: 20px;
   background-color: $bkg;
   margin-top: -10px;
   width: 90%;
  
   margin: 0 auto;
   
}

.container_cards_img {
    flex: 1;
    display: flex;
    gap: 10px;

   
}
@media (max-width: 446px){
    .container_cards_img{
        flex: 100%;
        flex-wrap: wrap;
       
        
    }
}

.cad-img {
    flex: 1;
    display: flex;
    min-width: 100px;
    align-items: flex-end;
    background-size: cover;
    min-height: 200px;
    span {
        text-align: left ;
        margin-left: 20px;
        margin-bottom: 10px;
        font-size: 0.8rem;
        position: relative;
        padding-left: 7px;
        z-index: 2000;
        height: 40px;
        display: flex;
        align-items: center;
        color: white;
        &::after{
            position: absolute;
            content: "";
            width: 5px;
            height: 100%;
            bottom: 0;
            left: 0;    
            background: linear-gradient(97deg, rgba(61, 159, 235, 1) 0%, rgba(42, 85, 159, 1) 43%, rgba(33, 47, 120, 0.969625350140056) 91%);
            
        }
        
    }
}

.efect2{
position: absolute;
width: 100%;
height: 100%;
background: rgb(28,30,41);
background: linear-gradient(180deg, rgba(28,30,41,0.020045518207282953) 4%, rgba(28,30,41,0.8435749299719888) 89%);
}
/*ajustar card*/


.cad-txt {
    z-index: 5;
    flex: 1;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 10px;
    padding-right: 10px;
    h4 {
        font-family: $font-txt;
        font-weight: 400;
        font-size: 1.5rem;
        padding: 0;
        margin: 0;
        text-align: center;
        color: white;

    }
    p {
        font-family: $font-txt;
        color: white;
        font-size: 0.8rem;
        font-weight: 300;
    }
}

@media (min-width: 709px){
    .cad-txt {
        align-items: flex-start;
        max-width: 200px;
      
        h4 {
          
            text-align: left;
        }
        p {
           text-align: left;
        }

    }
}

.btn2 {
    border-radius: 2rem;
    font-size: 0.8rem;
    padding: 1rem 1rem;
    border: none;
    font-family: $font-txt;
    font-weight: 300;
    margin-top: 10px;
    max-width: 200px;
    min-width: 180px;
}
@media (min-width: 1513px){
    .btn2{
        max-width: 250px;
    }
}
@media (max-width: 691px){
    .btn2{
        font-size: 0.5rem;
    }
}
@media (max-width: 700px){
    .btn2{
        width: 140px;
    }
}
.main_card2 {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: auto;
    margin-top: 70px;
    position: relative;
    
    // position: absolute;
    img{
        
        flex: 1;
        min-width: 200px;
        z-index: 99999;
        width: 100%;
        max-height: 500px;
       
    }
}
@media (max-width: 600px){
    .main_card2 {
        flex-direction: column;
        img{
            max-width: 300px;
            margin: 0 auto;
        }
    }
}
.card2_txt {
    font-family: $font-txt;
    flex: 1;
    min-width: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
   
    h4 {
        font-size: 3rem;
        font-weight: 400;
        margin: 0;
        padding: 0;
        color: white;
        margin-bottom: 2vw;
    }
    p {
        font-size: 1.2rem;
        font-weight: 300;
        
        padding: 0;
        color: white;
    }
}
@media (max-width: 600px){
    .card2_txt {
        text-align: center;
        h4{
            font-size: 2.5rem;
        }
    }
}
.aling-action{
    width: 100%;
    display: flex;
    justify-content: center;
}
.aling-action2{
    width: 90%;
    max-width: 1000px;
    margin: 0 auto;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    height: 80%;

}
.call-to-action2 {
    font-family: $font-txt;
    display: flex;
    flex-direction: column;
    padding-top: 70px;
    padding-bottom: 80px;
    margin-bottom: 10px;
    h4 {
        font-weight: 400;
        font-size: 2.5rem;
        color: white;
        line-height: 3.2rem;
        text-align: center;
        
    }
    p {
        font-weight: 300;
        font-size: 0.9rem;
        color: white;
        line-height: 2rem;
        text-align: center;
    }
}



/* roda pé*/




/* break point */

@media(min-width: 600px) {
    .aling-action2{
        justify-content: flex-start;

    }
    .call-to-action {
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
    }
    .call-to-action2{
        h4{
            text-align: left;
        }
        p{
            text-align: left;
        }
    }
    .call-input-group {
        display: flex;
        flex-direction: row;
        align-items: center;
        .btn{
            margin-left: 10px;
            margin-top: 0px;
        }
        input{
            min-width: 430px;
        }
    }
}



@media(max-width: 708px) {
    #order2 {
        order: 1;
    }
}

/*Teste*/
.main-cardss{
    display: flex;
    width: 100%;
   .slick-prev:before, .slick-next:before{
    display: none !important;
}
   
}
.container__carrossel-landing{
    // margin-left: 40px;
    width: 65%;
}

@media (max-width: 872px){
    // .container__carrossel-landing{
    //     width: 50%;
      
    // }
    .txt__landing{
        margin-left: 18px;
    }
}


.txt__landing{
    transform: scale(0.9);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
   
    h4{
        margin: 0;
        padding: 0;
        font-size: 3rem;
        color: white;
        padding-bottom: 10px;
        font-weight: 400;
  
    }
    p{
        color: white;
        font-size:  max(14px, 1vw);
    }
    
}
@media( max-width: 1139px){
    .txt__landing{
        h4{
            font-size: 2.5rem;
        }
    }
}
.intem-carrosel__landing{
    width: 100%;
    height: auto;
    position: relative;
    display: flex;
   justify-content: flex-end;
   transform: scale(0.9);
  
   .title-landing-card{
       width: 100%;
       height: 100%;
       background: rgb(28,30,41);
       background: linear-gradient(180deg, rgba(28,30,41,0.24693627450980393) 0%, rgba(28,30,41,0.8071603641456583) 80%);
       position: absolute;
       z-index: 6;
       display: flex;
       align-items: flex-end;
      
       span{
           color: white;
            height: 50px;   
            width: 100%;
            position: relative;
            padding-left: 25px;
            display: flex;
            align-items: center;
            &::before{
                content: '';
                width: 5px;
                height: 100%;
                 background: linear-gradient(97deg, rgba(61, 159, 235, 1) 0%, rgba(42, 85, 159, 1) 43%, rgba(33, 47, 120, 0.969625350140056) 91%);
                
               bottom: 0;
               left: 15px;
                position: absolute;
            }
       }
   }
    img{
        width: 100%;
        top: 0;
        left: 0;
        z-index: 0;
    }

    
}
@media (max-width: 600px){
    .main-cardss{
        display: flex;
        flex-direction: column;
    }
    .txt__landing{
        order: 1;
        align-items: center;
        text-align: center;
        margin-left: 0;
        
    }
    .container__carrossel-landing{
        order: 2;
        width: 80%;
        margin: 0 auto;
    }
    
}

// modal de planos 
.modal-plan{
    width: 100%;
    background-color: rgba(0, 0, 0, 0.582);
    position: fixed;
    height: 100%;
    display: none;
    flex-direction: column;
    align-items: center;
    top: 0;
    z-index: 99999999;
    overflow: auto;
    padding-bottom: 80px;
    .close-modal-plan{
        width: 100%;
        text-align: center;
        padding: 10px;
        color: white;
        position: absolute;
        top: 0;
        cursor: pointer;
       i{
           font-size: 4rem;
       }
    }
}
.container-plans{
    width: 100%;
    padding-top: 10rem;
    display: flex;
   
    align-items: center;
    justify-content: center;
    
    .plan{
        flex: 1;
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: $bkg;
        margin: 5px;
        color: white;
        padding: 15px;
        i{
            font-size: 5rem;
        }
        span{
            margin-bottom: 10px;
        }
       .img-plan{
           width: 40px;
           height: 40px;
           margin-top: 20px;
           margin-bottom: 30px;
           img{
               width: 100%;
           }
       }
    }

}
.call-to-action-plan{
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    input{
        border: none;
        height: 30px;
        margin: 5px;
        border-radius: 2rem;
        padding-left: 10px;
    }
    button{
        height: 30px;
        padding: 8px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 5px;
        border-radius: 2rem;
        width: 100px;
    }
}
@media (max-width: 485px){
    .container-plans{
        flex-direction: column;
    }
    .call-to-action-plan{
        flex-direction: column;
    }

}