.info_card_muvie__tag-muvie{
    ul{
        display: flex;
        flex-wrap: wrap;
        gap: 5px;
        margin: 0;
        padding: 0;
        
        li{
            list-style: none;
           
        }
    }
}
.ultimo_card{
    background-color: $bkg !important;
}

