

.container-carrosel_slik{
    width: 100%;
    max-width: 83.33%;
    margin: 30px auto;
    position: relative;
    display: flex;
    flex-direction: column;
  
    
    h4{
        color: white;
       margin-bottom: 10px;
       font-size: 1.2rem;
       padding-left: 10px;
       
    }
    .slick-next{
        z-index: 9999;
    }
    .container-btn__movie-list{
        position: absolute;
        z-index: 1;
        top: 0;
        right: 0;
        width: 100%;
        height: 100%;
        background: rgb(28,30,41);
        background: linear-gradient(90deg, rgba(28,30,41,0) 0%, rgba(28,30,41,1) 25%);

    }
  
}
@media (max-width: 600px){
    .container-btn__movie-list{
        display: none;
    }
    .control-width__listmovie{
   
        width: 80%;
     margin: 0 auto;  
    
    }
}

.conteudo_slik{
    flex: 1;
    overflow: hidden;
    transition: all ease 0.5s;
    position: relative;
    transform: scale(0.9);
   
   img{
      width: 100%;

   }
    
   &:hover{
       transform: scale(1);
       z-index: 10000;
       
   }
   &:hover .modal-card-traler_slik{
       opacity: 1;
   }
  
}

.modal-card-traler_slik{
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: all ease 1s;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
   
   

}
.aling__traler_slik{ 
    display: flex;
    overflow: hidden;
    position: absolute;
    min-width: 500px;
    height: 100%;
    align-items: flex-end;
    justify-content: flex-end;
   iframe{
    width: 100%;
    height: 100%;
    border: none;
   }
   
}
.testez{
    width: 100%;
    height: 100%;
    background-color: transparent;
    cursor: pointer;
    z-index: 999999;
}
.info_card_muvie_slik{
    z-index: 9999999;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: auto;
    min-height: 80px;
    display: flex;
    flex-direction: column;
   justify-content: flex-start; 
   background-color: white;
   
}
.info_card_muvie__control_slik{
    display: flex;
    padding: 5px;
    justify-content: space-between;
    font-size: max(14px, 1.5vw);
    i{
        color: $bkg;
        cursor: pointer;
        padding: .2rem;
    }
    
}
.activeLike{
  color: #ddd !important;
  background: $bkg !important;
  border-radius: 4px;
  padding: 5px;
}

.info_card_muvie__bootom_slik{
    display: flex;
    
}
.info_card_muvie__itens_slik{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-start;
    font-size: max(8px, 0.5vw);
    gap: 5px;
    width: 100%;
    color: $bkg;
    padding: 5px;
     div{
       margin-right: 10px;
   }
   h4{
       margin: 0;
       padding: 0;
   }
  
}
.info_card_muvie__idicative-class_slik{
    border: 1px solid $bkg;
    padding: 3px;
    border-radius: 6px;
}

// novo carrosel
.container-my-carousel{
    width: 100%;
    min-height: 250px;
    position: relative;
    display: flex;
    &:hover .btn-my-carrosel-left {
        opacity: 1;
    }
    &:hover .btn-my-carrosel-rigth > button{
        opacity: 1;
    }
    .my-carousel-sroll{
       flex: 1;
       overflow-x: scroll;
        position: relative;
        display: flex;
        scroll-behavior: smooth;
        &::-webkit-scrollbar{
            width: 0.1px;
            max-width: 10px;
        }
        .my-carousel{
            display: flex;
            transition: all ease 2s;
            .my-carousel-item{
                flex: 1;
                 min-width: 200px;
                 max-width: 200px;
                 transform: scale(0.9);
                 cursor: pointer;
                 transition: all ease 0.5s;
                 position: relative;
                 z-index: 5;
                img{
                width: 100%;
                z-index: 1;
                
                }
                &:hover{
                    transform: scale(1);
                }
                &:hover .container-video-card{
                    opacity: 1;
                }
                .efect-home{
                    
                    width: 100%;
                    height: 100%;
                    position: absolute;
                    z-index: 1;
                    background: rgb(28,30,41);
                    background: linear-gradient(180deg, rgba(28,30,41,0.24693627450980393) 0%, rgba(28,30,41,0.8071603641456583) 80%);
                }
            }
        }
    }
}
.fim-carrosel{
    min-width: 300px;
    height: 100%;
    background-color: transparent;
}

.btn-my-carrosel-left,
.btn-my-carrosel-rigth{
    position: absolute;
    height: 100%; 
    display: flex;
    align-items: center;
    justify-content: center;
   
    transition: all ease 0.5s;
   
    button{
        background-color: transparent;
        border: 1px solid white;
        width: 1.5rem;
        height: 1.5rem;
        display: flex;
        align-items: center;
        justify-content: center ;
        border-radius: 50%;
        color: white;
        cursor: pointer;
    }
}
.btn-my-carrosel-rigth button{
    opacity: 0;
    transition: all ease 0.5s;
}
@media (max-width: 600px){
    .btn-my-carrosel-left,
    .btn-my-carrosel-rigth{
    display: none;
}
}
.btn-my-carrosel-left{
    width: 50px;
    opacity: 0;
    background-color: #1c1e2993;
  
    left: -40px;
}
.btn-my-carrosel-rigth{
    z-index: 9;
    right: -5px;
    width: 150px;
    background: rgb(28,30,41);
    background: linear-gradient(270deg, rgba(28,30,41,1) 64%, rgba(255,255,255,0) 100%);
    transition: all ease 0.5s;
}

// card hover
.container-video-card{
    z-index: 5;
    position: absolute;
    width: 100%;
    height: 100%;
    // background-color: blanchedalmond;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: all ease 0.5s;
    .aling-video-card{
        min-width: 550px;
    }
    .card-info-n{
        position: absolute;
        z-index: 100;
        bottom: 0;
        width: 100%;
        color: #6b6868;
        background-color: white;
        padding: 5px 10px;
        .control-card-movie{
           display: flex;
           justify-content: space-between;
           align-items: center;
           a{
               color: #6b6868;
           }
        }
    }
}