#container_login{
    width: 100vw;
    height: 100%;
    position: absolute;
    overflow-x:hidden;
}
.active_login{
    position: relative;
  
}
.active_login::before{
    content: '';
    bottom: -3px;
    width: 100%;
    height: 3px;
    background: linear-gradient(97deg, rgba(61, 159, 235, 1) 0%, rgba(42, 85, 159, 1) 43%, rgba(33, 47, 120, 0.969625350140056) 91%);
    
    position: absolute;
}

.login_content{
    display: flex;
    min-height: 100vh;
    .login_container_left{
        flex: 1;
        background-color: $bkg;
        display: flex;
        align-items: center;
        justify-content: center;
       
        position: relative;
        overflow: hidden;
        img{
            position: absolute;
            right: 0px;
            width: 100%;
            height: 100%;
            min-width: 1200px;
            filter: blur(4px);
        }
    }
    .efect3{
        position: absolute;
        width: 100%;
        height: 100%;
        bottom: 0;
        background-color: #1c1e29a9;
    }
    .login-container__right{
        flex: 1;
        background-color: white;
        display: flex;
        align-items: center;
        justify-content: center;
        box-shadow: -2px 9px 14px 2px rgba(0,0,0,0.45);
       
    }
    .login_content-rigth{
        width: 90%;
        max-width: 550px;
        padding: 10px 10px 50px 10px ;
        display: flex;
        flex-direction: column;
       
        h1{
            margin-top: 10px;
            margin-bottom: 0px;
            color: $bkg;
            font-size: 2.5rem;
            margin-left: 15px;
           
        }
        .sub{
            color: $bkg;
            font-size: 0.8rem;
            margin-bottom: 30px;
            margin-left: 15px;
           
        }
        input{
            width: 100%;
            max-width: 500px;
            padding: 0.8rem;
            padding-left: 15px;
            border-radius: 30px;
            border: 2px solid #8181819d;
            font-size: max(14px, 1vw);
            margin-bottom: 10px;
        }
        .login_input-group{
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            padding-left: 10px;
            padding-right: 10px;
            width: 100%;
            max-width: 500px;
            margin: 0 auto;
           
            fieldset{
                flex:1;
                margin: 0;
                padding: 0;
                display: flex;
                align-items: center;
                gap: 5px;
                input{
                 width: 10px;
                margin-top: 6px;
                 background-color: red;

                }
                label{
                    font-size: 0.8rem;
                    color: #818181  ;
                    
                }
                
            }
            .lembre-me{
                display: flex;
                align-items: center;
                color: $bkg;
                flex:1;
                font-size: 0.8rem ;
                text-align: right;
                color: #777474;
            }
        }
        .btn_login{
            border-radius: 2rem;
            padding: 0.8rem;
            width: 100%;
            max-width: 500px;
             margin-left: auto;
             margin-right: auto;
             margin-bottom: 20px;
        }
        .btn-social{
            border-radius: 2rem;
            padding: 0.8rem;
            max-width: 350px;
            margin-left:  auto;
            margin-right: auto;
            margin-top: 10px;
            width: 100%;
            font-size: 1rem;
            display: flex;
            justify-content: center;
            align-items: center;
            position: relative;
            opacity: 1;
            background-color: white;
            border: 2px solid #8181819d;
            color: #818181 ;
            cursor: pointer;
            &:disabled{
                cursor: not-allowed !important;
            }
            i{
                position: absolute;
                left: 20px;
                font-size: 2rem;
                color: #8181819d;
            }
        }
        
    }
}
.txt-btn-social{
    font-size: 0.8rem;
   
    margin-top: 10px;
    color: $bkg;
    text-align: center;

}
.group-input-user{
    display: flex;
    flex-direction: column;
    align-items: center;
}
@media (max-width: 600px){
    .login_container_left{
        display: none !important;
    }
}
//pagina de redefinição de senha
#container-reset-password{
    width: 100%;
    min-height: 100vh;
    background-color: white;
   display: flex;
   justify-content: center;
    img{
      position: fixed;
      left: -200px;
      bottom: -300px;
      width: 500px;
      z-index: 0;
      filter:opacity(30%);
     
    }
}
.reset-password__content{
    width: 90%;
    padding: 20px;
    z-index: 1;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    position: relative; 
    h3{
        margin-bottom: 20px;
        font-size: 3rem;
        text-align: left;
    }
    p{
        margin-bottom: 10px;
        font-size: 1.5rem;
        text-align: left;
    }
    input{
        padding: 0.8rem;
        border: none;
        margin-top: 20px;
        margin-right: 10px;
        margin-bottom: 10px;
        background-color: #c7c5c5;
        color: white;
        width: 90%;
        border-radius: 2px;
        &::placeholder{
            color: white;
        }
    }
    button{
        padding: 0.8rem;
        width: 90%;
        border-radius: 2rem;
        background: linear-gradient(97deg, rgba(61, 159, 235, 1) 0%, rgba(42, 85, 159, 1) 43%, rgba(33, 47, 120, 0.969625350140056) 91%);
        color: white;
        cursor: pointer;
        margin-top: 20px;
        &:disabled{
            background: linear-gradient(97deg, #bbb 0%,#999 43%, #666 91%) !important;
            cursor: not-allowed !important;
        }
    }
}
.reset-password__step{
    width: 100%;
    position: absolute;
    background-color: white;
    opacity: 0;
    z-index: 0;
    
}
.active-step-password{
    opacity: 1;
    z-index: 1;
}
.btn-apple{
    position: relative;
    
}
#appleid-signin{
    display: flex;
    width: 100%;
    height: 100%;
    opacity: 0;
    position: absolute;
    top: 0;
    img{
        width: 100% !important;
    }
}
@media(min-width: 600px){
    .reset-password__content{
        width: 100%;
        max-width: 60%;
        padding-right: 60px;
        top: 0;
        
    }
    #container-reset-password{
        justify-content: flex-end;

        img{
            width: 100%;
            max-width: 50%;
            bottom: -400px;
        }
    }
    
}

  
    
