.nav-mobile{
    background-color: #181a24e5;
    position: absolute;
    top: 0;
    width: 0;
    height: 100vh;
    z-index: 99999;
    overflow: hidden;
    transition: all ease 0.2s;
    i{
        color: white;
        font-size: 3rem;
        opacity: 0.5;
        width: 100%;
        padding-top: 15px;
        padding-bottom: 10px;
        text-align: center;
    }
    ul{
        margin: 0;
        padding: 0;
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        max-width: 500px;
        margin: 0 auto;
        gap: 10px;
        padding-top: 10px;
        .mobile-notification{
            background-color: transparent !important;
            i{
                font-size: 1.5rem;
                text-align: left;
                width: 30px;
                display: flex;
                align-items: center;
                justify-content: center;

            }
            
        }
        .mobile-search{
               background-color: transparent !important;
                display: flex;
                align-items: center;
                i{
                    font-size: 1.5rem;
                    text-align: left;
                    width: 30px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                }
                input{
                    height: 100%;
                    flex: 1;
                    border: transparent;
                }
                
        }
        li{
            list-style: none;
            font-size: 1rem;
            background-color: #2d3042;
            width: 90%;
            position: relative;
            padding-bottom: 4px;
          
            &::before{
                content: '';
               position: absolute;
               width: 100%;
               left: 0;
               bottom: 0;
               height: 5px;
               background: linear-gradient(97deg, rgba(61, 159, 235, 1) 0%, rgba(42, 85, 159, 1) 43%, rgba(33, 47, 120, 0.969625350140056) 91%);
               opacity: 0;
               transition: all ease 0.2s;
            }
            &:visited::before{
                opacity: 1;
                
            }
           
            &:active::before{
               opacity: 1;
              
            }
            a{
                display: block;
                color: white;
                padding: 10px;

            }
        }
    }

}