#container-add-movie{
    position: absolute;
    display: flex;
    width: 100%;
    height: 100%;
    


   aside{
       width: 200px;
       background-color: $bkg;
       ul{
           margin: 0;
           padding: 0;
           padding-top: 50px;
           display: flex;
           flex-direction: column;
           li{
               list-style: none;
              
               padding: 10px;

               a{
                text-align: left;
                   color: white;
                   font-family: $font-txt;
                   font-size: 0.8rem;
                   padding-left: 10px;
               }
           }
       }
       
      
   }
}
.add-movie-content{
    width: 100%;
    background-color: rgb(204, 204, 204);
  
    
}