#checkout-container{
    width: 100%;
    height: 120%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: rgb(249, 249, 250);
    padding-top: 50px;

}

.card-plans{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    padding-bottom: 50px;
}
.card-option{
    text-align: center;
    width: 100%;
    max-width: 250px;
    margin: 10px;
    height: 100%;
    max-height: 400px;
    border-radius: 10px;
    -webkit-box-shadow: 6px -1px 16px -1px rgba(63, 63, 63, 0.37);
    -moz-box-shadow: 6px -1px 16px -1px rgba(63, 63, 63, 0.37);
    box-shadow: 6px -1px 16px -1px rgba(63, 63, 63, 0.37);
    
   
    h4{
        font-size: 1.5rem;
        color: red;
    }
    i{ font-size: 0.5rem;}
    p{text-align: justify; margin: 10px; font-size: 0.9rem; color: rgb(32, 31, 31);}
}
#title-paso2{
    text-align: center;
    padding-bottom: 50px;
    width: 100%;
    max-width: 1100px;
    h3{ color: rgb(46, 45, 45);}
}
.btn-plan{
    position: relative;
    background-color: rgb(135, 136, 228);
    width: 92%;
    padding: 10px;
    border-radius: 0px 10px 0px 10px;
    .link{color: white; }

}