#ContainerPlay {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $bkg;
  
   
}

.containerVideo {
  width: 100%;
  height: 100%;
  display: flex;
  iframe{
    border: none;
   width: 100%;
  }
  
}

.btn-voltar:hover{
  opacity: 1;
}
.top-card{
  position: absolute;
  top: 0;
  width: 100%;
  height: 50px;
  z-index: 99999;
  display: flex;
  padding: 20px;
  &:hover .btn-voltar{
    opacity: 1;
  }
  .btn-voltar{
    display: flex;
    align-items: center;
    gap: 10px;
    border: none;
    background-color: transparent;
    opacity: 0.5;
    color: white;
    text-transform: uppercase;
    font-size: max(14px, 1.5vw);
    z-index: 99999;
    cursor: pointer;
    font-weight: 600;
    transition: all ease 0.2s;
  }
}