.container_question {
    padding-top: 70px;
    width: 100%;
   
    h2 {
        font-family: $font-txt;
        font-weight: 400;
        text-align: center;
        color: white;
        margin-bottom: 2rem;
        font-size: 3rem;
        font-weight: 400;
    }
}

.question_content {
    width: 90%;
    max-width: 40rem;
    margin: 0 auto;
}

.question {
    font-family: $font-txt;
    display: flex;
    flex-direction: column;
    margin-bottom: 5px;
    color: #626369;
    justify-content: space-between;
    background-color: $txt-wite;
    padding: 10px 20px;
    
    
    cursor: pointer;
    i {
        font-size: 0.8rem;
    }
}

.container-title-quest{
    display: flex;
    justify-content: space-between;
    align-items: center;
}