.active {
    background: linear-gradient(97deg, rgba(61, 159, 235, 1) 0%, rgba(42, 85, 159, 1) 43%, rgba(33, 47, 120, 0.969625350140056) 91%);
}

.n-active {
    background-color: #84858B;
}

#register_page1 {
    background-color: $bkg;
}

.container_logo {
    width: 90%;
    margin: 0 auto;
    padding-top: 30px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    font-family: $font-txt;
    small{
        color: white;
        margin-left: 60px;
       padding-top: 20px;
    }
}

.content-logo_left {
    flex: 1;
    display: flex;
    color: white;
    flex-direction: column;
    align-items: center;
   
}

.logo-ajust {
    img {
        width: 9rem;
    }
}

.logo_flex-item {
    text-align: center;
    .logo-border {
        width: 100%;
        height: 3px;
        background: linear-gradient(97deg, rgba(61, 159, 235, 1) 0%, rgba(42, 85, 159, 1) 43%, rgba(33, 47, 120, 0.969625350140056) 91%);
    }
    span {
        font-size: 0.7rem;
        text-align: center;
        padding-top: 10px;
    }
}

.content_register {
    width: 100%;
    min-height: 70vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: $txt-wite;
    font-family: $font-txt;
    grid-gap: 10px;

}

.numbe-aliner-content {
    text-align: left;
    display: flex;
    align-items: center;
    p {
        padding-top: 20px;
    }
}

.aline-number {
    margin: 0 auto;
    max-width: 1200px;
    width: 90%;
    display: flex;
    justify-content: space-between;
    text-align: center;
    div {
        font-size: 0.6rem !important;
    }
}

.number-register {
    color: $txt-wite;
    font-size: 4rem;
}

.container_input-register {
    color: $txt-wite;
    margin-top: 2rem;
}

.input_group {
    margin-bottom: 10px;
    label {
        display: block;
        width: 95%;
        margin-bottom: 5px;
        padding-left: 10px;
    }
    input {
        width: 93%;
        border-radius: 20px;
        padding: 10px;
        border: none;
        padding: 10px;
    }
}

.input_group-txt {
    text-align: center;
    font-size: 0.6rem;
    text-align: left;
}

.container_btn {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    font-weight: 300;
    max-width: 300px;
    gap: 20px;
    .btn {
        width: 6rem;
        text-align: center;
        padding: 0.5rem;
        border-radius: 20px;
        font-size: 0.8rem;
        cursor: pointer;
        &:disabled{
            cursor: not-allowed;
        }
    }
    .btn-v {
        color: white;
        background-color: $bkg;
        border: 1px solid white;
        border-radius: 20px;
        text-align: center;
        padding: 0.5rem;
        width: 6rem;
        font-size: 0.8rem;
    }
}

.btn-v span {
    position: relative;
    transition: 0.5s;
}

.btn-v span::after {
    content: ' \00AB';
    position: absolute;
    opacity: 0;
    left: -20px;
    transition: 0.5s;
}

.btn-v:hover span {
    padding-left: 25px;
}

.btn-v:hover span::after {
    opacity: 1;
    left: 0;
}

.btn-v:focus {
    outline: thin dotted;
    outline: 0px auto -webkit-focus-ring-color;
    outline-offset: 0px;
}
.container_register-pass3{
    color: white;
    margin-top: 30px;
}
@media (min-width: 500px) {
    .content-logo_left {
        margin: 0 auto;
        width: 90%;
        display: flex;
        color: white;
        flex-direction: row;
        align-items: center;
    }
    .logo_flex-item {
        display: flex;
        align-items: center;
       
        .logo-border {
            width: 3px;
            height: 2rem;
            margin: 10px;
        }
        span {
            text-align: left;
            border-top: none;
            padding-top: 0px;
        }
    }
    .logo-ajust {
        margin-bottom: 0px;
    }
    .content_register {
        margin: 3rem auto;
        width: 90%;
        align-items: flex-start;
    }
    .aline-number {
        display: flex;
        align-items: center;
        text-align: left;
        div {
            font-size: 0.7rem;
        }
    }
    .number-register {
        font-size: 6rem;
    }
    .container_input-register {
        margin: 3rem auto;
        width: 90%;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        grid-gap: 20px;
    }
    .input_group {
        min-width: 300px;
    }
}

.aline-itens-buton{
    display: flex;
    width: 90%;
    margin: 0 auto;
    justify-content: space-between;
    margin-top: 70px;
    margin-bottom: 70px;
  
}
@media(max-width:600px){
    .aline-itens-buton{
        flex-direction: column;
        align-items: center;
    }
    .container__free-plan{
        margin-bottom: 30px;
    }
    
}

#register-pass2 {
    background-color: $bkg;
    h1 {
        margin-top: 0px;
    }
}

#register-pass3 {
    background-color: $bkg;
}

.content_register-text {
    font-size: 0.2rem;
}

.container-table {
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
}

#table_grid {
    width: 100%;
    max-width: 800px;
    margin: 50px auto;
    height: 100%;
    font-size: 0.8rem !important;
    font-family: $font-txt;
    font-weight: 300;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    .btn-p {
        margin: 5px;
        position: relative;
        background: linear-gradient(97deg, rgb(61, 159, 235) 0%, rgba(42, 85, 159, 1) 43%, rgba(33, 47, 120, 0.969625350140056) 91%);
        padding: 1px;
        border-radius: 20px;
    }
    .btn-p2 {
        width: 100%;
        display: block;
        padding: 0.6rem;
        font-size: 0.7rem;
        border-radius: 20px;
        background-color: $bkg;
        text-align: center;
        color: $txt-wite;
        border: none;
        cursor: pointer;
        outline-offset: 0px;
    }
    button{
        border: none;
    }
    button:focus{
        outline: 0px auto -webkit-focus-ring-color;
        outline-offset: 0px;
        
    }
    .active {
        background: linear-gradient(97deg, rgb(61, 159, 235) 0%, rgba(42, 85, 159, 1) 43%, rgba(33, 47, 120, 0.969625350140056) 91%);
        
    }
    /*
   grid-template-columns: 1fr 1fr 1fr 1fr;
   grid-template-rows: 1fr 1fr;*/
}

.border-table-bottom {
    border-bottom: 1px solid white;
    outline-offset: 0px;
}

.border-table-rigth {
    border-right: 1px solid white;
}

.table_grid-th {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr ;
}

.table_grid-td {
    color: $txt-wite;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    padding: 10px;
    position: relative;
}

.th_mobile {
    display: none;
    text-align: center;
    color: rgb(126, 126, 156);
    line-height: 2;
    font-size: 0.8rem;
}

.txt-bootom {
    margin-top: 15px;
    margin-bottom: 15px;
    color: $txt-wite;
    font-size: 0.8rem;
    text-align: center;
}

.th-destaque {
    z-index: 6;
    background-color: #20253a;
    position: sticky;
    top: 0;
}

@media (max-width:600px) {
    .table-c1 {
        display: none;
    }
    #table_grid {
        grid-template-columns: 1fr 1fr 1fr;
    }
    .border-table-rigth {
        border: none;
    }
    .th_mobile {
        display: block;
    }
}

@media (min-width:600px) {
    .txt-bootom {
        display: none;
    }
}

#register-pass4 {
    width: 100%;
    background-color: $bkg;
    height: 100%;
    font-family: $font-txt;
}

.container-btn-pass4 {
    width: 100%;
    max-width: 500px;
    margin: 5rem auto;
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 10px;
    font-size: 0.8rem;
    a {
        color: $txt-wite;
    }
}

.btn-pass4 {
    border: none;
    padding: 0.6rem;
    border-radius: 20px;
    cursor: pointer;
}

.btn4-v {
    border: 1px solid white;
    
}
.inative-btn{
    cursor: not-allowed !important;
}
.container-top-credit{
    color: white;
    margin-top: 30px;
}
.btn4-active {
    color: white;
    background: linear-gradient(97deg, rgba(61, 159, 235, 1) 0%, rgba(42, 85, 159, 1) 43%, rgba(33, 47, 120, 0.969625350140056) 91%);
}

.pass4_checkalt {
    width: 90%;
    max-width: 600px;
    margin: 0 auto;
    gap: 10px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 'input0 input0' 'input1 input2' 'input3 input3' 'input4 input5' 'input6 input6' 'input7 input7';
}

.input0 {
    text-align: left;
    color: $txt-wite;
    font-size: 1rem;
    grid-area: input0;
    padding: 15px;
}

.checkaut-input {
    display: flex;
    flex-direction: column;
    input {
        display: flex;
        padding: 0.5rem;
        border-radius: 20px;
        border: none;
    }
    label {
        color: $txt-wite;
        padding-left: 10px;
        padding-bottom: 5px;
    }
}

.input1 {
    grid-area: input1;
}

.input2 {
    grid-area: input2;
}

.input3 {
    grid-area: input3;
}

.input4 {
    grid-area: input4;
}

.input5 {
    grid-area: input5;
}

.input6 {
    grid-area: input6;
    color: $txt-wite;
    padding: 10px;
}

.input7 {
    grid-area: input7;
    label {
        margin-right: 30px;
    }
    input {
        margin: 10px;
    }
}

@media(max-width:663px) {
    .pass4_checkalt {
        grid-template-areas: 'input1 input1' 'input2 input2' 'input3 input3' 'input4 input4' 'input5 input5';
    }
}

.card-pass4 {
    border-radius: 6px;
    cursor: pointer;
    width: 100%;
    max-width: 600px;
    color: $txt-wite;
    margin: 2rem auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-areas: 'cardTitle cardTitle cardTitle escolha' 'cardmain cardmain cardmain escolha ' 'cardplan cardplan cardplan escolha';
}

.card-tilte {
    padding: 10px;
    grid-area: cardTitle;
    font-size: 0.9rem;
}

.escolha {
    grid-area: escolha;
    padding: 10px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.card-main {
    padding: 10px;
    grid-area: cardmain;
    font-size: 1.5rem;
}

.card-plan {
    padding: 10px;
    grid-area: cardplan;
    font-size: 0.9rem;
}

.txt-botton {
    width: 90%;
    max-width: 600px;
    margin: 0 auto;
    color: $txt-wite;
    font-size: 0.8rem;
    text-align: justify;
}

.content-page-prepago {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    input {
        padding: 0.4rem;
        border-radius: 20px;
        border: none;
    }
    span {
        color: white;
        padding: 10px;
    }
}

.txt-rigth {
    text-align: right;
    font-size: 0.5rem;
    a {
        color: rgb(12, 164, 184);
    }
}
.container__free-plan{
    display: flex;
    gap: 10px;
    align-items: center;
    span{
        color: white;
        font-size: 1rem;
    }
    span:nth-child(3){
        font-size: 0.8rem;
        color: rgb(221, 214, 214);
    }
    button{
        width: 100px;
        height: 30px;
        font-size: 0.8rem;
        color: white;
        cursor: pointer;
        border-radius: 2rem;
        margin-left: 10px;
        background-color: #5EC55A;
    }
}
.mensagem-dev{
    background-color: brown;
    text-align: center;
    color: white;
    padding: 10px;
}
.bnt-voltar-border{
    background: linear-gradient(97deg, rgba(61, 159, 235, 1) 0%, rgba(42, 85, 159, 1) 43%, rgba(33, 47, 120, 0.969625350140056) 91%);
    padding: 2px;
    border-radius: 30px;
    button{
        width: 100%;
        background-color: $bkg;
        border-radius: 30px;
        padding: 10px;
        color: white;
        cursor: pointer;
    }
}
.btn-green{
    background: rgb(112,255,102);
    background: linear-gradient(90deg, rgba(112,255,102,1) 10%, rgba(77,164,65,1) 61%);
    padding: 10px;
    border-radius: 30px;
    color: white;
    cursor: pointer;
}

.alignRecordButton{
    display: flex;
    flex-wrap: wrap;
    width: 90%;
    justify-content: space-between;
    margin-top: 30px;
}
.accept-policy{
    a{
        color: white;
        text-decoration: underline;
    }
    input{
        margin-top: 10px;
        margin-right: 10px;
    }
}
@media(max-width: 301px){
   .container_btn{
       margin-top: 40px;
       margin-bottom: 40px;
       width: 100%;
   }
}

// policita de privacidade
.lista-politica-privacidade{
   margin-left: 50px;
}