#container-return-navigation{
    background-color: rgb(255, 255, 255);
    width: 100%;
    margin: 0 aut;
    min-height: 100vh;
    padding-top: 150px;
}
.return-nav{
    width: 90%;
    margin: 0 auto;
    
}

.btn__acont-user{
    padding: 6px 10px ;
    border-radius: 30px;
}
.header__user-edit{
    display: flex;
    width: 90%;
    margin: 2vw auto;
    align-items: center;
    justify-content: space-between;
    .user-edit__salutation{
        p{
            font-size: max(14px, 1vw);
            span{
               position: relative;
               padding-left: 10px;
               font-size: max(30px, 3vw);
               font-weight: 600;
               line-height: 1;
               display: flex;
                &::before{
                    content: '';
                    width: 5px;
                    height: 100%;
                    position: absolute;
                    background: linear-gradient(97deg, rgba(61, 159, 235, 1) 0%, rgba(42, 85, 159, 1) 43%, rgba(33, 47, 120, 0.969625350140056) 91%);
                    left: 0;
                }
            }
        }
    }
    .user-edit__btn-goback{
        border: 2px solid #3273be;
        font-size: 0.8rem;
        text-align: center;
        padding: 0.5vw 1vw;
        border-radius: 30px;
        color: $bkg;
    }
    @media(max-width: 650px){
        .user-edit__btn-goback{
            display: none;
        }
    }

}
.agroup-btn-acont-user{
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: flex-end;
    padding-bottom: 100px;
    padding-top: 2vw;
    button{
        background: linear-gradient(97deg, rgba(61, 159, 235, 1) 0%, rgba(42, 85, 159, 1) 43%, rgba(33, 47, 120, 0.969625350140056) 91%);
        color: white;
        font-size: 0.8rem;
        border-radius: 30px;
        padding: 5px 10px;
    }
    a{
        display: flex;
        align-items: center;
        justify-content: center;
        border: 2px solid #3273BE;
        font-size: 0.8rem;
        color: $bkg;
        width: 80px;
        padding: 5px 10px;
        border-radius: 30px;
        margin-right: 10px;
    }
   
}


/*INSCRIÇÂO E PAGAMENTO*/

#subscription-payment{
    position: absolute;
    background-color: white;
    width: 100vw;
    height: 100%;
    padding-top: 150px;
   
}
.payment-information{
    width: 90%;
    
    margin: 0 auto;
    .payment-information__current-plan{
        width: 100%;
        max-width: 500px;
        height: auto;
        display: flex;
        flex-direction: column;
        gap: 10px;
    }
    .group-btn__change-plam {
        display: flex;
        gap: 10px;
        flex-wrap: wrap;
        margin-top: 20px;
        .change_plan{
           flex: 1;
           min-width: 150px;
           text-align: center;
           background: linear-gradient(97deg, rgba(61, 159, 235, 1) 0%, rgba(42, 85, 159, 1) 43%, rgba(33, 47, 120, 0.969625350140056) 91%);
           padding: 10px;
           color: white;
           border-radius: 30px;
        }
        .goback{
            background-image: url(../../assets/imagens/botão1.png);
            background-size: 100% 100%;
            background-repeat: no-repeat;
            background-position: center;
            flex: 1;
            text-align: center;
            padding: 10px;
            color: $bkg;
            min-width: 150px;
        }
    }
    
}
@media(max-width: 530px){
    .group-btn__change-plam {
        flex-direction: column;
        align-items: flex-start;
       
    }
}

/*pagamento*/