.border-blue{
    background: linear-gradient(97deg, rgba(61, 159, 235, 1) 0%, rgba(42, 85, 159, 1) 43%, rgba(33, 47, 120, 0.969625350140056) 91%);
    padding: 1px;
    width: 150px;
    border-radius: 20px;
    
}
.border-blue button{
   
    background-color: #1C1E29;
    width: 100%;
    padding: 0.5rem;
    border-radius: 20px;
    color: white;
    font-size: 0.8rem;
    cursor: pointer;
}