@charset "UTF-8";
/* cabeçalho*/
#container_landing {
  background-color: #1C1E29;
  overflow: hidden;
}

.efect__top {
  position: absolute;
  top: 0;
  width: 100%;
  height: 50vh;
  background: #1c1e29;
  background: linear-gradient(0deg, rgba(28, 30, 41, 0.4710259104) 0%, rgba(28, 30, 41, 0.9444152661) 80%);
}

.efect__bottom {
  position: absolute;
  z-index: 0;
  bottom: 0px;
  width: 100%;
  height: 50vh;
  background: #1c1e29;
  background: linear-gradient(180deg, rgba(28, 30, 41, 0.4710259104) 0%, #1c1e29 80%);
}

.header_container {
  position: relative;
  height: 100vh;
  font-display: flex;
  position: relative;
  z-index: 1;
  overflow: hidden;
  background-image: url(../../assets/imagens/Asset.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.btn {
  z-index: 5;
  border: none;
  color: white;
  background: linear-gradient(97deg, #3d9feb 0%, #2a559f 43%, rgba(33, 47, 120, 0.9696253501) 91%);
  cursor: pointer;
  transition: 1s;
}

.btn span {
  display: inline-block;
  position: relative;
  transition: 0.5s;
  color: white;
  font-size: 1rem;
}

.btn:hover span:after {
  opacity: 1;
  right: 0;
}

.btn:focus {
  outline: thin dotted;
  outline: 0px auto -webkit-focus-ring-color;
  outline-offset: 0px;
}

input:focus {
  outline: thin dotted;
  outline: 0px auto -webkit-focus-ring-color;
  outline-offset: 0px;
}

.logo {
  position: relative;
  max-width: 91.666666663%;
  margin: 20px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 7;
}
.logo img {
  width: 10rem;
}
.logo .btn_entrar {
  padding: 0.4rem 0.7rem;
  align-items: center;
  justify-content: center;
  background: linear-gradient(97deg, #3d9feb 0%, #2a559f 43%, rgba(33, 47, 120, 0.9696253501) 91%);
  border-radius: 2rem;
  font-size: 0.9rem;
  font-family: "Inter", sans-serif;
  color: white;
  text-transform: uppercase;
  font-weight: 600;
}

@media (min-width: 500px) {
  .logo {
    justify-content: center;
  }
  .logo .btn_entrar {
    position: absolute;
    right: 0px;
    padding: 0.3rem 0.6rem;
  }
}
.call-to-action {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 100%;
}
.call-to-action h1 {
  font-size: 2.5rem;
  color: white;
  margin-bottom: 0px;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  z-index: 5;
  line-height: 3rem;
}
.call-to-action p {
  font-size: 0.9rem;
  color: white;
  font-weight: 300;
  z-index: 5;
  line-height: 2rem;
}

.call-input-group {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-top: 5px;
}
.call-input-group input {
  width: 100%;
  border: none;
  border-radius: 2rem;
  font-family: "Inter", sans-serif;
  font-weight: 300;
  z-index: 5;
  padding: 10px;
  font-size: 0.8rem;
}
.call-input-group .btn {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 2rem;
  border: none;
  font-family: "Inter", sans-serif;
  font-weight: 300;
  font-size: 1rem;
  min-width: 150px;
  padding: 8px 15px;
  height: 100%;
  margin-top: 10px;
}

.main_cads {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  max-width: 60rem;
  margin: auto;
  gap: 10px;
}

main {
  -webkit-box-shadow: -2px -8px 30px 0px #1c1e29;
  -moz-box-shadow: -2px -8px 30px 0px #1c1e29;
  box-shadow: -2px -8px 30px 0px #1c1e29;
  padding-top: 20px;
  background-color: #1C1E29;
  margin-top: -10px;
  width: 90%;
  margin: 0 auto;
}

.container_cards_img {
  flex: 1;
  display: flex;
  gap: 10px;
}

@media (max-width: 446px) {
  .container_cards_img {
    flex: 100%;
    flex-wrap: wrap;
  }
}
.cad-img {
  flex: 1;
  display: flex;
  min-width: 100px;
  align-items: flex-end;
  background-size: cover;
  min-height: 200px;
}
.cad-img span {
  text-align: left;
  margin-left: 20px;
  margin-bottom: 10px;
  font-size: 0.8rem;
  position: relative;
  padding-left: 7px;
  z-index: 2000;
  height: 40px;
  display: flex;
  align-items: center;
  color: white;
}
.cad-img span::after {
  position: absolute;
  content: "";
  width: 5px;
  height: 100%;
  bottom: 0;
  left: 0;
  background: linear-gradient(97deg, #3d9feb 0%, #2a559f 43%, rgba(33, 47, 120, 0.9696253501) 91%);
}

.efect2 {
  position: absolute;
  width: 100%;
  height: 100%;
  background: #1c1e29;
  background: linear-gradient(180deg, rgba(28, 30, 41, 0.0200455182) 4%, rgba(28, 30, 41, 0.84357493) 89%);
}

/*ajustar card*/
.cad-txt {
  z-index: 5;
  flex: 1;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 10px;
  padding-right: 10px;
}
.cad-txt h4 {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 1.5rem;
  padding: 0;
  margin: 0;
  text-align: center;
  color: white;
}
.cad-txt p {
  font-family: "Inter", sans-serif;
  color: white;
  font-size: 0.8rem;
  font-weight: 300;
}

@media (min-width: 709px) {
  .cad-txt {
    align-items: flex-start;
    max-width: 200px;
  }
  .cad-txt h4 {
    text-align: left;
  }
  .cad-txt p {
    text-align: left;
  }
}
.btn2 {
  border-radius: 2rem;
  font-size: 0.8rem;
  padding: 1rem 1rem;
  border: none;
  font-family: "Inter", sans-serif;
  font-weight: 300;
  margin-top: 10px;
  max-width: 200px;
  min-width: 180px;
}

@media (min-width: 1513px) {
  .btn2 {
    max-width: 250px;
  }
}
@media (max-width: 691px) {
  .btn2 {
    font-size: 0.5rem;
  }
}
@media (max-width: 700px) {
  .btn2 {
    width: 140px;
  }
}
.main_card2 {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  height: auto;
  margin-top: 70px;
  position: relative;
}
.main_card2 img {
  flex: 1;
  min-width: 200px;
  z-index: 99999;
  width: 100%;
  max-height: 500px;
}

@media (max-width: 600px) {
  .main_card2 {
    flex-direction: column;
  }
  .main_card2 img {
    max-width: 300px;
    margin: 0 auto;
  }
}
.card2_txt {
  font-family: "Inter", sans-serif;
  flex: 1;
  min-width: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.card2_txt h4 {
  font-size: 3rem;
  font-weight: 400;
  margin: 0;
  padding: 0;
  color: white;
  margin-bottom: 2vw;
}
.card2_txt p {
  font-size: 1.2rem;
  font-weight: 300;
  padding: 0;
  color: white;
}

@media (max-width: 600px) {
  .card2_txt {
    text-align: center;
  }
  .card2_txt h4 {
    font-size: 2.5rem;
  }
}
.aling-action {
  width: 100%;
  display: flex;
  justify-content: center;
}

.aling-action2 {
  width: 90%;
  max-width: 1000px;
  margin: 0 auto;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  height: 80%;
}

.call-to-action2 {
  font-family: "Inter", sans-serif;
  display: flex;
  flex-direction: column;
  padding-top: 70px;
  padding-bottom: 80px;
  margin-bottom: 10px;
}
.call-to-action2 h4 {
  font-weight: 400;
  font-size: 2.5rem;
  color: white;
  line-height: 3.2rem;
  text-align: center;
}
.call-to-action2 p {
  font-weight: 300;
  font-size: 0.9rem;
  color: white;
  line-height: 2rem;
  text-align: center;
}

/* roda pé*/
/* break point */
@media (min-width: 600px) {
  .aling-action2 {
    justify-content: flex-start;
  }

  .call-to-action {
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
  }

  .call-to-action2 h4 {
    text-align: left;
  }
  .call-to-action2 p {
    text-align: left;
  }

  .call-input-group {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  .call-input-group .btn {
    margin-left: 10px;
    margin-top: 0px;
  }
  .call-input-group input {
    min-width: 430px;
  }
}
@media (max-width: 708px) {
  #order2 {
    order: 1;
  }
}
/*Teste*/
.main-cardss {
  display: flex;
  width: 100%;
}
.main-cardss .slick-prev:before, .main-cardss .slick-next:before {
  display: none !important;
}

.container__carrossel-landing {
  width: 65%;
}

@media (max-width: 872px) {
  .txt__landing {
    margin-left: 18px;
  }
}
.txt__landing {
  transform: scale(0.9);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.txt__landing h4 {
  margin: 0;
  padding: 0;
  font-size: 3rem;
  color: white;
  padding-bottom: 10px;
  font-weight: 400;
}
.txt__landing p {
  color: white;
  font-size: max(14px, 1vw);
}

@media (max-width: 1139px) {
  .txt__landing h4 {
    font-size: 2.5rem;
  }
}
.intem-carrosel__landing {
  width: 100%;
  height: auto;
  position: relative;
  display: flex;
  justify-content: flex-end;
  transform: scale(0.9);
}
.intem-carrosel__landing .title-landing-card {
  width: 100%;
  height: 100%;
  background: #1c1e29;
  background: linear-gradient(180deg, rgba(28, 30, 41, 0.2469362745) 0%, rgba(28, 30, 41, 0.8071603641) 80%);
  position: absolute;
  z-index: 6;
  display: flex;
  align-items: flex-end;
}
.intem-carrosel__landing .title-landing-card span {
  color: white;
  height: 50px;
  width: 100%;
  position: relative;
  padding-left: 25px;
  display: flex;
  align-items: center;
}
.intem-carrosel__landing .title-landing-card span::before {
  content: "";
  width: 5px;
  height: 100%;
  background: linear-gradient(97deg, #3d9feb 0%, #2a559f 43%, rgba(33, 47, 120, 0.9696253501) 91%);
  bottom: 0;
  left: 15px;
  position: absolute;
}
.intem-carrosel__landing img {
  width: 100%;
  top: 0;
  left: 0;
  z-index: 0;
}

@media (max-width: 600px) {
  .main-cardss {
    display: flex;
    flex-direction: column;
  }

  .txt__landing {
    order: 1;
    align-items: center;
    text-align: center;
    margin-left: 0;
  }

  .container__carrossel-landing {
    order: 2;
    width: 80%;
    margin: 0 auto;
  }
}
.modal-plan {
  width: 100%;
  background-color: rgba(0, 0, 0, 0.582);
  position: fixed;
  height: 100%;
  display: none;
  flex-direction: column;
  align-items: center;
  top: 0;
  z-index: 99999999;
  overflow: auto;
  padding-bottom: 80px;
}
.modal-plan .close-modal-plan {
  width: 100%;
  text-align: center;
  padding: 10px;
  color: white;
  position: absolute;
  top: 0;
  cursor: pointer;
}
.modal-plan .close-modal-plan i {
  font-size: 4rem;
}

.container-plans {
  width: 100%;
  padding-top: 10rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.container-plans .plan {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #1C1E29;
  margin: 5px;
  color: white;
  padding: 15px;
}
.container-plans .plan i {
  font-size: 5rem;
}
.container-plans .plan span {
  margin-bottom: 10px;
}
.container-plans .plan .img-plan {
  width: 40px;
  height: 40px;
  margin-top: 20px;
  margin-bottom: 30px;
}
.container-plans .plan .img-plan img {
  width: 100%;
}

.call-to-action-plan {
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
.call-to-action-plan input {
  border: none;
  height: 30px;
  margin: 5px;
  border-radius: 2rem;
  padding-left: 10px;
}
.call-to-action-plan button {
  height: 30px;
  padding: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 5px;
  border-radius: 2rem;
  width: 100px;
}

@media (max-width: 485px) {
  .container-plans {
    flex-direction: column;
  }

  .call-to-action-plan {
    flex-direction: column;
  }
}
/*! normalize.css v8.0.1 | MIT License | github.com/necolas/normalize.css */
/* Document
   ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
  margin: 0px;
}

/* Sections
     ========================================================================== */
/**
   * Remove the margin in all browsers.
   */
body {
  margin: 0;
}

/**
   * Render the `main` element consistently in IE.
   */
main {
  display: block;
}

/**
   * Correct the font size and margin on `h1` elements within `section` and
   * `article` contexts in Chrome, Firefox, and Safari.
   */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* Grouping content
     ========================================================================== */
/**
   * 1. Add the correct box sizing in Firefox.
   * 2. Show the overflow in Edge and IE.
   */
hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */
}

/**
   * 1. Correct the inheritance and scaling of font size in all browsers.
   * 2. Correct the odd `em` font sizing in all browsers.
   */
pre {
  font-family: "Inter", sans-serif;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/* Text-level semantics
     ========================================================================== */
/**
   * Remove the gray background on active links in IE 10.
   */
a {
  background-color: transparent;
  text-decoration: none;
}

/**
   * 1. Remove the bottom border in Chrome 57-
   * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
   */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  text-decoration: underline dotted;
  /* 2 */
}

/**
   * Add the correct font weight in Chrome, Edge, and Safari.
   */
b,
strong {
  font-weight: bolder;
}

/**
   * 1. Correct the inheritance and scaling of font size in all browsers.
   * 2. Correct the odd `em` font sizing in all browsers.
   */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/**
   * Add the correct font size in all browsers.
   */
small {
  font-size: 80%;
}

/**
   * Prevent `sub` and `sup` elements from affecting the line height in
   * all browsers.
   */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content
     ========================================================================== */
/**
   * Remove the border on images inside links in IE 10.
   */
img {
  border-style: none;
}

/* Forms
     ========================================================================== */
/**
   * 1. Change the font styles in all browsers.
   * 2. Remove the margin in Firefox and Safari.
   */
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

/**
   * Show the overflow in IE.
   * 1. Show the overflow in Edge.
   */
button,
input {
  /* 1 */
  overflow: visible;
}

/**
   * Remove the inheritance of text transform in Edge, Firefox, and IE.
   * 1. Remove the inheritance of text transform in Firefox.
   */
button,
select {
  /* 1 */
  text-transform: none;
}

/**
   * Correct the inability to style clickable types in iOS and Safari.
   */
button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

/**
   * Remove the inner border and padding in Firefox.
   */
button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
   * Restore the focus styles unset by the previous rule.
   */
button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
   * Correct the padding in Firefox.
   */
fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/**
   * 1. Correct the text wrapping in Edge and IE.
   * 2. Correct the color inheritance from `fieldset` elements in IE.
   * 3. Remove the padding so developers are not caught out when they zero out
   *    `fieldset` elements in all browsers.
   */
legend {
  box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */
}

/**
   * Add the correct vertical alignment in Chrome, Firefox, and Opera.
   */
progress {
  vertical-align: baseline;
}

/**
   * Remove the default vertical scrollbar in IE 10+.
   */
textarea {
  overflow: auto;
}

/**
   * 1. Add the correct box sizing in IE 10.
   * 2. Remove the padding in IE 10.
   */
[type=checkbox],
[type=radio] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
   * Correct the cursor style of increment and decrement buttons in Chrome.
   */
[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

/**
   * 1. Correct the odd appearance in Chrome and Safari.
   * 2. Correct the outline style in Safari.
   */
[type=search] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/**
   * Remove the inner padding in Chrome and Safari on macOS.
   */
[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
   * 1. Correct the inability to style clickable types in iOS and Safari.
   * 2. Change font properties to `inherit` in Safari.
   */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/* Interactive
     ========================================================================== */
/*
   * Add the correct display in Edge, IE 10+, and Firefox.
   */
details {
  display: block;
}

/*
   * Add the correct display in all browsers.
   */
summary {
  display: list-item;
}

/* Misc
     ========================================================================== */
/**
   * Add the correct display in IE 10+.
   */
template {
  display: none;
}

/**
   * Add the correct display in IE 10.
   */
[hidden] {
  display: none;
}

footer {
  padding-bottom: 50px;
  overflow: hidden;
}

.footer_content {
  width: 90%;
  max-width: 70%;
  margin: 80px auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-family: "Inter", sans-serif;
}

.conteudo-left-footer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 10px;
}

.footer_card {
  display: flex;
  flex-direction: column;
  text-align: center;
  min-width: 150px;
  margin-left: 10px;
  margin-right: 30px;
}
.footer_card a {
  color: #ccc8c8;
  font-size: 1.2rem;
  font-weight: lighter;
  padding: 1px;
}

.footer_logo {
  width: 100%;
  margin-top: 6rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.footer_logo img {
  width: 1.2rem;
  margin-bottom: 10px;
  overflow: hidden;
}

.copyricht p {
  text-align: center;
  color: #ffffff;
  font-size: 0.8rem;
  opacity: 0.8;
  font-weight: lighter;
}

.lg_destaque {
  color: #4a7ddb;
  font-weight: bolder;
}

.efect-gradient {
  position: absolute;
  width: 100%;
  height: 100%;
  background: #1c1e29;
  background: linear-gradient(180deg, #1c1e29 0%, rgba(28, 30, 41, 0) 20%);
}

.efect-gradient2 {
  position: absolute;
  width: 100%;
  height: 100%;
  background: #1c1e29;
  background: linear-gradient(0deg, #1c1e29 0%, rgba(28, 30, 41, 0) 20%);
}

.gradient-border {
  position: relative;
  width: 100%;
  height: max(15px, 1vw);
  background: #2c5f9c;
  background: linear-gradient(267deg, #2c5f9c 9%, #1c1d50 58%, #233863 78%, #2c5f9c 93%);
  margin-bottom: 2.5rem;
}

.footer_card1 {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ffffff;
  padding-bottom: 15px;
}
.footer_card1 img {
  width: 12rem;
}

@media (min-width: 600px) {
  .footer_content {
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
  }

  .conteudo-left-footer {
    flex-direction: row;
    align-items: flex-start;
  }

  .footer_card {
    flex: 1;
    text-align: left;
  }
  .footer_card a {
    font-size: 1rem;
    margin-bottom: 5px;
  }

  .footer_card1 {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #ffffff;
    padding-left: 50px;
    padding-right: 50px;
  }
}
#container_login {
  width: 100vw;
  height: 100%;
  position: absolute;
  overflow-x: hidden;
}

.active_login {
  position: relative;
}

.active_login::before {
  content: "";
  bottom: -3px;
  width: 100%;
  height: 3px;
  background: linear-gradient(97deg, #3d9feb 0%, #2a559f 43%, rgba(33, 47, 120, 0.9696253501) 91%);
  position: absolute;
}

.login_content {
  display: flex;
  min-height: 100vh;
}
.login_content .login_container_left {
  flex: 1;
  background-color: #1C1E29;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  overflow: hidden;
}
.login_content .login_container_left img {
  position: absolute;
  right: 0px;
  width: 100%;
  height: 100%;
  min-width: 1200px;
  filter: blur(4px);
}
.login_content .efect3 {
  position: absolute;
  width: 100%;
  height: 100%;
  bottom: 0;
  background-color: #1c1e29a9;
}
.login_content .login-container__right {
  flex: 1;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: -2px 9px 14px 2px rgba(0, 0, 0, 0.45);
}
.login_content .login_content-rigth {
  width: 90%;
  max-width: 550px;
  padding: 10px 10px 50px 10px;
  display: flex;
  flex-direction: column;
}
.login_content .login_content-rigth h1 {
  margin-top: 10px;
  margin-bottom: 0px;
  color: #1C1E29;
  font-size: 2.5rem;
  margin-left: 15px;
}
.login_content .login_content-rigth .sub {
  color: #1C1E29;
  font-size: 0.8rem;
  margin-bottom: 30px;
  margin-left: 15px;
}
.login_content .login_content-rigth input {
  width: 100%;
  max-width: 500px;
  padding: 0.8rem;
  padding-left: 15px;
  border-radius: 30px;
  border: 2px solid #8181819d;
  font-size: max(14px, 1vw);
  margin-bottom: 10px;
}
.login_content .login_content-rigth .login_input-group {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-left: 10px;
  padding-right: 10px;
  width: 100%;
  max-width: 500px;
  margin: 0 auto;
}
.login_content .login_content-rigth .login_input-group fieldset {
  flex: 1;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  gap: 5px;
}
.login_content .login_content-rigth .login_input-group fieldset input {
  width: 10px;
  margin-top: 6px;
  background-color: red;
}
.login_content .login_content-rigth .login_input-group fieldset label {
  font-size: 0.8rem;
  color: #818181;
}
.login_content .login_content-rigth .login_input-group .lembre-me {
  display: flex;
  align-items: center;
  color: #1C1E29;
  flex: 1;
  font-size: 0.8rem;
  text-align: right;
  color: #777474;
}
.login_content .login_content-rigth .btn_login {
  border-radius: 2rem;
  padding: 0.8rem;
  width: 100%;
  max-width: 500px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
}
.login_content .login_content-rigth .btn-social {
  border-radius: 2rem;
  padding: 0.8rem;
  max-width: 350px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  width: 100%;
  font-size: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  opacity: 1;
  background-color: white;
  border: 2px solid #8181819d;
  color: #818181;
  cursor: pointer;
}
.login_content .login_content-rigth .btn-social:disabled {
  cursor: not-allowed !important;
}
.login_content .login_content-rigth .btn-social i {
  position: absolute;
  left: 20px;
  font-size: 2rem;
  color: #8181819d;
}

.txt-btn-social {
  font-size: 0.8rem;
  margin-top: 10px;
  color: #1C1E29;
  text-align: center;
}

.group-input-user {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media (max-width: 600px) {
  .login_container_left {
    display: none !important;
  }
}
#container-reset-password {
  width: 100%;
  min-height: 100vh;
  background-color: white;
  display: flex;
  justify-content: center;
}
#container-reset-password img {
  position: fixed;
  left: -200px;
  bottom: -300px;
  width: 500px;
  z-index: 0;
  filter: opacity(30%);
}

.reset-password__content {
  width: 90%;
  padding: 20px;
  z-index: 1;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  position: relative;
}
.reset-password__content h3 {
  margin-bottom: 20px;
  font-size: 3rem;
  text-align: left;
}
.reset-password__content p {
  margin-bottom: 10px;
  font-size: 1.5rem;
  text-align: left;
}
.reset-password__content input {
  padding: 0.8rem;
  border: none;
  margin-top: 20px;
  margin-right: 10px;
  margin-bottom: 10px;
  background-color: #c7c5c5;
  color: white;
  width: 90%;
  border-radius: 2px;
}
.reset-password__content input::placeholder {
  color: white;
}
.reset-password__content button {
  padding: 0.8rem;
  width: 90%;
  border-radius: 2rem;
  background: linear-gradient(97deg, #3d9feb 0%, #2a559f 43%, rgba(33, 47, 120, 0.9696253501) 91%);
  color: white;
  cursor: pointer;
  margin-top: 20px;
}
.reset-password__content button:disabled {
  background: linear-gradient(97deg, #bbb 0%, #999 43%, #666 91%) !important;
  cursor: not-allowed !important;
}

.reset-password__step {
  width: 100%;
  position: absolute;
  background-color: white;
  opacity: 0;
  z-index: 0;
}

.active-step-password {
  opacity: 1;
  z-index: 1;
}

.btn-apple {
  position: relative;
}

#appleid-signin {
  display: flex;
  width: 100%;
  height: 100%;
  opacity: 0;
  position: absolute;
  top: 0;
}
#appleid-signin img {
  width: 100% !important;
}

@media (min-width: 600px) {
  .reset-password__content {
    width: 100%;
    max-width: 60%;
    padding-right: 60px;
    top: 0;
  }

  #container-reset-password {
    justify-content: flex-end;
  }
  #container-reset-password img {
    width: 100%;
    max-width: 50%;
    bottom: -400px;
  }
}
.active {
  background: linear-gradient(97deg, #3d9feb 0%, #2a559f 43%, rgba(33, 47, 120, 0.9696253501) 91%);
}

.n-active {
  background-color: #84858B;
}

#register_page1 {
  background-color: #1C1E29;
}

.container_logo {
  width: 90%;
  margin: 0 auto;
  padding-top: 30px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  font-family: "Inter", sans-serif;
}
.container_logo small {
  color: white;
  margin-left: 60px;
  padding-top: 20px;
}

.content-logo_left {
  flex: 1;
  display: flex;
  color: white;
  flex-direction: column;
  align-items: center;
}

.logo-ajust img {
  width: 9rem;
}

.logo_flex-item {
  text-align: center;
}
.logo_flex-item .logo-border {
  width: 100%;
  height: 3px;
  background: linear-gradient(97deg, #3d9feb 0%, #2a559f 43%, rgba(33, 47, 120, 0.9696253501) 91%);
}
.logo_flex-item span {
  font-size: 0.7rem;
  text-align: center;
  padding-top: 10px;
}

.content_register {
  width: 100%;
  min-height: 70vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #ffffff;
  font-family: "Inter", sans-serif;
  grid-gap: 10px;
}

.numbe-aliner-content {
  text-align: left;
  display: flex;
  align-items: center;
}
.numbe-aliner-content p {
  padding-top: 20px;
}

.aline-number {
  margin: 0 auto;
  max-width: 1200px;
  width: 90%;
  display: flex;
  justify-content: space-between;
  text-align: center;
}
.aline-number div {
  font-size: 0.6rem !important;
}

.number-register {
  color: #ffffff;
  font-size: 4rem;
}

.container_input-register {
  color: #ffffff;
  margin-top: 2rem;
}

.input_group {
  margin-bottom: 10px;
}
.input_group label {
  display: block;
  width: 95%;
  margin-bottom: 5px;
  padding-left: 10px;
}
.input_group input {
  width: 93%;
  border-radius: 20px;
  padding: 10px;
  border: none;
  padding: 10px;
}

.input_group-txt {
  text-align: center;
  font-size: 0.6rem;
  text-align: left;
}

.container_btn {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  font-weight: 300;
  max-width: 300px;
  gap: 20px;
}
.container_btn .btn {
  width: 6rem;
  text-align: center;
  padding: 0.5rem;
  border-radius: 20px;
  font-size: 0.8rem;
  cursor: pointer;
}
.container_btn .btn:disabled {
  cursor: not-allowed;
}
.container_btn .btn-v {
  color: white;
  background-color: #1C1E29;
  border: 1px solid white;
  border-radius: 20px;
  text-align: center;
  padding: 0.5rem;
  width: 6rem;
  font-size: 0.8rem;
}

.btn-v span {
  position: relative;
  transition: 0.5s;
}

.btn-v span::after {
  content: " «";
  position: absolute;
  opacity: 0;
  left: -20px;
  transition: 0.5s;
}

.btn-v:hover span {
  padding-left: 25px;
}

.btn-v:hover span::after {
  opacity: 1;
  left: 0;
}

.btn-v:focus {
  outline: thin dotted;
  outline: 0px auto -webkit-focus-ring-color;
  outline-offset: 0px;
}

.container_register-pass3 {
  color: white;
  margin-top: 30px;
}

@media (min-width: 500px) {
  .content-logo_left {
    margin: 0 auto;
    width: 90%;
    display: flex;
    color: white;
    flex-direction: row;
    align-items: center;
  }

  .logo_flex-item {
    display: flex;
    align-items: center;
  }
  .logo_flex-item .logo-border {
    width: 3px;
    height: 2rem;
    margin: 10px;
  }
  .logo_flex-item span {
    text-align: left;
    border-top: none;
    padding-top: 0px;
  }

  .logo-ajust {
    margin-bottom: 0px;
  }

  .content_register {
    margin: 3rem auto;
    width: 90%;
    align-items: flex-start;
  }

  .aline-number {
    display: flex;
    align-items: center;
    text-align: left;
  }
  .aline-number div {
    font-size: 0.7rem;
  }

  .number-register {
    font-size: 6rem;
  }

  .container_input-register {
    margin: 3rem auto;
    width: 90%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    grid-gap: 20px;
  }

  .input_group {
    min-width: 300px;
  }
}
.aline-itens-buton {
  display: flex;
  width: 90%;
  margin: 0 auto;
  justify-content: space-between;
  margin-top: 70px;
  margin-bottom: 70px;
}

@media (max-width: 600px) {
  .aline-itens-buton {
    flex-direction: column;
    align-items: center;
  }

  .container__free-plan {
    margin-bottom: 30px;
  }
}
#register-pass2 {
  background-color: #1C1E29;
}
#register-pass2 h1 {
  margin-top: 0px;
}

#register-pass3 {
  background-color: #1C1E29;
}

.content_register-text {
  font-size: 0.2rem;
}

.container-table {
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
}

#table_grid {
  width: 100%;
  max-width: 800px;
  margin: 50px auto;
  height: 100%;
  font-size: 0.8rem !important;
  font-family: "Inter", sans-serif;
  font-weight: 300;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  /*
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;*/
}
#table_grid .btn-p {
  margin: 5px;
  position: relative;
  background: linear-gradient(97deg, #3d9feb 0%, #2a559f 43%, rgba(33, 47, 120, 0.9696253501) 91%);
  padding: 1px;
  border-radius: 20px;
}
#table_grid .btn-p2 {
  width: 100%;
  display: block;
  padding: 0.6rem;
  font-size: 0.7rem;
  border-radius: 20px;
  background-color: #1C1E29;
  text-align: center;
  color: #ffffff;
  border: none;
  cursor: pointer;
  outline-offset: 0px;
}
#table_grid button {
  border: none;
}
#table_grid button:focus {
  outline: 0px auto -webkit-focus-ring-color;
  outline-offset: 0px;
}
#table_grid .active {
  background: linear-gradient(97deg, #3d9feb 0%, #2a559f 43%, rgba(33, 47, 120, 0.9696253501) 91%);
}

.border-table-bottom {
  border-bottom: 1px solid white;
  outline-offset: 0px;
}

.border-table-rigth {
  border-right: 1px solid white;
}

.table_grid-th {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}

.table_grid-td {
  color: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  padding: 10px;
  position: relative;
}

.th_mobile {
  display: none;
  text-align: center;
  color: #7e7e9c;
  line-height: 2;
  font-size: 0.8rem;
}

.txt-bootom {
  margin-top: 15px;
  margin-bottom: 15px;
  color: #ffffff;
  font-size: 0.8rem;
  text-align: center;
}

.th-destaque {
  z-index: 6;
  background-color: #20253a;
  position: sticky;
  top: 0;
}

@media (max-width: 600px) {
  .table-c1 {
    display: none;
  }

  #table_grid {
    grid-template-columns: 1fr 1fr 1fr;
  }

  .border-table-rigth {
    border: none;
  }

  .th_mobile {
    display: block;
  }
}
@media (min-width: 600px) {
  .txt-bootom {
    display: none;
  }
}
#register-pass4 {
  width: 100%;
  background-color: #1C1E29;
  height: 100%;
  font-family: "Inter", sans-serif;
}

.container-btn-pass4 {
  width: 100%;
  max-width: 500px;
  margin: 5rem auto;
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 10px;
  font-size: 0.8rem;
}
.container-btn-pass4 a {
  color: #ffffff;
}

.btn-pass4 {
  border: none;
  padding: 0.6rem;
  border-radius: 20px;
  cursor: pointer;
}

.btn4-v {
  border: 1px solid white;
}

.inative-btn {
  cursor: not-allowed !important;
}

.container-top-credit {
  color: white;
  margin-top: 30px;
}

.btn4-active {
  color: white;
  background: linear-gradient(97deg, #3d9feb 0%, #2a559f 43%, rgba(33, 47, 120, 0.9696253501) 91%);
}

.pass4_checkalt {
  width: 90%;
  max-width: 600px;
  margin: 0 auto;
  gap: 10px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: "input0 input0" "input1 input2" "input3 input3" "input4 input5" "input6 input6" "input7 input7";
}

.input0 {
  text-align: left;
  color: #ffffff;
  font-size: 1rem;
  grid-area: input0;
  padding: 15px;
}

.checkaut-input {
  display: flex;
  flex-direction: column;
}
.checkaut-input input {
  display: flex;
  padding: 0.5rem;
  border-radius: 20px;
  border: none;
}
.checkaut-input label {
  color: #ffffff;
  padding-left: 10px;
  padding-bottom: 5px;
}

.input1 {
  grid-area: input1;
}

.input2 {
  grid-area: input2;
}

.input3 {
  grid-area: input3;
}

.input4 {
  grid-area: input4;
}

.input5 {
  grid-area: input5;
}

.input6 {
  grid-area: input6;
  color: #ffffff;
  padding: 10px;
}

.input7 {
  grid-area: input7;
}
.input7 label {
  margin-right: 30px;
}
.input7 input {
  margin: 10px;
}

@media (max-width: 663px) {
  .pass4_checkalt {
    grid-template-areas: "input1 input1" "input2 input2" "input3 input3" "input4 input4" "input5 input5";
  }
}
.card-pass4 {
  border-radius: 6px;
  cursor: pointer;
  width: 100%;
  max-width: 600px;
  color: #ffffff;
  margin: 2rem auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-areas: "cardTitle cardTitle cardTitle escolha" "cardmain cardmain cardmain escolha " "cardplan cardplan cardplan escolha";
}

.card-tilte {
  padding: 10px;
  grid-area: cardTitle;
  font-size: 0.9rem;
}

.escolha {
  grid-area: escolha;
  padding: 10px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.card-main {
  padding: 10px;
  grid-area: cardmain;
  font-size: 1.5rem;
}

.card-plan {
  padding: 10px;
  grid-area: cardplan;
  font-size: 0.9rem;
}

.txt-botton {
  width: 90%;
  max-width: 600px;
  margin: 0 auto;
  color: #ffffff;
  font-size: 0.8rem;
  text-align: justify;
}

.content-page-prepago {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
}
.content-page-prepago input {
  padding: 0.4rem;
  border-radius: 20px;
  border: none;
}
.content-page-prepago span {
  color: white;
  padding: 10px;
}

.txt-rigth {
  text-align: right;
  font-size: 0.5rem;
}
.txt-rigth a {
  color: #0ca4b8;
}

.container__free-plan {
  display: flex;
  gap: 10px;
  align-items: center;
}
.container__free-plan span {
  color: white;
  font-size: 1rem;
}
.container__free-plan span:nth-child(3) {
  font-size: 0.8rem;
  color: #ddd6d6;
}
.container__free-plan button {
  width: 100px;
  height: 30px;
  font-size: 0.8rem;
  color: white;
  cursor: pointer;
  border-radius: 2rem;
  margin-left: 10px;
  background-color: #5EC55A;
}

.mensagem-dev {
  background-color: brown;
  text-align: center;
  color: white;
  padding: 10px;
}

.bnt-voltar-border {
  background: linear-gradient(97deg, #3d9feb 0%, #2a559f 43%, rgba(33, 47, 120, 0.9696253501) 91%);
  padding: 2px;
  border-radius: 30px;
}
.bnt-voltar-border button {
  width: 100%;
  background-color: #1C1E29;
  border-radius: 30px;
  padding: 10px;
  color: white;
  cursor: pointer;
}

.btn-green {
  background: #70ff66;
  background: linear-gradient(90deg, #70ff66 10%, #4da441 61%);
  padding: 10px;
  border-radius: 30px;
  color: white;
  cursor: pointer;
}

.alignRecordButton {
  display: flex;
  flex-wrap: wrap;
  width: 90%;
  justify-content: space-between;
  margin-top: 30px;
}

.accept-policy a {
  color: white;
  text-decoration: underline;
}
.accept-policy input {
  margin-top: 10px;
  margin-right: 10px;
}

@media (max-width: 301px) {
  .container_btn {
    margin-top: 40px;
    margin-bottom: 40px;
    width: 100%;
  }
}
.lista-politica-privacidade {
  margin-left: 50px;
}

#checkout-container {
  width: 100%;
  height: 120%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: #f9f9fa;
  padding-top: 50px;
}

.card-plans {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
  padding-bottom: 50px;
}

.card-option {
  text-align: center;
  width: 100%;
  max-width: 250px;
  margin: 10px;
  height: 100%;
  max-height: 400px;
  border-radius: 10px;
  -webkit-box-shadow: 6px -1px 16px -1px rgba(63, 63, 63, 0.37);
  -moz-box-shadow: 6px -1px 16px -1px rgba(63, 63, 63, 0.37);
  box-shadow: 6px -1px 16px -1px rgba(63, 63, 63, 0.37);
}
.card-option h4 {
  font-size: 1.5rem;
  color: red;
}
.card-option i {
  font-size: 0.5rem;
}
.card-option p {
  text-align: justify;
  margin: 10px;
  font-size: 0.9rem;
  color: #201f1f;
}

#title-paso2 {
  text-align: center;
  padding-bottom: 50px;
  width: 100%;
  max-width: 1100px;
}
#title-paso2 h3 {
  color: #2e2d2d;
}

.btn-plan {
  position: relative;
  background-color: #8788e4;
  width: 92%;
  padding: 10px;
  border-radius: 0px 10px 0px 10px;
}
.btn-plan .link {
  color: white;
}

#checkout-container2 {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #e6e0e0;
}

.content-checkout {
  width: 100%;
  max-width: 700px;
  padding: 10px;
}

.secure-payment {
  width: 100%;
  text-align: left;
  font-size: 1.5rem;
}

.option-payment {
  display: flex;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  max-width: 350px;
  background-color: white;
  padding: 10px;
  border-radius: 10px;
  margin-top: 10px;
}

.container_question {
  padding-top: 70px;
  width: 100%;
}
.container_question h2 {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  text-align: center;
  color: white;
  margin-bottom: 2rem;
  font-size: 3rem;
  font-weight: 400;
}

.question_content {
  width: 90%;
  max-width: 40rem;
  margin: 0 auto;
}

.question {
  font-family: "Inter", sans-serif;
  display: flex;
  flex-direction: column;
  margin-bottom: 5px;
  color: #626369;
  justify-content: space-between;
  background-color: #ffffff;
  padding: 10px 20px;
  cursor: pointer;
}
.question i {
  font-size: 0.8rem;
}

.container-title-quest {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.container-header {
  width: 90%;
  margin: 0 auto;
  display: flex;
  padding-top: 10px;
  padding-bottom: 10px;
  align-items: center;
  justify-content: space-between;
  z-index: 2000;
  font-family: "Inter", sans-serif;
}

@media (max-width: 477px) {
  .cut-img-nav {
    overflow: hidden;
    width: 3rem;
    margin-left: 20px;
  }
}
header {
  width: 100%;
  height: 8rem;
  position: absolute;
  z-index: 2000;
  margin: 0 auto;
  background: #1c1e29;
  background: linear-gradient(180deg, rgba(28, 30, 41, 0.9808298319) 10%, rgba(28, 30, 41, 0.8295693277) 45%, rgba(28, 30, 41, 0) 100%);
}

.logo-header {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-left: 8px;
}
.logo-header img {
  width: 11rem;
}

@media (max-width: 835px) {
  .nav-font-size a {
    font-size: 0.7rem;
  }
}
@media (min-width: 835px) {
  .nav-font-size a {
    font-size: 0.8rem;
  }
}
.header_content-left {
  display: flex;
  align-items: center;
  gap: 20px;
}
.header_content-left nav ul {
  display: flex;
  align-items: center;
  padding: 0px;
}
.header_content-left nav ul li {
  list-style: none;
  padding-left: 0px !important;
  margin-left: 10px;
  padding: 10px;
}
.header_content-left nav ul li a {
  font-family: "Inter", sans-serif;
  color: #ffffff;
  font-size: max(14px, 1vw);
}

.container_not {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: max(20px, 1.5vw);
  color: white;
  cursor: pointer;
}
.container_not .busca, .container_not .sino {
  margin-right: 40px;
}

/*

}*/
.drop-user {
  position: relative;
  display: flex;
  flex-direction: column;
  z-index: 6;
}
.drop-user .fa-sort-up {
  position: absolute;
  right: 15px;
  bottom: -20px;
  transform: rotate(180deg);
  transition: 0.5s;
}
.drop-user:hover .fa-sort-up {
  transform: rotate(0deg);
}
.drop-user .fa-user {
  color: #3660ad;
  border: 2px solid #3660ad;
  padding: 10px;
  border-radius: 50%;
  background-color: white;
  z-index: -1;
}

.drop-user:hover .menu-user {
  height: auto;
  opacity: 1;
}

.menu-user {
  overflow: hidden;
  z-index: 0;
  opacity: 0;
  top: 60px;
  left: -80px;
  width: auto;
  height: 0px;
  display: flex;
  z-index: -1 !important;
  background-color: #1c1e29ea;
  position: absolute;
  transition: 0.5s;
  flex-direction: column;
  padding: 10px;
}
.menu-user .menu-seur__perfil-acess-acont {
  display: flex;
  gap: 10px;
  flex-direction: column;
  font-size: max(14px, 1vw);
  justify-content: center;
}
.menu-user .menu-seur__perfil-acess-acont a {
  color: white;
  transition: 0.5s;
  border-bottom: 1px solid transparent;
}
.menu-user .menu-seur__perfil-acess-acont a:hover {
  border-bottom: 1px solid white;
}

@media (max-width: 785px) {
  .container_not {
    justify-content: flex-end;
  }

  .header_content-left nav {
    display: none;
  }

  .logo-header {
    margin-left: 20px;
  }

  .container-header {
    padding: 10px;
  }

  .fa-bars {
    color: white;
    font-size: 2rem;
    cursor: pointer;
  }

  .sino,
.busca {
    display: none;
  }
}
@media (min-width: 785px) {
  .fa-bars {
    display: none;
  }
}
#container-home {
  position: relative;
  background-color: #1C1E29;
  height: 100%;
  min-height: 100vh;
  overflow: hidden;
}

.efect {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  background: #1c1e29;
  background: linear-gradient(180deg, rgba(28, 30, 41, 0.0340511204) 22%, #1c1e29 91%);
}

.container_banner_home {
  position: relative;
  height: 100vh;
  background-image: url(https://www.giromarilia.com.br/img/news/duas-coroas_1575925408.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

@media (max-width: 600px) {
  .container_banner_home {
    height: 85vh;
  }
}
.content_baner_home {
  width: 100%;
  margin: 0 auto;
}

.userName {
  position: relative;
  line-height: 4rem;
}

.userName::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 0.3rem;
  background: linear-gradient(97deg, #3d9feb 0%, #2a559f 43%, rgba(33, 47, 120, 0.9696253501) 91%);
}

.banner_home_txt {
  position: relative;
  z-index: 5;
  filter: blur(0px);
  width: 100%;
  max-width: 83.33%;
  margin: 0 auto;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-family: "Inter", sans-serif;
  padding-top: 100px;
}
.banner_home_txt p {
  position: relative;
  padding: 0;
  margin: 0;
  color: #ffffff;
  font-weight: 600;
  font-size: 2.5rem;
  line-height: 3rem;
}
.banner_home_txt .btn-wite {
  margin-top: 20px;
  background-color: white;
  text-align: center;
  color: #1C1E29;
  border-radius: 2rem;
  max-width: 15rem;
  cursor: pointer;
  padding: 0.8rem;
  font-size: max(14px, 1vw);
}

.container-category {
  max-width: 83.33%;
  margin: 20px;
  width: 100%;
  margin: 0px auto;
}
.container-category h4 {
  color: white;
  padding-left: 20px;
  font-weight: 400;
  text-transform: uppercase;
  font-size: 1.2rem;
}
.container-category .container-category__content .container-category__item {
  background-color: #333;
  transition: all ease 0.5s;
  display: flex;
  transform: scale(0.9);
  position: relative;
  cursor: pointer;
  width: 100%;
  min-width: 200px !important;
  max-width: 250px !important;
}
.container-category .container-category__content .container-category__item span {
  color: white;
  width: 100%;
  height: 50px;
  padding-left: 20px;
  position: absolute;
  bottom: 0;
  display: flex;
  align-items: center;
  font-size: 1.3rem;
  z-index: 99999;
}
.container-category .container-category__content .container-category__item span::before {
  content: "";
  position: absolute;
  width: 5px;
  height: 50px;
  background: linear-gradient(97deg, #3d9feb 0%, #2a559f 43%, rgba(33, 47, 120, 0.9696253501) 91%);
  left: 10px;
}
.container-category .container-category__content .container-category__item img {
  width: 100%;
}

/*control carrocel list movie*/
.direction-control {
  position: absolute;
  top: 50%;
  color: white;
  cursor: pointer;
  width: 35px;
  height: 35px;
  border: 1px solid rgba(255, 255, 255, 0.658);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: all ease 0.5s;
}

.control-left {
  left: 50px;
}

.control-rigth {
  right: 50px;
}

.container_home {
  width: 90%;
  margin: 70px auto;
  font-family: "Inter", sans-serif;
  color: #ffffff;
}

.container_continue {
  width: 100%;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;
  margin-top: 20px;
}

.div_left {
  cursor: pointer;
  width: 100%;
  max-width: 200px;
  height: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
.div_left i {
  color: rgba(255, 255, 255, 0.849);
  font-size: 1.5rem;
}
.div_left img {
  position: absolute;
  width: 100%;
  height: 100%;
}

.div_rigth {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 10px;
}
.div_rigth .div_rigth1 {
  position: relative;
  margin-bottom: 20px;
}
.div_rigth .div_rigth1 h4 {
  margin: 0;
  padding: 0;
  font-size: 0.9rem;
  margin-left: 10px;
}
.div_rigth .div_rigth1 span {
  font-size: 0.7rem;
  margin-left: 10px;
}
.div_rigth .div_rigth1::before {
  content: "";
  width: 4px;
  height: 100%;
  background: linear-gradient(97deg, #3d9feb 0%, #2a559f 43%, rgba(33, 47, 120, 0.9696253501) 91%);
  position: absolute;
}
.div_rigth .didv_rigth2 {
  font-size: 0.7rem;
}
.div_rigth .container_like {
  display: flex;
  gap: 10px;
}
.div_rigth .container_like i {
  border: 1px solid rgba(255, 255, 255, 0.521);
  border-radius: 50%;
  padding: 7px;
  font-size: 0.8rem;
}

.jj {
  padding-bottom: 50px;
  width: 100%;
  max-width: 500px;
  margin: 0 auto;
}

.pop-up-video {
  position: fixed;
  z-index: 999999999;
  width: 100vw;
  height: 100vh;
  background-color: #1c1e29bb;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  display: none;
}
.pop-up-video .close-pop-up {
  position: absolute;
  top: 0;
  width: 100%;
  background-color: #1C1E29;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  cursor: pointer;
  -webkit-box-shadow: -1px 6px 18px 0px #1c1e29;
  -moz-box-shadow: -1px 6px 18px 0px #1c1e29;
  box-shadow: -1px 6px 18px 0px #1c1e29;
}
.pop-up-video .pop-up-video__content {
  width: 100%;
  max-width: 500px;
  height: auto;
  margin: 0 auto;
  -webkit-box-shadow: 0px 2px 22px 0px #1c1e29;
  -moz-box-shadow: 0px 2px 22px 0px #1c1e29;
  box-shadow: 0px 2px 22px 0px #1c1e29;
}

/*Categorias*/
#contatiner-description {
  height: auto;
  overflow: hidden;
}

.audio-control {
  position: fixed;
  top: 40%;
  right: 0px;
  z-index: 1000000;
  cursor: pointer;
  color: white;
  font-size: max(14px, 2vw);
  opacity: 0.5;
  padding: 7px;
  background-color: #1C1E29;
  border-radius: 5px 0px 0px 5px;
}

#mudo {
  width: 100%;
  min-width: 600px;
}

.bkg__vimeo {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  position: absolute;
}

.description__banner {
  box-sizing: border-box;
  position: relative;
  z-index: 1000;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding-bottom: 50px;
  gap: 10px;
  height: 100vh;
  width: 90%;
  margin: 0 auto;
  font-family: "Inter", sans-serif;
  color: white;
}
.description__banner div > span {
  font-size: max(15px, 1vw);
}
.description__banner h1 {
  font-size: max(25px, 3vw);
}
.description__banner h1::before {
  content: "";
  width: 5px;
  height: 100%;
  background: linear-gradient(97deg, #3d9feb 0%, #2a559f 43%, rgba(33, 47, 120, 0.9696253501) 91%);
  padding: 3px;
  margin-right: 10px;
}
.description__banner .shortSynopsis {
  width: 100%;
  height: auto;
  max-width: 440px;
  font-size: max(14px, 1vw);
  font-weight: 400;
}

.group-buttons {
  display: flex;
  gap: 20px;
  margin-top: 2rem;
}

.expirationDate {
  font-size: 0.8rem;
  margin-top: 1rem;
}

/*Navegação abas*/
.nav-abas {
  display: flex;
  flex-direction: column;
  position: relative;
  z-index: 2000;
  width: 90%;
  margin: 30px auto;
  padding-bottom: 30px;
  margin-bottom: -20px;
  font-family: "Inter", sans-serif;
  color: white;
  min-height: 300px;
}
.nav-abas ul {
  display: flex;
  margin: 0;
  padding: 0;
  gap: 10px;
}
.nav-abas ul li {
  list-style: none;
  padding: 0.4rem;
  cursor: pointer;
  text-align: center;
  font-size: max(14px, 1vw);
}
.nav-abas ul .active-abas {
  position: relative;
}
.nav-abas ul .active-abas::before {
  content: "";
  width: 100%;
  height: 6px;
  position: absolute;
  bottom: 0;
  left: 0;
  background: linear-gradient(97deg, #3d9feb 0%, #2a559f 43%, rgba(33, 47, 120, 0.9696253501) 91%);
}

.nav-abas-container-content {
  position: relative;
  height: auto;
}

.nav-abas-content h5 {
  width: 100%;
  padding-left: 10px;
  font-size: max(10px, 1vw);
}

.colum-txt {
  columns: 300px 3;
  padding: 10px;
  line-height: 1.5;
  font-weight: lighter;
  font-size: max(14px, 1vw);
}

.edit-txt-sinopese {
  font-size: max(14px, 1vw);
  padding: 10px;
}

@media (max-width: 700px) {
  .colum-txt {
    columns: 100px 2;
  }
}
@media (max-width: 350px) {
  .colum-txt {
    columns: 100px 1;
  }
}
.img-border-blue {
  padding: 0.5vw 1vw;
  background-color: transparent;
  background-image: url(../../assets/imagens/botão1.png);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  font-size: max(14px, 1.5vw);
  color: white;
  cursor: pointer;
}

.goback-btn-description {
  display: flex;
  align-items: center;
}
.goback-btn-description .btn-dv {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin-right: 10px;
  border: 2px solid rgba(255, 255, 255, 0.808);
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  padding-right: 3px;
  padding-top: 2px;
}
.goback-btn-description .btn-dv i {
  padding-left: 2px;
  padding-bottom: 2px;
}

.movie-relacionado {
  width: 90%;
  margin: 0 auto;
}
.movie-relacionado h4 {
  color: white;
}

.assinale-listing i {
  margin-right: 10px;
}

.trailer-extra {
  width: 100%;
}
.trailer-extra .content__trailer {
  width: 100%;
  max-width: 400px;
  position: relative;
  cursor: pointer;
  margin-top: 30px;
}
.trailer-extra .content__trailer img {
  width: 100%;
}
.trailer-extra .content__trailer p {
  background-color: rgba(15, 10, 22, 0.616);
  padding: 10px;
  position: absolute;
  width: 100%;
  bottom: 0;
}

#ContainerPlay {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #1C1E29;
}

.containerVideo {
  width: 100%;
  height: 100%;
  display: flex;
}
.containerVideo iframe {
  border: none;
  width: 100%;
}

.btn-voltar:hover {
  opacity: 1;
}

.top-card {
  position: absolute;
  top: 0;
  width: 100%;
  height: 50px;
  z-index: 99999;
  display: flex;
  padding: 20px;
}
.top-card:hover .btn-voltar {
  opacity: 1;
}
.top-card .btn-voltar {
  display: flex;
  align-items: center;
  gap: 10px;
  border: none;
  background-color: transparent;
  opacity: 0.5;
  color: white;
  text-transform: uppercase;
  font-size: max(14px, 1.5vw);
  z-index: 99999;
  cursor: pointer;
  font-weight: 600;
  transition: all ease 0.2s;
}

#container-dashboard {
  width: 100%;
  background-color: white;
  margin: 0 auto;
  height: 100%;
  overflow: hidden;
  font-family: "Inter", sans-serif !important;
}

#container-dashboard footer {
  background-color: #1C1E29;
}

.gradient-border {
  background-color: #1C1E29;
}

.container-dashboard__top {
  padding-top: 120px;
  width: 90%;
  max-width: 1000px;
  margin: 0 auto;
}
.container-dashboard__top h3 {
  color: white;
}

.user__plan {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 60px;
  border-bottom: 1px solid white;
  gap: 10px;
}
.user__plan a {
  color: white;
  border-bottom: 1px solid white;
}

.info-current-plan-date {
  font-size: 0.8rem;
}

.lex-item {
  flex: 1;
  max-width: 250px;
  min-width: 250px;
}

.renew_payment {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.renew_payment h3 {
  padding-top: 30px;
  padding-bottom: 15px;
  margin: 0;
}
.renew_payment span {
  color: white;
  margin: 0;
  padding: 0;
}
.renew_payment button {
  width: 100%;
  max-width: 150px;
  padding: 0.3rem;
  border-radius: 4px;
  cursor: pointer;
}
.renew_payment p {
  margin: 0;
  padding: 0;
  font-size: 0.8rem;
  color: white;
}
.renew_payment a {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 250px;
  border: 1px solid white;
  padding: 0.2rem;
  font-size: 0.8rem;
}

.change-plan {
  font-family: "Inter", sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
.change-plan h3 {
  text-align: center;
  color: white;
  font-size: 1.5rem;
}
.change-plan p {
  text-align: center;
  color: white;
}

.dashboard__main-content {
  padding-bottom: 300px;
  height: 100%;
  min-height: 100vh;
}
.dashboard__main-content ul {
  margin: 0;
  padding: 0;
  position: relative;
}
.dashboard__main-content ul li {
  position: absolute;
  list-style: none;
  width: 100%;
  height: 100%;
  background-color: yellow;
  opacity: 0;
  z-index: 0;
  transition: 0.5s;
}

.active-tab-user {
  opacity: 1 !important;
  z-index: 1 !important;
}

.crad__current-plan {
  width: 100%;
  max-width: 250px;
  margin: 5px;
  border-radius: 6px;
  background: linear-gradient(97deg, #3d9feb 0%, #2a559f 43%, rgba(33, 47, 120, 0.9696253501) 91%);
  padding: 0.4rem;
  display: flex;
  flex-direction: column;
  gap: 10px;
  font-family: "Inter", sans-serif;
  color: white;
}
.crad__current-plan .current-plan-price {
  display: flex;
  justify-content: space-between;
  font-size: 1.2rem;
  align-items: center;
}
.crad__current-plan .current-plan-price span:nth-child(2) {
  font-size: 0.8rem;
}
.crad__current-plan .current_plan {
  font-size: 0.8rem;
}

/*Dashboard ADM*/
.container__dashboard-adm {
  font-family: "Inter", sans-serif;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  background-color: #1C1E29;
  display: flex;
  flex-wrap: wrap;
}
.container__dashboard-adm .input_-dashboard {
  min-width: 50%;
  display: flex;
  align-items: center;
}
.container__dashboard-adm input {
  width: 100%;
  max-width: 560px;
}

body {
  background-color: #1C1E29;
}

.containerAdm {
  background-color: #1C1E29;
  height: 100%;
  width: 100%;
}
.containerAdm .adm-content {
  width: 90%;
  height: 100%;
  max-width: 1000px;
  margin: 0 auto;
}

.container_nav_control {
  font-family: "Inter", sans-serif;
  text-transform: uppercase;
  margin: 0 auto;
}
.container_nav_control ul {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding-top: 150px;
  padding-left: 0;
  padding-bottom: 5px;
  justify-content: space-between;
  border-bottom: 1px solid white;
  gap: 10px;
}
.container_nav_control ul li {
  flex: 1;
  min-width: 200px;
  max-width: 200px;
  list-style: none;
  margin: 0;
  color: white;
  cursor: pointer;
  font-size: 0.8rem;
}

.content-adm_abas {
  width: 100%;
  height: 100%;
}

#contral_abas {
  padding-left: 0;
  margin: 0;
  width: 100%;
  height: 50vh;
  position: relative;
}
#contral_abas li {
  list-style: none;
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0;
  z-index: 0;
  transition: 1s;
}

.adm-active {
  opacity: 1 !important;
  z-index: 1 !important;
}

/*Forma de pagamento*/
#container__change-payment {
  font-family: "Inter", sans-serif;
  z-index: 2;
}

.change-payment__content {
  padding-top: 80px;
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
  position: relative;
}
.change-payment__content h3 {
  color: white;
}
.change-payment__content p {
  color: white;
}

.container-btn-pass4 {
  position: relative;
  z-index: 3;
}

.container-modal-imgs {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  height: 70%;
  overflow-y: scroll;
  margin-top: 30px;
}
.container-modal-imgs .container-img-galery {
  flex: 1;
  min-width: 9rem;
  cursor: pointer;
  transform: scale(0.9);
  transition: all ease 0.5s;
  position: relative;
}
.container-modal-imgs .container-img-galery:hover {
  transform: scale(1);
}
.container-modal-imgs .container-img-galery div {
  position: absolute;
  background-color: transparent;
  width: 100%;
  height: 100%;
  top: 0;
  transition: all ease 0.5s;
  display: flex;
  align-items: center;
  justify-content: center;
}
.container-modal-imgs .container-img-galery div i {
  color: transparent;
  transition: all ease 0.5s;
}
.container-modal-imgs .container-img-galery div:hover {
  background-color: rgba(0, 0, 0, 0.507);
}
.container-modal-imgs .container-img-galery div:hover i {
  color: white;
}

.change-payment__content-modal {
  position: fixed;
  background-color: white;
  padding-top: 150px;
  padding-left: 10px;
  padding-right: 10px;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  width: 0;
  z-index: 9000;
  transition: 0.2s;
  opacity: 0;
}
.change-payment__content-modal .btn-close-modal {
  position: absolute;
  right: 10px;
  top: 100px;
  color: black;
  font-size: 2rem;
  cursor: pointer;
}
.change-payment__content-modal .content-modal {
  display: flex;
  gap: 10px;
  flex-direction: column;
}
.change-payment__content-modal .content-modal button {
  background: linear-gradient(97deg, #3d9feb 0%, #2a559f 43%, rgba(33, 47, 120, 0.9696253501) 91%);
  max-width: 190px;
  color: white;
  padding: 8px;
  font-size: max(10px, 0.8rem);
}
.change-payment__content-modal .content-modal input {
  font-size: max(10px, 0.8rem);
  color: #7c7777;
}

.login-social-network {
  position: fixed;
  top: 40%;
  left: 35%;
  margin-left: auto;
  display: flex;
  flex-direction: column;
  padding-top: 50px;
  padding-bottom: 20px;
  padding-left: 20px;
  padding-right: 20px;
  background-color: #ffffff;
  box-shadow: 2px 4px 8px 3px rgba(0, 0, 0, 0.24);
  border-radius: 6px;
  transform: scale(0);
  transition: all ease 0.2s;
}
.login-social-network .border-social-blue {
  background: linear-gradient(97deg, #3d9feb 0%, #2a559f 43%, rgba(33, 47, 120, 0.9696253501) 91%);
  border-radius: 2rem;
  padding: 3px;
  display: flex;
  margin-bottom: 10px;
  min-width: 200px;
}
.login-social-network:hover {
  transform: scale(1);
}
.login-social-network .close {
  position: absolute;
  right: 10px;
  top: 5px;
  color: #2a559f;
  font-size: 2rem;
  cursor: pointer;
}
.login-social-network .title {
  margin-bottom: 20px;
  font-size: 0.8rem;
}
.login-social-network button {
  width: 100%;
  padding: 0.5rem;
  background-color: white;
  border-radius: 2rem;
  position: relative;
  color: #8181819d;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.login-social-network button:disabled {
  cursor: not-allowed;
}
.login-social-network button i {
  position: absolute;
  left: 15px;
  font-size: 1.5rem;
}

.active-modal-social {
  transform: scale(1);
}

.state-bond {
  position: absolute;
  right: 10px;
}

.state-bond-gren {
  position: absolute;
  right: 10px;
  color: #24e424;
}

#container-add-movie {
  position: absolute;
  display: flex;
  width: 100%;
  height: 100%;
}
#container-add-movie aside {
  width: 200px;
  background-color: #1C1E29;
}
#container-add-movie aside ul {
  margin: 0;
  padding: 0;
  padding-top: 50px;
  display: flex;
  flex-direction: column;
}
#container-add-movie aside ul li {
  list-style: none;
  padding: 10px;
}
#container-add-movie aside ul li a {
  text-align: left;
  color: white;
  font-family: "Inter", sans-serif;
  font-size: 0.8rem;
  padding-left: 10px;
}

.add-movie-content {
  width: 100%;
  background-color: #cccccc;
}

#container__pod-cast {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-family: "Inter", sans-serif;
}

.info_card_muvie__tag-muvie ul {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
  margin: 0;
  padding: 0;
}
.info_card_muvie__tag-muvie ul li {
  list-style: none;
}

.ultimo_card {
  background-color: #1C1E29 !important;
}

.container-carrosel_slik {
  width: 100%;
  max-width: 83.33%;
  margin: 30px auto;
  position: relative;
  display: flex;
  flex-direction: column;
}
.container-carrosel_slik h4 {
  color: white;
  margin-bottom: 10px;
  font-size: 1.2rem;
  padding-left: 10px;
}
.container-carrosel_slik .slick-next {
  z-index: 9999;
}
.container-carrosel_slik .container-btn__movie-list {
  position: absolute;
  z-index: 1;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: #1c1e29;
  background: linear-gradient(90deg, rgba(28, 30, 41, 0) 0%, #1c1e29 25%);
}

@media (max-width: 600px) {
  .container-btn__movie-list {
    display: none;
  }

  .control-width__listmovie {
    width: 80%;
    margin: 0 auto;
  }
}
.conteudo_slik {
  flex: 1;
  overflow: hidden;
  transition: all ease 0.5s;
  position: relative;
  transform: scale(0.9);
}
.conteudo_slik img {
  width: 100%;
}
.conteudo_slik:hover {
  transform: scale(1);
  z-index: 10000;
}
.conteudo_slik:hover .modal-card-traler_slik {
  opacity: 1;
}

.modal-card-traler_slik {
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: all ease 1s;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.aling__traler_slik {
  display: flex;
  overflow: hidden;
  position: absolute;
  min-width: 500px;
  height: 100%;
  align-items: flex-end;
  justify-content: flex-end;
}
.aling__traler_slik iframe {
  width: 100%;
  height: 100%;
  border: none;
}

.testez {
  width: 100%;
  height: 100%;
  background-color: transparent;
  cursor: pointer;
  z-index: 999999;
}

.info_card_muvie_slik {
  z-index: 9999999;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: auto;
  min-height: 80px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  background-color: white;
}

.info_card_muvie__control_slik {
  display: flex;
  padding: 5px;
  justify-content: space-between;
  font-size: max(14px, 1.5vw);
}
.info_card_muvie__control_slik i {
  color: #1C1E29;
  cursor: pointer;
  padding: 0.2rem;
}

.activeLike {
  color: #ddd !important;
  background: #1C1E29 !important;
  border-radius: 4px;
  padding: 5px;
}

.info_card_muvie__bootom_slik {
  display: flex;
}

.info_card_muvie__itens_slik {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-start;
  font-size: max(8px, 0.5vw);
  gap: 5px;
  width: 100%;
  color: #1C1E29;
  padding: 5px;
}
.info_card_muvie__itens_slik div {
  margin-right: 10px;
}
.info_card_muvie__itens_slik h4 {
  margin: 0;
  padding: 0;
}

.info_card_muvie__idicative-class_slik {
  border: 1px solid #1C1E29;
  padding: 3px;
  border-radius: 6px;
}

.container-my-carousel {
  width: 100%;
  min-height: 250px;
  position: relative;
  display: flex;
}
.container-my-carousel:hover .btn-my-carrosel-left {
  opacity: 1;
}
.container-my-carousel:hover .btn-my-carrosel-rigth > button {
  opacity: 1;
}
.container-my-carousel .my-carousel-sroll {
  flex: 1;
  overflow-x: scroll;
  position: relative;
  display: flex;
  scroll-behavior: smooth;
}
.container-my-carousel .my-carousel-sroll::-webkit-scrollbar {
  width: 0.1px;
  max-width: 10px;
}
.container-my-carousel .my-carousel-sroll .my-carousel {
  display: flex;
  transition: all ease 2s;
}
.container-my-carousel .my-carousel-sroll .my-carousel .my-carousel-item {
  flex: 1;
  min-width: 200px;
  max-width: 200px;
  transform: scale(0.9);
  cursor: pointer;
  transition: all ease 0.5s;
  position: relative;
  z-index: 5;
}
.container-my-carousel .my-carousel-sroll .my-carousel .my-carousel-item img {
  width: 100%;
  z-index: 1;
}
.container-my-carousel .my-carousel-sroll .my-carousel .my-carousel-item:hover {
  transform: scale(1);
}
.container-my-carousel .my-carousel-sroll .my-carousel .my-carousel-item:hover .container-video-card {
  opacity: 1;
}
.container-my-carousel .my-carousel-sroll .my-carousel .my-carousel-item .efect-home {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 1;
  background: #1c1e29;
  background: linear-gradient(180deg, rgba(28, 30, 41, 0.2469362745) 0%, rgba(28, 30, 41, 0.8071603641) 80%);
}

.fim-carrosel {
  min-width: 300px;
  height: 100%;
  background-color: transparent;
}

.btn-my-carrosel-left,
.btn-my-carrosel-rigth {
  position: absolute;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all ease 0.5s;
}
.btn-my-carrosel-left button,
.btn-my-carrosel-rigth button {
  background-color: transparent;
  border: 1px solid white;
  width: 1.5rem;
  height: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  color: white;
  cursor: pointer;
}

.btn-my-carrosel-rigth button {
  opacity: 0;
  transition: all ease 0.5s;
}

@media (max-width: 600px) {
  .btn-my-carrosel-left,
.btn-my-carrosel-rigth {
    display: none;
  }
}
.btn-my-carrosel-left {
  width: 50px;
  opacity: 0;
  background-color: #1c1e2993;
  left: -40px;
}

.btn-my-carrosel-rigth {
  z-index: 9;
  right: -5px;
  width: 150px;
  background: #1c1e29;
  background: linear-gradient(270deg, #1c1e29 64%, rgba(255, 255, 255, 0) 100%);
  transition: all ease 0.5s;
}

.container-video-card {
  z-index: 5;
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: all ease 0.5s;
}
.container-video-card .aling-video-card {
  min-width: 550px;
}
.container-video-card .card-info-n {
  position: absolute;
  z-index: 100;
  bottom: 0;
  width: 100%;
  color: #6b6868;
  background-color: white;
  padding: 5px 10px;
}
.container-video-card .card-info-n .control-card-movie {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.container-video-card .card-info-n .control-card-movie a {
  color: #6b6868;
}

.nav-mobile {
  background-color: #181a24e5;
  position: absolute;
  top: 0;
  width: 0;
  height: 100vh;
  z-index: 99999;
  overflow: hidden;
  transition: all ease 0.2s;
}
.nav-mobile i {
  color: white;
  font-size: 3rem;
  opacity: 0.5;
  width: 100%;
  padding-top: 15px;
  padding-bottom: 10px;
  text-align: center;
}
.nav-mobile ul {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 500px;
  margin: 0 auto;
  gap: 10px;
  padding-top: 10px;
}
.nav-mobile ul .mobile-notification {
  background-color: transparent !important;
}
.nav-mobile ul .mobile-notification i {
  font-size: 1.5rem;
  text-align: left;
  width: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.nav-mobile ul .mobile-search {
  background-color: transparent !important;
  display: flex;
  align-items: center;
}
.nav-mobile ul .mobile-search i {
  font-size: 1.5rem;
  text-align: left;
  width: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.nav-mobile ul .mobile-search input {
  height: 100%;
  flex: 1;
  border: transparent;
}
.nav-mobile ul li {
  list-style: none;
  font-size: 1rem;
  background-color: #2d3042;
  width: 90%;
  position: relative;
  padding-bottom: 4px;
}
.nav-mobile ul li::before {
  content: "";
  position: absolute;
  width: 100%;
  left: 0;
  bottom: 0;
  height: 5px;
  background: linear-gradient(97deg, #3d9feb 0%, #2a559f 43%, rgba(33, 47, 120, 0.9696253501) 91%);
  opacity: 0;
  transition: all ease 0.2s;
}
.nav-mobile ul li:visited::before {
  opacity: 1;
}
.nav-mobile ul li:active::before {
  opacity: 1;
}
.nav-mobile ul li a {
  display: block;
  color: white;
  padding: 10px;
}

#container-return-navigation {
  background-color: white;
  width: 100%;
  margin: 0 aut;
  min-height: 100vh;
  padding-top: 150px;
}

.return-nav {
  width: 90%;
  margin: 0 auto;
}

.btn__acont-user {
  padding: 6px 10px;
  border-radius: 30px;
}

.header__user-edit {
  display: flex;
  width: 90%;
  margin: 2vw auto;
  align-items: center;
  justify-content: space-between;
}
.header__user-edit .user-edit__salutation p {
  font-size: max(14px, 1vw);
}
.header__user-edit .user-edit__salutation p span {
  position: relative;
  padding-left: 10px;
  font-size: max(30px, 3vw);
  font-weight: 600;
  line-height: 1;
  display: flex;
}
.header__user-edit .user-edit__salutation p span::before {
  content: "";
  width: 5px;
  height: 100%;
  position: absolute;
  background: linear-gradient(97deg, #3d9feb 0%, #2a559f 43%, rgba(33, 47, 120, 0.9696253501) 91%);
  left: 0;
}
.header__user-edit .user-edit__btn-goback {
  border: 2px solid #3273be;
  font-size: 0.8rem;
  text-align: center;
  padding: 0.5vw 1vw;
  border-radius: 30px;
  color: #1C1E29;
}
@media (max-width: 650px) {
  .header__user-edit .user-edit__btn-goback {
    display: none;
  }
}

.agroup-btn-acont-user {
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: flex-end;
  padding-bottom: 100px;
  padding-top: 2vw;
}
.agroup-btn-acont-user button {
  background: linear-gradient(97deg, #3d9feb 0%, #2a559f 43%, rgba(33, 47, 120, 0.9696253501) 91%);
  color: white;
  font-size: 0.8rem;
  border-radius: 30px;
  padding: 5px 10px;
}
.agroup-btn-acont-user a {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid #3273BE;
  font-size: 0.8rem;
  color: #1C1E29;
  width: 80px;
  padding: 5px 10px;
  border-radius: 30px;
  margin-right: 10px;
}

/*INSCRIÇÂO E PAGAMENTO*/
#subscription-payment {
  position: absolute;
  background-color: white;
  width: 100vw;
  height: 100%;
  padding-top: 150px;
}

.payment-information {
  width: 90%;
  margin: 0 auto;
}
.payment-information .payment-information__current-plan {
  width: 100%;
  max-width: 500px;
  height: auto;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.payment-information .group-btn__change-plam {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  margin-top: 20px;
}
.payment-information .group-btn__change-plam .change_plan {
  flex: 1;
  min-width: 150px;
  text-align: center;
  background: linear-gradient(97deg, #3d9feb 0%, #2a559f 43%, rgba(33, 47, 120, 0.9696253501) 91%);
  padding: 10px;
  color: white;
  border-radius: 30px;
}
.payment-information .group-btn__change-plam .goback {
  background-image: url(../../assets/imagens/botão1.png);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  flex: 1;
  text-align: center;
  padding: 10px;
  color: #1C1E29;
  min-width: 150px;
}

@media (max-width: 530px) {
  .group-btn__change-plam {
    flex-direction: column;
    align-items: flex-start;
  }
}
/*pagamento*/
/*TELA INICIAL DA DASHBOARD DO ADMINISTRADOR*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.adm-home-screen {
  background-color: white;
  width: 100%;
  padding-top: 150px;
  position: absolute;
}

.adm-home-screen__container {
  width: 90%;
  margin: 0 auto;
  margin-top: 20px;
  margin-bottom: 20px;
}

.adm-home-screen__container-flex {
  display: flex;
  align-items: center;
  gap: 10px;
}

.adm-home-screen__container-flex-item {
  flex: 1;
}

.btn-adm-hom-scren {
  border: 2px solid #3273be;
  padding: 10px;
  width: 100%;
  max-width: 250px;
  font-size: 0.8rem;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #1C1E29;
  border-radius: 30px;
}

.aline-flexend {
  display: flex;
  justify-content: flex-end;
}

.txt-1 {
  font-size: min(16px, 3vw);
}

.txt-2 {
  font-size: min(14px, 2vw);
}

.txt-3 {
  font-size: min(10px, 1vw);
}

.flex1 {
  flex: 1;
}

.min-width-100 {
  min-width: 100px;
}

.title-1 {
  font-size: min(30px, 5vw);
}

.title-2 {
  font-size: min(20px, 5vw);
  font-weight: bold;
}

.uppercase {
  text-transform: uppercase;
}

.color-txt {
  color: #1C1E29;
}

.bold {
  font-weight: 600;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.flex-colum {
  display: flex;
  flex-direction: column;
}

.aling-itens {
  align-items: center;
}

.aling-itens__flex-end {
  align-items: flex-end;
}

.justify-content__flex-end {
  justify-content: flex-end;
}

.gap-10 {
  gap: 10px;
}

.gap-20 {
  gap: 20px;
}

.gap-30 {
  gap: 50px;
}

.txt-aling-rigth {
  text-align: right;
}

.txt-aling-center {
  text-align: center;
}

.margin-top-40 {
  margin-top: 40px;
}

.border-left-1 {
  border-left: 1px solid #1C1E29;
}

.pading-left-10 {
  padding-left: 10px;
}

.blue-left-border {
  position: relative;
  padding-left: 10px;
}
.blue-left-border::before {
  content: "";
  width: 5px;
  height: 100%;
  background: linear-gradient(97deg, #3d9feb 0%, #2a559f 43%, rgba(33, 47, 120, 0.9696253501) 91%);
  position: absolute;
  left: 0;
}

.nav-dash-adm {
  box-sizing: border-box;
  width: 100px;
  height: 100px;
  border: 2px solid #1c1e2991;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  justify-content: center;
  text-align: center;
  cursor: pointer;
}
.nav-dash-adm i {
  font-size: 50px;
  color: #1C1E29;
}
.nav-dash-adm span {
  font-size: 8px;
}
.nav-dash-adm img {
  width: 40px;
}

.nav-dash-adm:hover {
  border: none;
  color: white;
  background: linear-gradient(97deg, #3d9feb 0%, #2a559f 43%, rgba(33, 47, 120, 0.9696253501) 91%);
}

.container__status {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  width: 90%;
  margin: 0 auto;
  padding-top: 70px;
}
.container__status .container__status-content {
  display: flex;
  flex-direction: column;
}
.container__status .container__status-content .container__status-content__title {
  min-height: 50px;
  display: flex;
  gap: 10px;
  align-items: center;
  color: #1C1E29;
  justify-content: space-between;
  margin-bottom: 30px;
}
.container__status .container__status-content .container__status-content__title h3 {
  font-size: min(16px, 3vw);
}
.container__status .container__status-content .container__status-content__title div {
  background: linear-gradient(97deg, #3d9feb 0%, #2a559f 43%, rgba(33, 47, 120, 0.9696253501) 91%);
  color: white;
  padding: 5px 10px;
  border-radius: 30px;
}
.container__status .container__status-content .container__status-content__title span {
  font-size: min(10px, 1vw);
  max-width: 200px;
}
.container__status .container__status-content button {
  background-image: url(../../assets/imagens/botão1.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-color: transparent;
  padding: 5px 10px;
  margin: 0 auto;
  cursor: pointer;
  font-size: 0.8rem;
}
.container__status .container__status-content .container__status-content__info {
  display: flex;
  align-items: center;
  padding-bottom: 10px;
  padding-top: 10px;
  height: 80px;
  max-width: 500px;
}
.container__status .container__status-content .container__status-content__info div:nth-child(1) {
  font-size: min(10px, 1vw);
  padding: 5px;
  min-width: 100px;
}
.container__status .container__status-content .container__status-content__info div:nth-child(2) {
  padding-left: 10px;
  border-left: 2px solid #1C1E29;
}
.container__status .container__status-content .container__status-content__info div:nth-child(2) h5 {
  font-size: min(14px, 2vw);
}
.container__status .container__status-content .container__status-content__info div:nth-child(2) span {
  font-size: min(14px, 1vw);
}

.border-top-status {
  border-top: 2px solid #1C1E29;
}

.container-tools__adm {
  width: 90%;
  margin: 70px auto;
}
.container-tools__adm h5 {
  margin-top: 20px;
  margin-bottom: 20px;
}
.container-tools__adm .tools__adm {
  margin-left: 20px;
}

/*seção inserção midia*/
#container__insert-media {
  position: absolute;
  width: 100%;
  min-height: 100vh;
  background-color: white;
}

.insert-media__salutation {
  padding-top: 150px;
  width: 90%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.insert-media__salutation span {
  font-size: 40px;
  font-weight: 600;
  color: #1C1E29;
}

.insert-media__btn-group {
  display: flex;
  gap: 20px;
}
.insert-media__btn-group .btn__go-back-midias {
  background: linear-gradient(97deg, #3d9feb 0%, #2a559f 43%, rgba(33, 47, 120, 0.9696253501) 91%);
  padding: 10px;
  cursor: pointer;
  color: white;
}

.option__insert-media {
  width: 90%;
  margin: 30px auto;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.option__insert-media p {
  margin-bottom: 30px;
}

/*seção add filme**/
.add__traler {
  width: 100%;
}

.btn__add__traler {
  background: linear-gradient(97deg, #3d9feb 0%, #2a559f 43%, rgba(33, 47, 120, 0.9696253501) 91%);
  width: 100%;
  max-width: 150px;
  text-align: center;
  color: white;
  padding: 5px 10px;
  cursor: pointer;
  margin-bottom: 30px;
  margin-top: 10px;
}

.container__list-trailer {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.list-trailer__item {
  flex: 1;
  min-width: 250px;
  max-width: 300px;
}
.list-trailer__item div {
  display: flex;
  flex-direction: column;
  gap: 5px;
  margin-bottom: 10px;
}
.list-trailer__item div input {
  border: none;
  background-color: rgba(51, 51, 51, 0.212);
  padding: 8px;
}
.list-trailer__item button {
  max-width: 150px;
}

#container__add-movie-ndash {
  background-color: white;
  padding-top: 150px;
}
#container__add-movie-ndash button {
  cursor: pointer;
}

.content_add-movie {
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
}
.content_add-movie h5 {
  color: #1C1E29;
}
.content_add-movie form {
  font-family: "Inter", sans-serif;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}
.content_add-movie form .adm_agroup-input {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
  max-width: 30%;
}
.content_add-movie form .adm_agroup-input input {
  border: none;
  padding: 0.3rem;
  width: 97%;
  background-color: #e2dddd;
}
.content_add-movie form .adm_agroup-input label {
  padding-left: 10px;
  color: #1C1E29;
  font-size: 0.8rem;
}
.content_add-movie form .adm_agroup-input select {
  padding: 5px;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  color: #333030;
}
.content_add-movie form .adm_agroup-input button {
  background-color: #D3D3D3;
  width: 100%;
  max-width: 150px;
  padding: 5px;
}
.content_add-movie form .adm_agroup-txt-area {
  display: flex;
  flex-direction: column;
  min-width: 100%;
  gap: 15px;
}
.content_add-movie form .adm_agroup-txt-area label {
  color: #1C1E29;
  font-size: 0.8rem;
}
.content_add-movie form .adm_agroup-txt-area textarea {
  width: 100%;
  border-radius: 10px;
  padding: 0.3rem;
  background-color: #e2dddd;
  border: none;
}

.container-btn__add-muvie {
  width: 100%;
  padding-top: 25px;
  padding-bottom: 25px;
  margin-top: 20px;
  display: flex;
  justify-content: flex-end;
  gap: 20px;
}

.btn__add-muvie {
  border-radius: 20px;
  padding: 6px 10px;
  font-family: "Inter", sans-serif;
  cursor: pointer;
}

.btn__add-muvie:nth-child(2) {
  background: linear-gradient(97deg, #3d9feb 0%, #2a559f 43%, rgba(33, 47, 120, 0.9696253501) 91%);
  color: white;
}

.input-checkbox {
  color: #1C1E29;
}

.add-movie__salutation {
  padding-bottom: 30px;
  padding-top: 30px;
  display: flex;
  justify-content: space-between;
}

/*seção de filmes cadastrados*/
/*Movie aprove*/
.ver-filme-link {
  color: #1C1E29;
  transition: all 0.2s;
  border-bottom: 3px solid transparent;
}

.ver-filme-link:hover {
  border-color: #1C1E29;
  box-sizing: border-box;
}

#container__movie-aprove {
  padding-top: 150px;
  background-color: white;
  position: absolute;
  width: 100%;
  padding-bottom: 70px;
}

.container-muvie-aprove {
  width: 90%;
  max-width: 1000px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  gap: 10px;
  flex-wrap: wrap;
}
.container-muvie-aprove .card-muvie-aprove {
  flex: 1;
  min-width: 230px;
  max-width: 230px;
  height: 290px;
  background-color: #333;
  padding: 10px;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding-bottom: 10px;
  font-family: "Inter", sans-serif;
}

.btn__delete-movie {
  width: 100%;
  display: flex;
  padding: 10px;
}
.btn__delete-movie button {
  margin: 0 auto;
  padding: 5px 10px;
  background-color: rgba(51, 51, 51, 0.39);
  color: #333;
}

.indicate-aprove {
  width: 100%;
  font-family: "Inter", sans-serif;
}

.aprove-btn-group {
  font-family: "Inter", sans-serif;
  width: 100%;
  display: flex;
  gap: 15px;
}

.approval-condition {
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
  padding-top: 10px;
  padding-bottom: 10px;
  color: #1C1E29;
}

.salutation__catalogo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
  margin-bottom: 70px;
}
.salutation__catalogo span {
  font-size: 40px;
  font-weight: 600;
  color: #1C1E29;
}
.salutation__catalogo .salutation__catalogo__go-back {
  background-image: url(../../assets/imagens/botão1.png);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  padding: 5px 10px;
  min-width: 100px;
  text-align: center;
  color: #1C1E29;
}

/*COnfiguração de catalogo*/
#conatainer-congfig-catalog {
  position: absolute;
  background-color: white;
  width: 100%;
  padding-top: 150px;
}

.saudation__config {
  width: 100%;
  max-width: 1000px;
  margin: 30px auto;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.saudation__config span {
  font-size: 40px;
  font-weight: 600;
  color: #1C1E29;
}
.saudation__config p {
  font-size: 0.8rem;
  margin-top: 15px;
}

.config-catalogo {
  width: 100%;
  max-width: 1000px;
  margin: 50px auto;
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
}
.config-catalogo .config__genero-categoraia {
  flex: 1;
  padding: 20px;
  min-width: 100%;
  background-color: #ececec;
  height: 300px;
  overflow-x: hidden;
  overflow-y: auto;
}
.config-catalogo .config__genero-categoraia .config__input-add {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
  margin-top: 10px;
}
.config-catalogo .config__genero-categoraia .config__input-add button {
  padding: 10px;
}

.config__item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 5px;
  margin-top: 5px;
  padding: 10PX;
  border: 1px solid #333;
}
.config__item button {
  padding: 10px;
  cursor: pointer;
  background-color: white;
  border: 1px solid blue;
}

.indicate-area {
  width: 100%;
  text-align: right;
  color: #1C1E29;
  margin-bottom: 30px;
}

#container__insertPodcast {
  background-color: white;
  width: 100%;
  position: absolute;
  padding-top: 150px;
}

.insert-podcast__content {
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
}

.podcast__content__salutation {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.podcast__content__salutation span {
  font-weight: 600;
  color: #333;
  font-size: 40px;
}
.podcast__content__salutation p {
  margin-top: 10px;
  color: #818080;
}

.container_input-inser-podcast {
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
  margin-top: 70px;
  display: flex;
  flex-wrap: wrap;
}
.container_input-inser-podcast h4 {
  min-width: 100%;
  margin-bottom: 30px;
  color: #333;
}
.container_input-inser-podcast .podcast-txt-area {
  min-width: 100%;
  margin: 5px;
}
.container_input-inser-podcast .podcast-txt-area textarea {
  width: 99%;
  min-height: 100px;
}

.group-input-label {
  display: flex;
  flex: 1;
  flex-direction: column;
  gap: 5px;
  margin: 5px;
  min-width: 400px;
}
.group-input-label input {
  height: 40px;
  padding-left: 10px;
}
.group-input-label label {
  color: #636262;
}

.podcast__categoria-check-box {
  min-width: 100%;
  margin-top: 10px;
  display: flex;
  flex-wrap: wrap;
}
.podcast__categoria-check-box .group-checkbox-podcast {
  margin-right: 15px;
  padding: 10px;
}
.podcast__categoria-check-box .group-checkbox-podcast input {
  margin-right: 10px;
  cursor: pointer;
}

.podcas-image {
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
  padding: 5px;
  display: flex;
  flex-wrap: wrap;
}
.podcas-image h4 {
  min-width: 100%;
  margin-bottom: 10px;
  margin-top: 20px;
  padding-left: 5px;
}

.img-podcast-type {
  margin: 5px;
  flex: 1;
  display: flex;
  flex-direction: column;
  border: 1px solid black;
  padding: 10px;
  gap: 10px;
}
.img-podcast-type span {
  font-size: max(10px, 0.8rem);
  margin-bottom: 5px;
}
.img-podcast-type input {
  padding: 5px;
}
.img-podcast-type button {
  cursor: pointer;
  background-color: #2a6596;
  color: white;
  padding: 8px;
  text-transform: uppercase;
  font-size: 0.8rem;
}

.group__btn-save-podcast {
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
  display: flex;
  justify-content: flex-end;
  margin-top: 30px;
  padding-bottom: 70px;
  padding-right: 10px;
}
.group__btn-save-podcast button {
  width: 150px;
  padding: 10px;
  border-radius: 30px;
  cursor: pointer;
  background-color: #ebe8e8;
  margin-right: 10px;
}

.nav-config-catalogo {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}
.nav-config-catalogo ul {
  display: flex;
  border-bottom: 3px solid rgba(105, 105, 105, 0.685);
  justify-content: center;
  padding: 10px;
}
.nav-config-catalogo ul li {
  list-style: none;
}
.nav-config-catalogo ul li a {
  padding: 10px 15px;
  color: #1C1E29;
  text-transform: uppercase;
  transition: all 1s;
}
.nav-config-catalogo ul li a:hover {
  text-decoration: underline;
}

#add-partner {
  background-color: white;
  width: 100%;
  position: absolute;
  padding-top: 150px;
}

.contente-partner {
  width: 100%;
  max-width: 83.33333333%;
  margin: 0 auto;
}
.contente-partner span {
  font-size: 2rem;
  position: relative;
  padding-left: 10px;
}
.contente-partner span::before {
  content: "";
  width: 5px;
  height: 100%;
  position: absolute;
  background: linear-gradient(97deg, #3d9feb 0%, #2a559f 43%, rgba(33, 47, 120, 0.9696253501) 91%);
  left: 0;
}
.contente-partner .select-user-level {
  margin-top: 30px;
  margin-bottom: 30px;
  padding: 5px;
  color: #878a91;
  border: 2px solid #999999;
  background-color: white;
  border-radius: 6px;
  cursor: pointer;
}

.user-data div {
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
}
.user-data div label {
  margin-bottom: 5px;
  padding-left: 10px;
}
.user-data div input {
  padding: 8px;
  border-radius: 6px;
  border: 1px solid #dadada;
}

.container-user-data {
  width: 100%;
  max-width: 700px;
  border: 2px solid #dadada;
  padding: 10px;
  border-radius: 6px;
}

.group-btn-user-partiner {
  display: flex;
  margin-top: 30px;
  padding-bottom: 100px;
}

.btn-partiner-blue,
.btn-partiner-wite {
  padding: 8px 15px;
  cursor: pointer;
}

.btn-partiner-blue {
  background: linear-gradient(97deg, #3d9feb 0%, #2a559f 43%, rgba(33, 47, 120, 0.9696253501) 91%);
  color: white;
  border-radius: 2rem;
}

.btn-partiner-wite {
  background-color: white;
  width: 100%;
  border-radius: 2rem;
  color: #333;
}

.border-gradient {
  background: linear-gradient(97deg, #3d9feb 0%, #2a559f 43%, rgba(33, 47, 120, 0.9696253501) 91%);
  width: 100px;
  display: flex;
  padding: 2px;
  border-radius: 2rem;
  margin-right: 15px;
}

#container-list-partiner {
  padding-top: 150px;
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: white;
}

.content-list-partiner {
  width: 100%;
  max-width: 83.33333333%;
  margin: 0 auto;
}
.content-list-partiner span {
  position: relative;
  font-size: 2rem;
  padding-left: 10px;
}
.content-list-partiner span::before {
  position: absolute;
  content: "";
  width: 5px;
  height: 100%;
  background: linear-gradient(97deg, #3d9feb 0%, #2a559f 43%, rgba(33, 47, 120, 0.9696253501) 91%);
  left: 0;
}
.content-list-partiner div {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.content-list-partiner div a {
  color: #878a91;
}
.content-list-partiner div .btn-add-new-partiner {
  font-size: 2rem;
  background: linear-gradient(97deg, #3d9feb 0%, #2a559f 43%, rgba(33, 47, 120, 0.9696253501) 91%);
  width: 40px;
  height: 40px;
  padding: 2px;
  border-radius: 50%;
  margin-left: 10px;
}
.content-list-partiner div .btn-add-new-partiner div {
  width: 100%;
  height: 100%;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  padding-bottom: 3px;
  color: #27357C;
}

.partiner-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 30px;
}
.partiner-table tr {
  text-align: left;
}
.partiner-table tr th, .partiner-table tr td {
  padding: 8px;
  border: 1px solid #dddddd;
  text-align: left;
}
.partiner-table tr:nth-child(even) {
  background-color: #f7f5f5;
}

.delite-partiner {
  padding-left: 20px !important;
  width: 30px;
  border: none;
  color: #27357C;
  cursor: pointer;
}

.btn-list-partiner {
  width: 100%;
  margin-top: 30px;
}
.btn-list-partiner a {
  border: 2px solid #27357C;
  padding: 5px 20px;
  border-radius: 30px;
  color: #27357C !important;
}

.btn-block-movie {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  color: brown;
  background-color: white;
}
.btn-block-movie i {
  font-size: 2rem;
  cursor: pointer;
}

.unlock-movie {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  color: green;
  background-color: white;
}
.unlock-movie i {
  font-size: 2rem;
  cursor: pointer;
}

.catalogContainer {
  width: 100%;
}

.container_page_catalogo {
  width: 90%;
  margin: 0 auto;
  padding-top: 100px;
}

.select-category {
  display: flex;
  align-items: center;
  margin-top: 70px;
  margin-bottom: 70px;
}
.select-category h3 {
  color: white;
  font-size: 2.5rem;
  margin-right: 40px;
  margin-left: 10px;
  position: relative;
  padding-left: 10px;
}
.select-category h3::before {
  content: "";
  width: 5px;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: linear-gradient(97deg, #3d9feb 0%, #2a559f 43%, rgba(33, 47, 120, 0.9696253501) 91%);
}
.select-category .go-back-catalogo {
  display: flex;
  align-items: center;
}
.select-category .go-back-catalogo i {
  color: white;
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid white;
  border-radius: 50%;
  cursor: pointer;
}
.select-category select {
  height: 35px;
  background-color: black;
  color: white;
  padding: 5px;
  align-items: center;
  border: 2px solid white;
  border-radius: 2rem;
  outline: none;
}

.catalog_main {
  width: 100%;
  margin-bottom: 100px;
}

.movie-list-ex {
  display: flex;
  flex-wrap: wrap;
}

.movie-list-ex_card {
  width: 100%;
  max-width: 200px;
  min-width: 200px;
  height: 300px;
  position: relative;
  transform: scale(0.9);
  transition: all ease 0.5s;
  cursor: pointer;
}
.movie-list-ex_card img {
  top: 0;
  left: 0;
  width: 100%;
  position: absolute;
}
.movie-list-ex_card:hover {
  transform: scale(1);
}

.container-category-page {
  width: 100%;
  margin: 0 auto;
  overflow: hidden;
  padding-bottom: 100px;
}

.banner__category {
  width: 100%;
  height: 90vh;
  margin: auto;
  display: flex;
  align-items: flex-end;
  position: relative;
  z-index: 0;
  overflow: hidden;
}
.banner__category img {
  position: absolute;
  width: 100%;
}

.category-info {
  color: white;
  z-index: 10;
  width: 100%;
  max-width: 83.33%;
  margin: 0 auto;
}
.category-info span {
  font-size: 1.2rem;
}
.category-info .title-category {
  margin-top: 20px;
  display: flex;
  align-items: center;
}
.category-info .title-category a {
  color: white;
}
.category-info .title-category .category__get-out {
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  border: 2px solid white;
  margin-right: 10px;
}
.category-info .title-category h1 {
  margin: 0;
  padding-left: 10px;
  position: relative;
  font-size: 1.5rem;
}
.category-info .title-category h1::before {
  content: "";
  width: 5px;
  height: 100%;
  position: absolute;
  background: linear-gradient(97deg, #3d9feb 0%, #2a559f 43%, rgba(33, 47, 120, 0.9696253501) 91%);
  top: 0;
  left: 0;
}
.category-info .category__description {
  max-width: 50%;
  padding-top: 20px;
}
.category-info .category__description p {
  font-weight: lighter;
  font-size: 0.9rem;
}

.category__main {
  width: 100%;
  max-width: 83.33%;
  padding-top: 30px;
  margin: 0px auto;
}
.category__main nav ul {
  display: flex;
}
.category__main nav ul li {
  margin-right: 30px;
  list-style: none;
  text-align: center;
  color: white;
  text-transform: uppercase;
  cursor: pointer;
  padding-bottom: 5px;
  font-size: 1.2rem;
}

.active-category {
  position: relative;
}
.active-category::before {
  content: "";
  width: 100%;
  height: 5px;
  background: linear-gradient(97deg, #3d9feb 0%, #2a559f 43%, rgba(33, 47, 120, 0.9696253501) 91%);
  position: absolute;
  bottom: 0;
}

.content-category-abas {
  width: 100%;
  max-width: 83.33%;
  margin: 30px auto;
  min-height: 250px;
  position: relative;
}

.active-category-aba {
  z-index: 1;
  opacity: 1;
}

.in-production {
  background-color: #928f8f;
}

.content-aba-txt {
  padding-top: 30px;
}
.content-aba-txt p {
  color: white;
  font-size: 1rem;
}
.content-aba-txt .container-btn-category {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 30px;
}

.indication-movie {
  margin-top: 40px;
}
.indication-movie span {
  color: white;
  font-size: 1rem;
}

.container-erro {
  width: 100%;
  overflow: hidden;
  background-color: white;
  display: flex;
  justify-content: flex-end;
  padding: 20px;
}
.container-erro img {
  position: fixed;
  width: 50%;
  left: -200px;
  top: 30px;
}
.container-erro .erro_content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
  max-width: 500px;
  height: 100vh;
}
.container-erro .erro_content h3 {
  color: #1C1E29;
  font-size: 4rem;
}
.container-erro .erro_content p {
  font-size: 1.3rem;
  margin-top: 30px;
}
.container-erro .erro_content .btn-erro {
  background: linear-gradient(97deg, #3d9feb 0%, #2a559f 43%, rgba(33, 47, 120, 0.9696253501) 91%);
  color: white;
  padding: 10px;
  width: 200px;
  border-radius: 2rem;
  margin-top: 30px;
}
.container-erro .container-img {
  width: 100%;
  max-width: 50%;
  height: 100vh;
  position: relative;
  overflow: hidden;
}

.container_privacy-poticy {
  min-height: 100vh;
  background-color: white;
  padding-top: 180px;
  padding-bottom: 100px;
}
.container_privacy-poticy .content_privacy {
  max-width: 83.33333333%;
  margin: 0 auto;
  width: 100%;
}
.container_privacy-poticy .content_privacy h1 {
  color: #333;
  margin: 0;
}
.container_privacy-poticy .content_privacy h2 {
  color: #333;
  margin-bottom: 40px;
}
.container_privacy-poticy .content_privacy p {
  font-size: 1.2rem;
}
.container_privacy-poticy .content_privacy .btn-politica {
  padding: 5px 20px;
  background: linear-gradient(97deg, #3d9feb 0%, #2a559f 43%, rgba(33, 47, 120, 0.9696253501) 91%);
  border-radius: 2rem;
  color: white;
}
.container_privacy-poticy .privacy_footer {
  background-color: #1C1E29;
  margin-top: 70px;
}

#container-teste {
  width: 100%;
  height: 100vh;
  background-color: #1C1E29;
  padding-top: 100px;
}

.container_carrosel {
  width: 100%;
  max-width: 83.33%;
  margin: 0 auto;
  min-height: 300px;
  overflow: hidden;
  position: relative;
  display: flex;
  flex-direction: column;
  transition: all ease 0.5s;
}

.carrosel {
  width: 100%;
  height: 300px;
  display: flex;
  transition: all ease 0.5s;
}

.card {
  flex: 1;
  min-width: 200px;
  background-color: #838383;
  margin: 10px;
  position: relative;
}

.hover-movie {
  position: absolute;
  top: 0;
  left: 0;
  width: 125%;
  height: 100%;
  background-color: brown;
  opacity: 0;
  transition: all ease 0.5s;
}
.hover-movie:hover {
  opacity: 1;
  top: -10px;
  left: 30px;
  z-index: 9999999;
}

.btn-slider-left, .btn-slider-right {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  border: none;
  color: white;
  cursor: pointer;
}
.btn-slider-left i, .btn-slider-right i {
  border-radius: 50%;
  border: 2px solid white;
}

.btn-slider-left {
  left: 10px;
  background-color: #1C1E29;
  padding: 10px;
}

.btn-slider-right {
  background-color: #1C1E29;
  right: 0;
  width: 50px;
  box-shadow: -14px 3px 19px 7px #1C1E29;
}

body {
  height: 100%;
  font-family: "Inter", sans-serif !important;
}

html {
  font-family: "Inter", sans-serif !important;
}

fieldset {
  border: none;
}

button {
  border: none;
}

button:focus {
  outline: 0px auto -webkit-focus-ring-color;
  outline-offset: 0px;
}

/*Estilo geral dos componentes*/
/*Cabeçalho topo*/
/*--------------------------------*/
@media (max-width: 600px) {
  html {
    font-size: 70%;
  }
}
@media screen and (max-width: 900px) and (min-width: 600px) {
  html {
    font-size: 80%;
  }
}
@media screen and (max-width: 1200px) and (min-width: 900px) {
  html {
    font-size: 95%;
  }
}
@media screen and (max-width: 1500px) and (min-width: 1200px) {
  html {
    font-size: 100%;
  }
}
#pagina-em-dev {
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  width: 100vw;
  height: 100vh;
}
#pagina-em-dev h1 {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*# sourceMappingURL=index.css.map */
